<template>
<v-container>
      <v-card flat>
        <v-card-text>
          <UploadFileField :hint="hint" :label="label" :prependIcon="prependIcon" @changed="updateNewFile"/>
            <!-- <v-checkbox
              v-model="columnHeadersFirstLine"
              :label="$t('columnHeadersFirstLine')"
              color="success"
            /> -->
          <p class="text-subtitle-1">{{ $t('disclaimerColumnHeader.1')}}, <strong>{{ $t('disclaimerColumnHeader.2')}}</strong>, {{ $t('disclaimerColumnHeader.3')}}.</p>
          <p class="text-subtitle-1">{{ $t('disclaimerColumnHeader2.1')}}, <strong>{{ $t('disclaimerColumnHeader2.2')}}</strong>, {{ $t('disclaimerColumnHeader2.3')}}.</p>
          <p class="text-subtitle-1">{{ $t('disclaimerUtf8')}}.</p>
          <p class="mt-5" v-if="exampleFileUrl"><v-icon>mdi-download</v-icon>{{ $t('download')}} <a :href="exampleFileUrl" alt="Fichier d'exemple">{{ $t('exampleFile')}}</a>.</p>
        </v-card-text>
        <v-card-actions>
          <v-btn
            color="primary"
            text
            @click="launchAction()"
            :loading="importLoading"
          >
            {{ $t('import') }}
          </v-btn>
        </v-card-actions>        
      </v-card>
      <v-alert type="info" v-if="messages && messages.length > 0">
        <span v-html="messages"></span>
      </v-alert>
      <v-alert type="error" v-if="errors && errors.length > 0">
        <span v-html="errors"></span>
      </v-alert>
</v-container>
</template>
<script>
import UploadFileField from '@/components/field/UploadFileField.vue';

import {messages_components_en, messages_components_fr} from '@/translations/components/import/Import/';

export default {
  props:{
    hint:{
      type: String,
      default: null
    },
    label:{
      type: String,
      default: null
    },
    prependIcon:{
      type: String,
      default: null
    },
    prependIcon:{
      type: String,
      default: null
    },
    baseResource:{
      type: String,
      default: null
    },
    exampleFileUrl:{
      type: String,
      default: ""
    }
  },
  components:{
    UploadFileField
  },
  i18n: {
    messages: {
      'en': messages_components_en,
      'fr': messages_components_fr
    }
  },
  data(){
    return {
        resource: this.baseResource,
        newFile: null,
        messages: "",
        errors: "",
        columnHeadersFirstLine: true
    }
  },
  computed:{
    importLoading(){
        return this.$store.getters[`${this.resource}/importLoading`];
    },
    importResponse(){
        return this.$store.getters[`${this.resource}/importResponse`];
    }    
  },
  watch:{
    importResponse(){
        this.messages = this.$store.getters[`${this.resource}/importResponse`]['messages'].join('<br />');
        this.errors = this.$store.getters[`${this.resource}/importResponse`]['errors'].join('<br />');
    }
  },
  methods:{
    launchAction(){
        this.clearMessages();
        this.$store.dispatch(`${this.resource}/importCollection`, {file: this.newFile, columnHeadersFirstLine: this.columnHeadersFirstLine});
    },
    updateNewFile(data){
        this.newFile = data;
    },
    clearMessages(){
      this.messages = "";
      this.errors = "";
    }
  }
};
</script>