<template>
  <div>
    <v-toolbar flat>
      <!-- title -->
      <v-toolbar-title>
        <h2>{{ $t('analytic_list') }}</h2>
      </v-toolbar-title>
    </v-toolbar>

    <!-- dashboard tabs -->
    <v-tabs
      v-if="dashboards.length>1"
    >
      <v-tab
        v-model="dashboards"
        v-for="dashboard_tab in dashboards"
        v-bind:key="dashboard_tab.title"
        @click="setAndDisplayDashboard(dashboard_tab.dashboardId)"
      >
        {{ $t(dashboard_tab.title) }}
      </v-tab>
    </v-tabs>


    <p>{{ date_of_data }}</p>
    <v-alert dense type="warning" icon="mdi-alert" max-width="50%">{{ $t("warning_time_loading") }}</v-alert>

    <AnalyticFilters 
      :communityId="null"
      :fixedPeriodicity="fixedPeriodicity"
      :territoryId="territoryId"
      @communityChange="communityChange"
      @territoryChange="territoryChange"
    />
    <AnalyticDashboard :url="url" />
  </div>
</template>

<script>
import getEnv from '@/utils/env';
import AnalyticDashboard from '@/components/analytic/AnalyticDashboard';
import AnalyticFilters from '@/components/analytic/AnalyticFilters';

import ResourceShowMixin from "@/mixins/ResourceShow";
import PageTitleMixin from "@/mixins/PageTitle";
import DateFormatMixin from "@/mixins/DateFormat";
import DashboardsMixin from "@/mixins/Dashboards";

import {messages_dates_en, messages_dates_fr} from '@/translations/views/Dates/';
import {messages_views_en, messages_views_fr} from '@/translations/views/Analytics/';
import {messages_routes_en, messages_routes_fr} from "@/translations/routes/";

let messages_en = {...messages_views_en,
  routes: { ...messages_routes_en },
  dates: { ...messages_dates_en }
};
let messages_fr = {...messages_views_fr,
  routes: { ...messages_routes_fr },
   dates: {...messages_dates_fr }
};

export default {
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  components:{
    AnalyticDashboard,
    AnalyticFilters
  },
  mixins: [ResourceShowMixin, PageTitleMixin, DateFormatMixin, DashboardsMixin],
  watch: {
    selected: function() {
      let filters = this.$store.getters['an/filter'];
      this.filter_with_territory(filters.territoryFilter);
      this.filter_with_community(filters.communityFilter);
      //this.displayDashboard();
    },      
  },
  data () {
    return {
      // define the store module used
      resource: 'an',
      dashboards_no_community_filter: [
        {title: 'summary', dashboardId: DashboardsMixin.types.summary, fixedPeriodicity: true},
        {title: 'users', dashboardId: DashboardsMixin.types.users},
        {title: 'proposed_journeys', dashboardId: DashboardsMixin.types.proposed_journeys},
        {title: 'impact', dashboardId: DashboardsMixin.types.impact},
        {title: 'communities', dashboardId: DashboardsMixin.types.communities, fixedPeriodicity: true},
        {title: 'solidary_users', dashboardId: DashboardsMixin.types.solidary_users},
      ],
       dashboards_community_filtered: [
        {title: 'summary', dashboardId: DashboardsMixin.types.summary_community, fixedPeriodicity: true},
        {title: 'users', dashboardId: DashboardsMixin.types.users},
        {title: 'proposed_journeys', dashboardId: DashboardsMixin.types.proposed_journeys},
        {title: 'impact', dashboardId: DashboardsMixin.types.impact},
      ],
      dashboard_tabs: null,
      selected_dashboard_tab: DashboardsMixin.types.summary,
      selected_periodicity: DashboardsMixin.periodicities.monthly,
      selected_territory: null,
      selected_community: null,
      forceDefaultTerritoryId: true
    };
  },
  created(){
    if (getEnv('VUE_APP_SOLIDARY')==='false'){
      this.dashboards_no_community_filter.splice(4,1)
    }
    this.dashboard_tabs = this.dashboards_no_community_filter;
    let filters = this.$store.getters['an/filter'];
    let territory_filter = (filters.territoryFilter) ? filters.territoryFilter: null;
    this.filter_with_territory(territory_filter);
  },
  mounted(){
    this.displayDashboard();
    this.forceDefaultTerritoryId = false;
  },
};
</script>
