<template>
          <v-row>
            <v-col cols="4">
              <community-complete-field
                :value="communityId"
                :label="$t('communityFilter')"
                @input="communityChange"
                :readOnly="communityFilterReadOnly"
              />
            </v-col>
            <v-col cols="4">
              <territory-complete-field
                :value="territoryId"
                :label="$t('territoryFilter')"
                @input="territoryChange"
                :readOnly="territoryFilterReadOnly"
              />
            </v-col>
            <v-col v-if="!fixedPeriodicity" cols="4">
                <analytic-periodicity />
            </v-col>
          </v-row>
</template>

<script>
import AnalyticPeriodicity from '@/components/analytic/AnalyticPeriodicity';
import CommunityCompleteField from '@/components/field/CommunityCompleteField';
import TerritoryCompleteField from '@/components/field/TerritoryCompleteField';
import {messages_views_en, messages_views_fr} from '@/translations/views/Analytics/';

export default {
  props:{
    communityId:{
      type: Number,
      default: null
    },
    territoryId:{
      type: Number,
      default: null
    },
    communityFilterReadOnly:{
        type: Boolean,
        default: false
    },
    territoryFilterReadOnly:{
        type: Boolean,
        default: false
    },
    fixedPeriodicity:{
        type: Boolean,
        default: false
    }
  },
  i18n: {
    messages: {
      'en': messages_views_en,
      'fr': messages_views_fr
    }
  },
  components:{
    AnalyticPeriodicity,
    CommunityCompleteField,
    TerritoryCompleteField
  },
  methods:{
    communityChange(val){
        this.$emit('communityChange', val);
    },
    territoryChange(val){
        this.$emit('territoryChange', val);
    }    
  }
};
</script>