<template>
  <div>
    <v-btn-toggle v-model="selectedPeriodicity" @change="changePeriodicity">
      <v-btn :value="daily">
        {{ $t(`parameters.aggregInterval.${daily}`) }}
      </v-btn>
      <v-btn :value="monthly">
        {{ $t(`parameters.aggregInterval.${monthly}`) }}
      </v-btn>
    </v-btn-toggle>
  </div>
</template>

<script>
import DashboardsMixin from "@/mixins/Dashboards";
import {messages_routes_en, messages_routes_fr} from '@/translations/routes/';
import {messages_views_en, messages_views_fr} from '@/translations/views/Analytics/';

let messages_en = { ...messages_views_en, routes: {...messages_routes_en }};
let messages_fr = { ...messages_views_fr, routes: {...messages_routes_fr }};

export default {
  mixins: [
    DashboardsMixin,
  ],
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  data() {
    return {
      selectedPeriodicity: DashboardsMixin.periodicities.monthly
    };
  },
  computed:{
    daily(){
      return DashboardsMixin.periodicities.daily;
    },
    monthly(){
      return DashboardsMixin.periodicities.monthly;
    }    
  },
  methods:{
    changePeriodicity(val){
      this.$store.dispatch('an/changePeriodicity', this.selectedPeriodicity);
    }
  }
};
</script>