<template>
  <div>
    <v-toolbar flat>
      <!-- title -->
      <v-toolbar-title>
        <h2>{{ $t('analytic_list') }}</h2>
      </v-toolbar-title>
    </v-toolbar>

    <!-- dashboard tabs -->
    <v-tabs
      v-if="dashboards.length>1"
    >
      <v-tab
        v-model="dashboards"
        v-for="dashboard_tab in dashboards"
        v-bind:key="dashboard_tab.title"
        @click="setAndDisplayDashboard(dashboard_tab.dashboardId)"
      >
        {{ $t(dashboard_tab.title) }}
      </v-tab>
    </v-tabs>


        <p>{{ date_of_data }}</p>
        <v-alert dense type="warning" icon="mdi-alert" max-width="50%">{{ $t("warning_time_loading") }}</v-alert>

        <v-alert v-if="showTargetMessage" dense type="info" icon="mdi-alert" max-width="50%" v-html="$t('community_members_info', { communityId: selectedCommunityId})" 
        />

    <AnalyticFilters
      :territoryId="territoryId"
      :communityId="selectedCommunityId"
      :fixedPeriodicity="fixedPeriodicity"
      @territoryChange="territoryChange"
      :communityFilterReadOnly="true" />
    <AnalyticDashboard :url="url" />
  </div>
</template>

<script>
import AnalyticDashboard from '@/components/analytic/AnalyticDashboard';
import AnalyticFilters from '@/components/analytic/AnalyticFilters';

import ResourceShowMixin from "@/mixins/ResourceShow";
import PageTitleMixin from "@/mixins/PageTitle";
import DateFormatMixin from "@/mixins/DateFormat";
import DashboardsMixin from "@/mixins/Dashboards";

import {messages_dates_en, messages_dates_fr} from '@/translations/views/Dates/';
import {messages_views_en, messages_views_fr} from '@/translations/views/Analytics/';
import {messages_routes_en, messages_routes_fr} from "@/translations/routes/";

let messages_en = {...messages_views_en,
  routes: { ...messages_routes_en },
  dates: { ...messages_dates_en }
};
let messages_fr = {...messages_views_fr,
  routes: { ...messages_routes_fr },
   dates: {...messages_dates_fr }
};

export default {
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  components:{
    AnalyticDashboard,
    AnalyticFilters,
  },
  mixins: [ResourceShowMixin, PageTitleMixin, DateFormatMixin, DashboardsMixin],
  watch: {
    selected: function() {
      let filters = this.$store.getters['an/filter'];
      this.filter_with_territory(filters.territoryFilter);
      this.filter_with_community(filters.communityFilter);
    },
  },
  props:{
    selectedCommunityId:{
      type: Number,
      default: null
    },
    initialDashboardId:{
      type: String,
      default: DashboardsMixin.types.summary_community
    },
    target:{
      type: Number,
      default: null
    },
  },
  data () {
    return {
      // define the store module used
      resource: 'an',
      dashboards_community_filtered: [
        {title: 'summary', dashboardId: DashboardsMixin.types.summary_community, fixedPeriodicity: true},
        {title: 'impact', dashboardId: DashboardsMixin.types.impact},
        {title: 'proposed_journeys', dashboardId: DashboardsMixin.types.proposed_journeys},
        {title: 'community_members', dashboardId: DashboardsMixin.types.community_members},
      ],
      dashboard_tabs: null,
      selected_dashboard_tab: this.initialDashboardId,
      selected_periodicity: DashboardsMixin.periodicities.monthly,
      selected_territory: null,
      selected_community: this.selectedCommunityId,
      forceDefaultTerritoryId: false,
      showTargetMessage: false,
    };
  },
  created(){
    this.dashboard_tabs = this.dashboards_community_filtered;
    let filters = this.$store.getters['an/filter'];
    let territory_filter = (filters.territoryFilter) ? filters.territoryFilter: null;
    this.filter_with_territory(territory_filter);
  },
  mounted(){
    this.displayDashboard();
    this.forceDefaultTerritoryId = false;
  },
  watch: {
    selected_dashboard_tab(val) {
      if (val == 'community_members') {
        this.showTargetMessage = this.target <= 0 ? true : false;
        setTimeout(() => {
          this.showTargetMessage = false
        }, 20000);
      }
      else {
        this.showTargetMessage = false;
      }
    }
  },
};
</script>
