<template>
  <div>
    <iframe
      v-if="url"
      :src="url"
      frameborder="0"
      height="520"
      allowtransparency
      style="width: 0; min-width: 100% !important; height: 100vh;"
    />
    <p v-else>
      {{ $t('no_dashboard') }}
    </p>
  </div>
</template>

<script>
import PageTitleMixin from '@/mixins/PageTitle';

import {messages_routes_en, messages_routes_fr} from '@/translations/routes/';
import {messages_views_en, messages_views_fr} from '@/translations/views/Analytics/';

let messages_en = { ...messages_views_en, routes: {...messages_routes_en }};
let messages_fr = { ...messages_views_fr, routes: {...messages_routes_fr }};

export default {
  mixins: [
    PageTitleMixin,
  ],
  props:{
    url:{
      type: String,
      default: null
    }
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  data() {
    return {};
  },
  mounted(){
  },
  methods:{
  }
};
</script>