<template>
  <div class="event">
    <v-card
      outlined
      loader-height="8"
    >
    <v-toolbar flat>
        <v-toolbar-title
        >
          <h2>
            {{ $t('community_users_import') }} 
          </h2>
        </v-toolbar-title>
        <v-spacer />      
    </v-toolbar>
    </v-card>
    <v-alert type="info">{{ $t('import.users.warning') }}</v-alert>
    <Import
      :hint="$t('import.users.file.hint')"
      :label="$t('import.users.file.label')"
      :prependIcon="$t('import.users.file.prependIcon')"
      :baseResource="resource"
      :exampleFileUrl="exampleFileUrl"
    />
  </div>  
</template>

<script>
import {messages_views_en, messages_views_fr} from '@/translations/views/Communities/';
import Import from '@/components/import/Import.vue';
import getEnv from '@/utils/env';

export default {
  components:{
    Import
  },
  i18n: {
    messages: {
      'en': messages_views_en,
      'fr': messages_views_fr
    }
  },
  data: () => ({
    resource: 'c',    
  }),
  computed:{
    exampleFileUrl(){
      return this.$t('import.users.file.exampleFileUrl', {apiUri:getEnv('VUE_APP_API_URL')});
    }
  }
};
</script>