<template>
  <!-- show sections -->
  <div
    v-if="readOnly"
    class="section"
  >
    <v-expansion-panels
      accordion
      multiple
      flat
    >
      <v-expansion-panel
        v-for="(item,i) in sections"
        :key="i"
      >
        <v-expansion-panel-header>
          <h3>
            {{ item.title }}
            <v-chip
              small
              :color="item.status == 0 ? 'warning': 'primary'"
            >
              {{ getStatus(item.status) }}
            </v-chip>
          </h3>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <h4 v-if="item.subTitle">
            {{ item.subTitle }}
          </h4>
          <paragraph-list
            :paragraphs="item.paragraphs"
            :read-only="true"
          />
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </div>
  <!-- edit sections -->
  <div
    v-else
    class="section"
  >
    <v-hover
      v-for="(item,i) in sections"
      :key="i"
    >
      <template v-slot:default="{ hover }">
        <v-card
          class="mb-4"
          :elevation="hover ? 6 : 0"
        >
          <v-card-title>
            <v-row align="center">
              <v-col cols="2">
                {{ $t('section_number',{ position: item.position}) }}
              </v-col>
              <v-col cols="2">
                <v-select
                  v-model="sections[i].status"
                  :items="statuses"
                  :menu-props="{ maxHeight: '400' }"
                  :label="$t('section.status.label')"
                  autocomplete="fb689dde560b"
                />
              </v-col>
              <v-col
                cols="8"
                align="right"
              > 
                <v-btn
                  v-if="!isFirst(item.position)"
                  class="mr-2"
                  fab
                  dark
                  x-small
                  color="primary"
                  @click="up(item)"
                >
                  <v-icon>
                    mdi-arrow-up
                  </v-icon>
                </v-btn>
                <v-btn
                  v-if="!isLast(item.position)"
                  class="mr-2"
                  fab
                  dark
                  x-small
                  color="primary"
                  @click="down(item)"
                >
                  <v-icon>
                    mdi-arrow-down
                  </v-icon>
                </v-btn>
                <v-btn
                  class="mr-2"
                  fab
                  dark
                  x-small
                  color="error"
                  @click="remove(item)"
                >
                  <v-icon>
                    mdi-trash-can
                  </v-icon>
                </v-btn>
              </v-col>
            </v-row>
          </v-card-title>
          <v-card-text>
            <v-row>
              <v-col cols="6">
                <v-text-field
                  v-model="sections[i].title"
                  :label="$t('section.title')"
                  clearable
                  counter="255"
                  autocomplete="8deea058b1bc"
                />
              </v-col>
              <v-col cols="6">
                <v-text-field
                  v-model="sections[i].subTitle"
                  :label="$t('section.subTitle')"
                  clearable
                  counter="255"
                  autocomplete="ddaae7b552c9"
                />
              </v-col>
            </v-row>
            <paragraph-list
              :paragraphs="item.paragraphs"
            />
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn
              color="primary"
              @click="addParagraph(item)"
            >
              {{ $t('paragraph_add') }}
              <v-icon right>
                mdi-plus
              </v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>
      </template>
    </v-hover>
    <div align="right">
      <v-btn
        color="primary"
        @click="addSection"
      >
        {{ $t('section_add') }}
        <v-icon right>
          mdi-plus
        </v-icon>
      </v-btn>
    </div>
  </div>
</template>

<script>
import ParagraphList from '@/components/article/ParagraphList';

import {messages_models_en, messages_models_fr} from '@/translations/models/Section/';
import {messages_views_en, messages_views_fr} from '@/translations/views/Articles/';

let messages_en = { ...messages_views_en, section: { ...messages_models_en }};
let messages_fr = { ...messages_views_fr, section: { ...messages_models_fr }};

export default {
  components: {
    ParagraphList
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  props: {
    readOnly: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      resource: 'a',
    };
  },
  computed: {
    item() {
      return this.$store.getters[this.resource+'/editedItem'];
    },
    sections: {
      get: function() {
        return this.item.sections;
      },
      set: function(val) {
        this.items.sections = val;
      }
    },
    statuses() {
      return [
        { text: this.$t('section.status.items.pending.name'), value: parseInt(this.$t('section.status.items.pending.value')) }, 
        { text: this.$t('section.status.items.active.name'), value: parseInt(this.$t('section.status.items.active.value')) }
      ];
    }
  },
  methods: {
    getStatus(status) {
      if (status == 0) {
        return this.$t('section.status.items.pending.name');
      }
      if (status == 1) {
        return this.$t('section.status.items.active.name');
      }
      return 'undefined';
    },
    isFirst(position) {
      return (this.sections.reduce((min, section) => section.position < min ? section.position : min, this.sections[0].position)) == position;
    },
    isLast(position) {
      return (this.sections.reduce((max, section) => section.position > max ? section.position : max, this.sections[0].position)) == position;
    },
    up(section) {
      // find upper sections
      let upperSections = this.sections.filter( item => item.position < section.position );
      // find max position in upper sections
      let upperPosition = upperSections.reduce((max, item) => item.position > max ? item.position : max, upperSections[0].position);
      // switch sections
      this.switch(section.position,upperPosition);
    },
    down(section) {
      // find lower sections
      let lowerSections = this.sections.filter( item => item.position > section.position );
      // find min position in lower sections
      let lowerPosition = lowerSections.reduce((min, item) => item.position < min ? item.position : min, lowerSections[0].position);
      // switch sections
      this.switch(section.position,lowerPosition);
    },
    switch(pos1,pos2) {
      let pos1Key = Object.keys(this.sections).find(key => this.sections[key].position === pos1);
      let pos2Key = Object.keys(this.sections).find(key => this.sections[key].position === pos2);
      this.sections[pos1Key].position = pos2;
      this.sections[pos2Key].position = pos1;
      // sort sections
      this.sections.sort((a,b) => (a.position > b.position) ? 1 : ((b.position > a.position) ? -1 : 0));
    },
    remove(section) {
      const position = section.position;
      // remove section
      let key = Object.keys(this.sections).find(key => this.sections[key].position === section.position);
      this.sections.splice(key,1);
      // remove 1 position to each lower sections
      this.sections.forEach(element => {
        if (element.position>position) {
          element.position--;
        }
      });
    },
    addSection() {
      // sections is null in create mode
      if (this.sections === null) {
        this.item.sections = [];
      }
      this.sections.push({
        position: this.sections.length>0 ? 1+this.sections[this.sections.length - 1].position : 1,
        status: 0,
        title: null,
        subTitle: null,
        paragraphs: []
      });
      //this.$emit('sectionAdded', this.sections );
    },
    addParagraph(section) {
      let key = Object.keys(this.sections).find(key => this.sections[key].position === section.position);
      this.sections[key].paragraphs.push({
        position: this.sections[key].paragraphs.length>0 ? 1+this.sections[key].paragraphs[this.sections[key].paragraphs.length - 1].position : 1,
        status: 0,
        text:null
      });
    }
  },
};
</script>