<template>
  <div class="event">
    <v-card outlined loader-height="8">
      <v-toolbar flat>
        <v-toolbar-title>
          <h2>
            {{ $t("users_import") }}
          </h2>
        </v-toolbar-title>
        <v-spacer />
      </v-toolbar>
    </v-card>
    <v-alert type="info">
      <p>{{ $t("import.users.warning") }}</p>
      <p class="text-subtitle">{{$t("import.users.hint.title")}} :</p>
      <ul>
        <li><strong>{{$t("import.users.hint.consent.field")}}</strong> : {{$t("import.users.hint.consent.hint")}}</li>
        <li><strong>{{$t("import.users.hint.gender.field")}}</strong> : {{$t("import.users.hint.gender.hint")}}</li>
        <li><strong>{{$t("import.users.hint.birthDate.field")}}</strong> : {{$t("import.users.hint.birthDate.hint")}}</li>
        <li><strong>{{$t("import.users.hint.communityId.field")}}</strong> : {{$t("import.users.hint.communityId.hint")}}</li>
      </ul>
    </v-alert>
    <Import
      :hint="$t('import.users.file.hint')"
      :label="$t('import.users.file.label')"
      :prependIcon="$t('import.users.file.prependIcon')"
      :baseResource="resource"
      :exampleFileUrl="exampleFileUrl"
    />
  </div>
</template>
<script>
import {
  messages_views_en,
  messages_views_fr,
} from "@/translations/views/Users/";
import Import from "@/components/import/Import.vue";
import getEnv from "@/utils/env";

export default {
  components: {
    Import,
  },
  i18n: {
    messages: {
      en: messages_views_en,
      fr: messages_views_fr,
    },
  },
  data: () => ({
    resource: "u",
  }),
  computed: {
    exampleFileUrl() {
      return this.$t("import.users.file.exampleFileUrl", {
        apiUri: getEnv("VUE_APP_API_URL"),
      });
    },
  },
};
</script>
