<template>
  <div class="user">
    <!-- the 'if' in the v-card is used to be sure the item is loaded before continue -->
    <v-card
      outlined
      :loading="loading"
      loader-height="8"
    >
      <v-toolbar flat>
        <!-- back button -->
        <v-btn
          v-if="item" 
          icon
          color="primary"
          @click="$router.push(parentComponentPath)"
        >
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>

        <!-- title -->
        <v-toolbar-title
          v-if="item"
        >
          <h2>
            {{ $t('user_show') }} 
            <v-chip
              class="ma-2"
              outlined
              color="primary"
              label
            >
              <v-avatar left>
                <v-img 
                  v-if="item.avatar"
                  :src="item.avatar"
                />
                <v-icon
                  v-else
                >
                  mdi-account-circle-outline
                </v-icon>
              </v-avatar>
              {{ item.givenName }} {{ item.familyName }}
            </v-chip>
          </h2>
        </v-toolbar-title>
        <v-spacer />

        <!-- buttons -->
        <v-toolbar-items>
          <!-- edit item -->
          <v-btn
            v-if="item"
            text
            color="green"
            :to="editItem()"
          >
            {{ $t('edit') }}
            <v-icon right>
              mdi-pencil
            </v-icon>
          </v-btn>
          <!-- refresh -->
          <v-btn
            text
            color="green"
            :loading="loading"
            @click="hardRefresh()"
          >
            {{ $t('refresh') }}
            <v-icon>
              mdi-refresh
            </v-icon>
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>

      <!-- detail tabs -->
      <v-container
        v-if="item"
      >
        <v-row>
          <v-col
            :cols="12"
          >
            <v-card
              flat
            >
              <!-- tabs list -->
              <v-tabs
                v-if="tabs().length>1"
                v-model="mtab"
              >
                <v-tab
                  v-for="tab in tabs()"
                  :key="tab.label"
                >
                  {{ tab.label }}
                </v-tab>
              </v-tabs>
              <v-divider />

              <!-- tabs content -->
              <v-tabs-items 
                v-model="mtab"
              >
                <v-tab-item
                  v-for="tab in tabs()"
                  :key="tab.label"
                >
                  <!-- container for regular fields -->
                  <v-container
                    v-if="tab.rows"
                  >
                    <v-row 
                      v-for="row in tab.rows"
                      :key="row.id"
                    >
                      <v-col
                        v-for="field in row.fields"
                        :key="field.name"
                        :cols="field.cols"
                        :sm="field.cols"
                        :md="field.cols"
                      >
                        <field-choice
                          :resource="resource"
                          :field="field"
                          :read-only="true"
                        />
                      </v-col>
                    </v-row>
                  </v-container>
                  <!-- special fields, handled by their dedicated component -->
                  <component 
                    :is="tab.component"
                    v-else-if="tab.component"
                    :roles-territory="item[tab.name]"
                    :field="tab.name"
                    :item="item"
                    :read-only="true"
                  />
                </v-tab-item>
              </v-tabs-items>
            </v-card> 
          </v-col>
        </v-row>
        <v-alert
          v-if="addressIncomplete && eecAvailable"
          type="info"
        >
          {{ $t('warningHomeAddressIncomplete') }}
        </v-alert>

      </v-container>
    </v-card>
  </div>
</template>

<script>
import FieldChoice from '@/components/field/FieldChoice.vue';
import ResourceShowMixin from '@/mixins/ResourceShow';
import PageTitleMixin from '@/mixins/PageTitle';
import DateFormatMixin from '@/mixins/DateFormat';
import RolesChoice from '@/components/field/RolesChoice';
import moment from 'moment';

// import the translations
import {messages_routes_en, messages_routes_fr} from '@/translations/routes/'; 
import {messages_views_en, messages_views_fr} from '@/translations/views/Users/';
import {messages_dates_en, messages_dates_fr} from '@/translations/views/Dates/';
import {messages_models_en, messages_models_fr} from '@/translations/models/User/';

let messages_en = { ...messages_views_en, dates: {...messages_dates_en }, routes: {...messages_routes_en }, user: { ...messages_models_en }};
let messages_fr = { ...messages_views_fr, dates: {...messages_dates_fr }, routes: {...messages_routes_fr }, user: { ...messages_models_fr }};

export default {
  components: {
    FieldChoice,
    RolesChoice
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  mixins: [
    ResourceShowMixin,
    PageTitleMixin,
    DateFormatMixin
  ],
  data() {
    return {
      // define the store module used
      resource: 'u',
      // selected items in the members datatable
      selected: []
    };
  },
  methods: {
    // define the fields by tabs (mandatory)
    // at least one tab is needed 
    // if there's only one tab modify the v-tab above to display the content only and not the tab label
    tabs() {
      let identityRows = [
                { label: this.$t('user.gender.label'), name: 'gender', type: 'select', cols:'4', values: [ 
                  { text: this.$t('user.gender.items.other.name'), value: parseInt(this.$t('user.gender.items.other.value')) }, 
                  { text: this.$t('user.gender.items.female.name'), value: parseInt(this.$t('user.gender.items.female.value')) },
                  { text: this.$t('user.gender.items.male.name'), value: parseInt(this.$t('user.gender.items.male.value')) }
                ] },
                { label: this.$t('user.birthDate'), name: 'birthDate', type: 'date', cols:'4' },
              ];
      let ltabs = [
        {
          // identity tab
          label: this.$t('user.tab.identity'), id: 1, 
          rows: [
            { 
              id: 1,
              fields: 
              [
                { label: this.$t('user.id'), name: 'id', type: 'text', cols:'1' },
                { label: '', name: 'spacer', type: 'spacer', cols:'3' },
                { label: this.$t('user.email'), name: 'email', type: 'text', cols:'4', icon: 'mdi-email' },
                { label: this.$t('user.newsSubscription'), name: 'newsSubscription', type: 'checkbox', cols:'4' }
              ]
            },
            { 
              id: 2,
              fields: [
                { label: this.$t('user.givenName'), name: 'givenName', type: 'text', cols:'4' },
                { label: this.$t('user.familyName'), name: 'familyName', type: 'text', cols:'4' }
              ]
            },
            { 
              id: 3,
              fields: [
                { label: this.$t('user.image'), name: 'image', type: 'image', cols:'4' }
              ]
            },
            {
              id: 4,
              fields: identityRows
            },
            {
              id: 5,
              fields: [
                { label: this.$t('user.telephone'), name: 'telephone', type: 'text', cols:'4', icon: 'mdi-phone' },
                { label: this.$t('user.phoneDisplay.label'), name: 'phoneDisplay', type: 'select', cols:'8',values: [ 
                  { text: this.$t('user.phoneDisplay.items.restricted.name'), value: parseInt(this.$t('user.phoneDisplay.items.restricted.value')) }, 
                  { text: this.$t('user.phoneDisplay.items.all.name'), value: parseInt(this.$t('user.phoneDisplay.items.all.value')) }
                ] }
              ]
            },
            {
              id: 6,
              fields: [
                { label: this.$t('user.homeAddress'), name: 'homeAddress', type: 'geocomplete', cols:'8', icon: 'mdi-home-map-marker' }
              ]
            }
          ]
        },
        // preferences tab
        {
          label: this.$t('user.tab.preferences'), id: 2, 
          rows: [ 
            {
              id: 1,
              fields: [
                { label: this.$t('user.music.label'), name: 'music', type: 'select', cols:'4', icon: 'mdi-account-music', values: [ 
                  { text: this.$t('user.music.items.yes.name'), value: this.$t('user.music.items.yes.value') == '0' ? false : true }, 
                  { text: this.$t('user.music.items.no.name'), value: this.$t('user.music.items.no.value') == '0' ? false : true }
                ] },
                { label: this.$t('user.musicFavorites'), name: 'musicFavorites', type: 'text', cols:'4' }
              ]
            },
            {
              id: 2,
              fields: [
                { label: this.$t('user.chat.label'), name: 'chat', type: 'select', cols:'4', icon: 'mdi-chat', values: [ 
                  { text: this.$t('user.chat.items.yes.name'), value: this.$t('user.chat.items.yes.value') == '0' ? false : true }, 
                  { text: this.$t('user.chat.items.no.name'), value: this.$t('user.chat.items.no.value') == '0' ? false : true }
                ] },
                { label: this.$t('user.chatFavorites'), name: 'chatFavorites', type: 'text', cols:'4' }
              ]
            },
            {
              id: 3,
              fields: [
                { label: this.$t('user.smoke.label'), name: 'smoke', type: 'select', cols:'4', icon: 'mdi-smoking', 
                  values: [ 
                    { text: this.$t('user.smoke.items.yes.name'), value: parseInt(this.$t('user.smoke.items.yes.value')) }, 
                    { text: this.$t('user.smoke.items.no.name'), value: parseInt(this.$t('user.smoke.items.no.value')) },
                    { text: this.$t('user.smoke.items.notincar.name'), value: parseInt(this.$t('user.smoke.items.notincar.value')) },
                  ] }
              ]
            }
          ]
        },
        // roles tab
        {
          label: this.$t('user.tab.roles'), id: 3, 
          component: 'RolesChoice',
          name: 'rolesTerritory'
        }
      ];
      if (true) {
        if (this.item && this.checkIfUnder18(this.item)) 
        identityRows.push(
          { label: this.$t('user.legalGuardianEmail.label'), name: 'legalGuardianEmail', type: 'text', cols:'4' },
        )
      }
      return ltabs;
    },
    checkIfUnder18(user) {
      console.log(moment().diff(user.birthDate, 'year') < 18)
      if (moment().diff(user.birthDate, 'year') < 18) {
        return true;
      }
      return false;
    }
  },
  computed: {
    addressIncomplete() {
      if(this.item.homeAddress && this.item.homeAddress.addressLocality && !this.item.homeAddress.street && !this.item.homeAddress.streetAddress){
        return true;
      }
      
      return false;
    },
    eecAvailable() {
      return localStorage.getItem('eecAvailable') == 'true';
    }
  }
};
</script>