<template>
  <div>
    <v-card 
      v-for="structure in structures"
      :key="structure.id"
      :loading="loading === structure.id"
    >
      <v-card-title>
        <v-icon left>
          mdi-home-city
        </v-icon>
        {{ structure.name }}
        <v-chip
          :color="structure.status == 0 ? 'warning' : (structure.status == 1 ? 'success' : 'error')"
          outlined
          label
          class="ml-2"
        >
          {{ structure.status == 0 ? $t('s.pending') : (structure.status == 1 ? $t('s.accepted') : $t('s.refused')) }}
          <v-icon
            right
          >
            {{ structure.status == 0 ? 'mdi-timer-sand' : (structure.status == 1 ? 'mdi-check' : 'mdi-close') }}
          </v-icon>
        </v-chip>
      </v-card-title>
      <v-card-text>
        <v-data-table
          :headers="headers"
          :items="structureProofs(structure.structureId)"
          disable-sort
          hide-default-header
          hide-default-footer
        >
          <template v-slot:[`item.value`]="{ item }">
            <v-simple-checkbox
              v-if="item.checkbox"
              v-model="item.value"
              disabled
            />
            <span v-else-if="!item.file">{{ item.value }}</span>
            <v-btn
              v-else
              color="primary"
              :href="item.fileName"
              target="_blank"
            >
              <span
                style="max-width: 300px;"
                class="text-truncate"
              >{{ item.originalName }}</span>
              <span>({{ item.fileSize }})</span>
              <v-icon>
                mdi-file
              </v-icon>
            </v-btn>
          </template>
        </v-data-table>
      </v-card-text>
      <v-card-actions
        v-if="item && edit && $store.getters['auth/authorized']('solidary_beneficiary_update')"
      >
        <v-btn
          v-if="structure.status === 0"
          color="success"
          :loading="loading === structure.id"
          :disabled="!!loading"
          text
          @click="validateCandidate(structure.id,0,true)"
        >
          {{ $t('validatePendingCandidate') }}
        </v-btn>
        <v-btn
          v-else-if="structure.status === 1"
          color="error"
          :loading="loading === structure.id"
          :disabled="!!loading"
          text
          @click="validateCandidate(structure.id,1,false)"
        >
          {{ $t('unvalidateAcceptedCandidate') }}
        </v-btn>
        <v-btn
          v-else-if="structure.status === 2"
          color="warning"
          :loading="loading === structure.id"
          :disabled="!!loading"
          text
          @click="validateCandidate(structure.id,2,true)"
        >
          {{ $t('validateRefusedCandidate') }}
        </v-btn>
        <v-btn
          v-if="structure.status === 0"
          color="error"
          :loading="loading === structure.id"
          :disabled="!!loading"
          text
          @click="validateCandidate(structure.id,0,false)"
        >
          {{ $t('unvalidatePendingCandidate') }}
        </v-btn>
      </v-card-actions>
    </v-card>
    <!-- confirm action dialog -->
    <v-dialog
      v-model="dialog"
      persistent
      max-width="500"
    >
      <v-card>
        <v-card-title
          class="text-h5"
        >
          {{ dialogTitle }}
        </v-card-title>
        <v-card-text>{{ dialogText }}</v-card-text>
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn
            text
            @click="closeDialog"
          >
            {{ $t('cancel') }}
          </v-btn>
          <v-btn
            :color="dialogColor"
            :loading="!!loading"
            :disabled="!!loading"
            text
            @click="doValidate"
          >
            {{ $t('valid') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>

// import the translations
import {messages_views_en, messages_views_fr} from '@/translations/views/Solidary/SolidaryBeneficiaries/';
import {messages_models_en, messages_models_fr} from '@/translations/models/Solidary/SolidaryBeneficiary/';


let messages_en = { ...messages_views_en, s: { ...messages_models_en }};
let messages_fr = { ...messages_views_fr, s: { ...messages_models_fr }};

export default {
  components: { 
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  props: {
    edit: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      headers: [
        { text: this.$t('label'), value: 'label' },
        { text: this.$t('value'), value: 'value' },
      ],
      dialog: false,
      id: null,
      validate: null,
      dialogTitle: null,
      dialogText: null,
      dialogColor: null,
      loading: false
    };
  },
  computed: {
    item() {
      return this.$store.getters['sld_b/item'];
    },
    proofs() {
      return this.item.proofs;
    },
    structures() {
      let structures = [];
      this.proofs.map( proof => {
        if (structures.find( structure => structure.structureId === proof.structureId) === undefined) {
          structures.push({
            id: proof.userStructureId,
            structureId: proof.structureId,
            name: proof.structure,
            status: proof.status
          });
        }
      });
      return structures;
    }
  },
  watch: {
    item: {
      immediate: true,
      handler() {
        if (this.id && this.dialog) {
          this.closeDialog();
        }
      }
    }
  },
  methods: {
    structureProofs(structureId) {
      return this.item.proofs.filter( proof => proof.structureId === structureId);
    },
    validateCandidate(id,status,validate) {
      this.id = id;
      this.validate = validate;
      if (status == 0 && validate) {
        this.dialogTitle = this.$t('validatePendingCandidateTitle');
        this.dialogText = this.$t('validatePendingCandidateText');
        this.dialogColor = 'primary';
      } else if (status == 0 && !validate) {
        this.dialogTitle = this.$t('unvalidatePendingCandidateTitle');
        this.dialogText = this.$t('unvalidatePendingCandidateText');
        this.dialogColor = 'error';
      } else if (status == 1 && !validate) {
        this.dialogTitle = this.$t('unvalidateAcceptedCandidateTitle');
        this.dialogText = this.$t('unvalidateAcceptedCandidateText');
        this.dialogColor = 'error';
      } else if (status == 2 && validate) {
        this.dialogTitle = this.$t('validateRefusedCandidateTitle');
        this.dialogText = this.$t('validateRefusedCandidateText');
        this.dialogColor = 'primary';
      }
      this.dialog = true;
    },
    doValidate() {
      this.loading = this.id;
      this.$store.dispatch('sld_b/patchItem', { 
        id: this.item.id, 
        item: {
          validation: {
            id: this.id,
            validate: this.validate
          }
        }
      });
    },
    closeDialog() {
      this.dialog = false;
      this.dialogTitle = null;
      this.dialogText = null;
      this.dialogColor = null;
      this.validate = null;
      this.id = null;
      this.loading = false;
    }
  }
};
</script>