<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="diaries"
      :footer-props="footerProps"
      disable-sort
    >
      <template v-slot:[`item.authorFamilyName`]="{ item }">
        <v-chip
          color="primary"
          label
        >
          <v-avatar left>
            <v-img 
              v-if="item.authorAvatar"
              :src="item.authorAvatar"
            />
            <v-icon
              v-else
            >
              mdi-account-circle-outline
            </v-icon>
          </v-avatar>
          {{ item.authorGivenName }} {{ item.authorFamilyName }}
        </v-chip>
      </template>
      <template v-slot:[`item.direction`]="{ item }">
        <v-timeline
          dense
        >
          <v-timeline-item 
            small
            color="blue"
            icon="mdi-map-marker"
          >
            <div class="text-overline">
              {{ item.origin.addressLocality }}
            </div>
          </v-timeline-item>
          <v-timeline-item 
            small
            color="green"
            icon="mdi-flag-checkered"
          >
            <div 
              v-if="item.origin.displayLabel[0] !== item.destination.displayLabel[0]"
              class="text-overline"
            >
              {{ item.destination.addressLocality }}
            </div>
            <v-icon
              v-else
            >
              mdi-map-marker-question-outline
            </v-icon>
          </v-timeline-item>
        </v-timeline>
      </template>
      <template v-slot:[`item.date`]="{ item }">
        <span>{{ asDateTime(item.date) }}</span>
      </template>
      <template v-slot:[`item.solidary`]="{ item }">
        <v-btn
          color="primary"
          text
          :to="toSolidary(item.solidary)"
        >
          #{{ item.solidary }}
        </v-btn>
      </template>
      <template v-slot:[`item.action`]="{ item }">
        <span>{{ getAction(item.action) }}</span>
      </template>
      <template v-slot:[`item.comment`]="{ item }">
        <span v-html="item.comment" />
      </template>
      <template v-slot:[`item.familyName`]="{ item }">
        <v-chip
          label
          class="mr-2"
        >
          <v-avatar>
            <v-icon v-if="item.userId == userId">
              mdi-seat-passenger
            </v-icon>
            <v-icon v-else>
              mdi-steering
            </v-icon>
          </v-avatar>
        </v-chip>
        <v-chip
          color="primary"
          label
        >
          <v-avatar left>
            <v-img 
              v-if="item.avatar"
              :src="item.avatar"
            />
            <v-icon
              v-else
            >
              mdi-account-circle-outline
            </v-icon>
          </v-avatar>
          {{ item.givenName }} {{ item.familyName }}
        </v-chip>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import DateFormatMixin from '@/mixins/DateFormat';

// import the translations
import {messages_views_en, messages_views_fr} from '@/translations/views/Solidary/SolidaryRecords/';
import {messages_models_en, messages_models_fr} from '@/translations/models/Solidary/SolidaryRecord/';
import {messages_dates_en, messages_dates_fr} from '@/translations/views/Dates/';


let messages_en = { ...messages_views_en, dates: {...messages_dates_en }, s: { ...messages_models_en }};
let messages_fr = { ...messages_views_fr, dates: {...messages_dates_fr }, s: { ...messages_models_fr }};

export default {
  components: { 
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  mixins: [
    DateFormatMixin
  ],
  props: {
    userId: {
      type: Number,
      default: null
    }
  },
  data() {
    return {
      actions: [],
      headers: [
        { text: this.$t('author'), value: 'authorFamilyName' },
        { text: this.$t('date'), value: 'date' },
        { text: this.$t('solidary'), value: 'solidary' },
        { text: this.$t('s.direction'), value: 'direction' },
        { text: this.$t('action'), value: 'action', width: '250px' },
        { text: this.$t('comment'), value: 'comment', width: '250px' },
        { text: this.$t('user'), value: 'familyName' },
      ],
      loading: false
    };
  },
  computed: {
    item() {
      return this.$store.getters['sld_b/item'];
    },
    diaries() {
      return this.item.diaries;
    },
    footerProps() {
      return {
        'showFirstLastPage': true,
        'showCurrentPage': true,
        'firstIcon': 'mdi-page-first',
        'lastIcon': 'mdi-page-last',
        'items-per-page-options': [10, 30, 50, 100]
      };
    },
  },
  methods: {
    getAction(val) {
      return this.$t('s.actions')[val] ? this.$t('s.actions')[val] : val;
    },
    toSolidary(solidary) {
      return this.$router.options.routes.find( proute => proute.name === 'solidaryrecord_show' ).path.replace(':id',solidary);
    },
  }
};
</script>