<template>
  <div class="solidarybeneficiary">
    <!-- the 'if' in the v-card is used to be sure the item is loaded before continue -->
    <v-card
      outlined
      :loading="loading"
      loader-height="8"
    >
      <v-toolbar flat>
        <!-- back button -->
        <v-btn 
          v-if="editedItem"
          icon
          color="primary"
          @click="$router.push(parentComponentPath)"
        >
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>

        <!-- title -->
        <v-toolbar-title
          v-if="editedItem"
        >
          <h2>
            {{ $t('solidarybeneficiary_edit') }} 
            <v-chip
              class="ma-2"
              outlined
              :color="edited ? 'warning' : 'primary'"
              label
            >
              <v-avatar left>
                <v-img 
                  v-if="editedItem.avatar"
                  :src="editedItem.avatar"
                />
                <v-icon
                  v-else
                >
                  mdi-account-circle-outline
                </v-icon>
              </v-avatar>
              {{ editedItem.givenName }} {{ editedItem.familyName }}
            </v-chip>
          </h2>
        </v-toolbar-title>
        <v-spacer />

        <!-- buttons -->
        <v-toolbar-items>
          <v-btn
            text
            color="green"
            :loading="loading"
            @click="refresh()"
          >
            {{ $t('refresh') }}
            <v-icon>
              mdi-refresh
            </v-icon>
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>

      <!-- detail -->
      <v-card
        v-if="editedItem"
        flat
      >
        <v-form 
          ref="form"
          v-model="valid"
        >
          <!-- tabs list -->
          <v-tabs
            v-if="tabs.length>0"
            v-model="mtab"
          >
            <v-tab
              v-for="tab in tabs"
              :key="tab.label"
            >
              {{ tab.label }}
            </v-tab>
          </v-tabs>
          <v-divider />

          <!-- tabs content -->
          <v-tabs-items 
            v-model="mtab"
          >
            <v-tab-item
              v-for="tab in tabs"
              :key="tab.label"
            >
              <!-- container for regular fields -->
              <v-container
                v-if="tab.rows"
              >
                <v-row 
                  v-for="row in tab.rows"
                  :key="row.id"
                >
                  <v-col
                    v-for="field in row.fields"
                    :key="field.name"
                    :cols="field.cols"
                    :sm="field.cols"
                    :md="field.cols"
                  >
                    <!-- all fields are handled by a v-model, except some components (geocomplete, image...), this is why there are event handlers -->
                    <field-choice
                      v-if="!field.component"
                      :resource="resource"
                      :field="field"
                      :read-only="field.readOnly"
                    />
                    <component 
                      :is="field.component"
                      v-else
                      :resource="resource"
                      :field="field"
                      @change="change"
                    />
                  </v-col>
                </v-row>
              </v-container>
              <!-- special fields, handled by their dedicated component -->
              <component 
                :is="tab.component"
                v-else-if="tab.component"
                :field="tab.name"
                :item="editedItem"
                :edit="true"
                :user-id="editedItem.userId"
                @change="change"
              />
            </v-tab-item>
          </v-tabs-items>
        </v-form>
      </v-card>  
      <!-- edit buttons -->
      <v-card-actions
        v-if="editedItem && mtab==0"
      >
        <!-- save item -->
        <v-btn
          color="primary"
          :disabled="!edited || !valid || loading"
          @click="save()"
        >
          {{ $t('save') }}
          <v-icon right>
            mdi-content-save
          </v-icon>
        </v-btn>
        <v-spacer />
        <!-- delete item -->
        <!-- <v-btn
          v-if="edit"
          color="error"
          :disabled="loading"
          @click="remove()"
        >
          {{ $t('remove') }}
          <v-icon right>
            mdi-delete
          </v-icon>
        </v-btn> -->
      </v-card-actions>
    </v-card>

    <!-- confirm action dialog -->
    <v-dialog
      v-model="dialog"
      persistent
      max-width="400"
    >
      <v-card>
        <v-card-title
          class="text-h5"
        >
          {{ dialogTitle }}
        </v-card-title>
        <v-card-text>{{ dialogText }}</v-card-text>
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn
            text
            @click="dialog = false"
          >
            {{ $t('cancel') }}
          </v-btn>
          <v-btn
            :color="dialogColor"
            text
            @click="launchAction()"
          >
            {{ $t('valid') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import FieldChoice from '@/components/field/FieldChoice.vue';
import ResourceEditMixin from '@/mixins/ResourceEdit';
import PageTitleMixin from '@/mixins/PageTitle';
import SolidaryBeneficiaryDiary from '@/components/solidary/solidaryBeneficiary/SolidaryBeneficiaryDiary.vue';
import SolidaryBeneficiaryProofs from '@/components/solidary/solidaryBeneficiary/SolidaryBeneficiaryProofs.vue';

// import the translations
import {messages_routes_en, messages_routes_fr} from '@/translations/routes/'; 
import {messages_views_en, messages_views_fr} from '@/translations/views/Solidary/SolidaryBeneficiaries/';
import {messages_models_en, messages_models_fr} from '@/translations/models/Solidary/SolidaryBeneficiary/';
import {messages_models_en as messages_models_user_en, messages_models_fr as messages_models_user_fr} from '@/translations/models/User/';

let messages_en = { ...messages_views_en, routes: {...messages_routes_en }, s: { ...messages_models_en }, user: { ...messages_models_user_en }};
let messages_fr = { ...messages_views_fr, routes: {...messages_routes_fr }, s: { ...messages_models_fr }, user: { ...messages_models_user_fr }};

export default {
  components: {
    FieldChoice,
    SolidaryBeneficiaryDiary,
    SolidaryBeneficiaryProofs
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  mixins: [
    ResourceEditMixin,
    PageTitleMixin
  ],
  data() {
    return {
      // define the store module used
      resource: 'sld_b'
    };
  },
  computed: {
    tabs() {
      return [
        {
          label: this.$t('s.tab.identity'), id: 1, 
          rows: [
            // identity tab
            { 
              id: 1,
              fields: 
              [
                { label: this.$t('s.id'), name: 'id', type: 'text', cols:'1', disabled: true },
                { label: '', name: 'spacer', type: 'spacer', cols:'1' },
                { label: this.$t('user.email'), name: 'email', type: 'text', cols:'5', required: true, nullable: false, icon: 'mdi-email', validation: { required: this.$t('user.emailRequired'), valid: this.$t('user.emailValid'), rule: 'email' } },
                { label: this.$t('user.telephone'), name: 'telephone', type: 'text', cols:'5', required: true, nullable: false, icon: 'mdi-phone', validation: { required: this.$t('user.telephoneRequired') } }
              ]
            },
            { 
              id: 2,
              fields: [
                { label: this.$t('user.givenName'), name: 'givenName', type: 'text', cols:'6', required: true, nullable: false },
                { label: this.$t('user.familyName'), name: 'familyName', type: 'text', cols:'6', required: true, nullable: false }
              ]
            },
            { 
              id: 3,
              fields: [
                { 
                  label: this.$t('user.gender.label'), name: 'gender', type: 'select', 
                  values: [ 
                    { text: this.$t('user.gender.items.other.name'), value: parseInt(this.$t('user.gender.items.other.value')) }, 
                    { text: this.$t('user.gender.items.female.name'), value: parseInt(this.$t('user.gender.items.female.value')) },
                    { text: this.$t('user.gender.items.male.name'), value: parseInt(this.$t('user.gender.items.male.value')) }
                  ], cols:'4', required: true, nullable: false, validation: { required: this.$t('user.genderRequired') }
                },
                { label: this.$t('user.birthDate'), name: 'birthDate', type: 'date', cols:'4', nullable: false},
                { label: this.$t('user.newsSubscription'), name: 'newsSubscription', type: 'switch', cols:'4' }
              ]
            },
            { 
              id: 4,
              fields: [
                { label: this.$t('user.homeAddress'), name: 'homeAddress', type: 'geocomplete', cols:'8', icon: 'mdi-home-map-marker' },
              ]
            }
          ],
        },
        // eligibility tab
        {
          label: this.$t('s.tab.eligibility'), id: 3, 
          component: 'SolidaryBeneficiaryProofs'
        }
      ];
    }
  },
  methods: {
    // handler for dedicated components events
    change(payload) {
      switch(payload.component) {
      default:
        break;
      }
    }
  }
};
</script>