<template>
  <div class="event">
    <!-- the 'if' in the v-card is used to be sure the item is loaded before continue -->
    <v-card
      outlined
      :loading="loading"
      loader-height="8"
    >
      <v-toolbar flat>
        <!-- back button -->
        <v-btn 
          v-if="editedItem"
          icon
          color="primary"
          @click="$router.push(parentComponentPath)"
        >
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>

        <!-- title -->
        <v-toolbar-title
          v-if="editedItem"
        >
          <h2>
            {{ edit ? $t('relaypoint_edit') : $t('relaypoint_add') }} 
            <v-chip
              class="ma-2"
              outlined
              :color="edited ? 'warning' : 'primary'"
              label
            >
              <v-icon left>
                mdi-calendar
              </v-icon>
              {{ editedItem.name }}
            </v-chip>
          </h2>
        </v-toolbar-title>
        <v-spacer />

        <!-- buttons -->
        <v-toolbar-items>
          <v-btn
            text
            color="green"
            :loading="loading"
            @click="edit ? refresh() : restart()"
          >
            {{ edit ? $t('refresh') : $t('restart') }}
            <v-icon
              v-if="edit"
            >
              mdi-refresh
            </v-icon>
            <v-icon
              v-else
            >
              mdi-restart
            </v-icon>
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>

      <!-- detail -->
      <v-card
        v-if="editedItem"
        flat
      >
        <v-form 
          ref="form"
          v-model="valid"
        >
          <!-- tabs list -->
          <v-tabs
            v-if="tabs.length>0"
            v-model="mtab"
          >
            <v-tab
              v-for="tab in tabs"
              :key="tab.label"
            >
              {{ tab.label }}
            </v-tab>
          </v-tabs>
          <v-divider />

          <!-- tabs content -->
          <v-tabs-items 
            v-model="mtab"
          >
            <v-tab-item
              v-for="tab in tabs"
              :key="tab.label"
            >
              <!-- container for regular fields -->
              <v-container
                v-if="tab.rows"
              >
                <v-row 
                  v-for="row in tab.rows"
                  :key="row.id"
                >
                  <v-col
                    v-for="field in row.fields"
                    :key="field.name"
                    :cols="field.cols"
                    :sm="field.cols"
                    :md="field.cols"
                  >
                    <!-- all fields are handled by a v-model, except some components (geocomplete, image...), this is why there are event handlers -->
                    <field-choice
                      :resource="resource"
                      :field="field"
                      @image-changed="imageChanged"
                      @image-reset="imageReset"
                      @address-changed="addressChanged"
                    />
                  </v-col>
                </v-row>
              </v-container>
            </v-tab-item>
          </v-tabs-items>
        </v-form>
      </v-card>  
      <!-- edit buttons -->
      <v-card-actions 
        v-if="editedItem"
      >
        <!-- save item -->
        <v-btn
          color="primary"
          :disabled="!edited || !valid || loading"
          @click="save()"
        >
          {{ $t('save') }}
          <v-icon right>
            mdi-content-save
          </v-icon>
        </v-btn>
        <v-spacer />
        <!-- delete item -->
        <v-btn
          v-if="edit"
          color="error"
          :disabled="loading"
          @click="remove()"
        >
          {{ $t('remove') }}
          <v-icon right>
            mdi-delete
          </v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>

    <!-- confirm action dialog -->
    <v-dialog
      v-model="dialog"
      persistent
      max-width="400"
    >
      <v-card>
        <v-card-title
          class="text-h5"
        >
          {{ dialogTitle }}
        </v-card-title>
        <v-card-text>{{ dialogText }}</v-card-text>
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn
            text
            @click="dialog = false"
          >
            {{ $t('cancel') }}
          </v-btn>
          <v-btn
            :color="dialogColor"
            text
            @click="launchAction()"
          >
            {{ $t('valid') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import FieldChoice from '@/components/field/FieldChoice.vue';
import ResourceEditMixin from '@/mixins/ResourceEdit';
import PageTitleMixin from '@/mixins/PageTitle';

// import the translations
import {messages_routes_en, messages_routes_fr} from '@/translations/routes/'; 
import {messages_views_en, messages_views_fr} from '@/translations/views/RelayPoints/';
import {messages_models_en, messages_models_fr} from '@/translations/models/RelayPoint/';

let messages_en = { ...messages_views_en, routes: {...messages_routes_en }, rp: { ...messages_models_en }};
let messages_fr = { ...messages_views_fr, routes: {...messages_routes_fr }, rp: { ...messages_models_fr }};

export default {
  components: {
    FieldChoice
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  mixins: [
    ResourceEditMixin,
    PageTitleMixin
  ],
  data() {
    return {
      // define the store module used
      resource: 'rp',
      editor: null,
    };
  },
  computed: {
    // define the fields by tabs (mandatory)
    // at least one tab is needed 
    // if there's only one tab modify the v-tab above to display the content only and not the tab label
    tabs() {
      let ltabs = [];
      ltabs.push(
        {
          label: this.$t('rp.tab.identity'), id: 1, 
          rows: [
            // detail tab
            { 
              id: 1,
              fields: 
              [
                { label: this.$t('rp.id'), name: 'id', type: 'text', cols:'2', disabled: true },
                { label: this.$t('rp.name'), name: 'name', type: 'text', cols:'10', required: true, nullable: false, validation: { required: this.$t('rp.nameRequired'), rule: 'limit', counter: 255, valid: this.$t('rp.nameLimit') } },
              ]
            },
            {
              id: 2,
              fields: [
                { label: this.$t('rp.address'), name: 'address', type: 'geopicker', cols:'12', required: true, nullable: false, validation: { required: this.$t('rp.addressRequired') }, icon: 'mdi-home-map-marker' },
              ]
            },
            { 
              id: 3,
              fields: [
                { label: this.$t('rp.creator'), name: 'creatorId', value: this.$store.getters['auth/id'], type: 'usercomplete', resource: 'u', query: 'q', itemText: 'fullName', cols:'4', icon: 'mdi-account-tie', required: true, nullable: false, validation: { required: this.$t('rp.creatorRequired') } },
                { label: this.$t('rp.status.label'), name: 'status', type: 'select', 
                  values: [ 
                    { text: this.$t('rp.status.items.pending.name'), value: parseInt(this.$t('rp.status.items.pending.value')) }, 
                    { text: this.$t('rp.status.items.active.name'), value: parseInt(this.$t('rp.status.items.active.value')) },
                    { text: this.$t('rp.status.items.inactive.name'), value: parseInt(this.$t('rp.status.items.inactive.value')) }
                  ], cols:'4', required: true, nullable: false, validation: { required: this.$t('rp.statusRequired') },
                },
                { label: this.$t('rp.relayPointType'), name: 'relayPointTypeId', type: 'selectResource', resource: 'rpt', cols: '4', itemIcon: 'iconUrl'}
              ]
            },
            { 
              id: 4,
              fields: [
                { label: this.$t('rp.community'), name: 'communityId', type: 'communitycomplete', cols:'4', nullable: true },
                { label: this.$t('rp.communityPrivate'), name: 'private', type: 'switch', cols:'4' }
              ]
            },
            { 
              id: 5,
              fields: [
                { label: this.$t('rp.image'), name: 'image', type: 'image', newImage: 'newImage', resetImage: 'resetImage', edit: this.edit, cols:'12', validation: { valid: this.$t('rp.imageSize2'), rule: 'image2' } }
              ]
            },
            {
              id: 6,
              fields: [
                { label: this.$t('rp.description'), name: 'description', validation: { rule: 'limit', counter: 255, valid: this.$t('rp.descriptionLimit') }, type: 'textarea', cols:'12' },
              ]
            },
            {
              id: 7,
              fields: [
                { label: this.$t('rp.fullDescription'), name: 'fullDescription', type: 'editor', cols:'12' },
              ]
            }
          ]
        },
        {
          label: this.$t('rp.tab.properties'), id: 2, 
          rows: [
            { 
              id: 1,
              fields: 
              [
                { label: this.$t('rp.places'), name: 'places', type: 'number', cols:'4' },
                { label: this.$t('rp.placesDisabled'), name: 'placesDisabled', type: 'number', cols:'4' }
              ]
            },
            { 
              id: 2,
              fields: 
              [
                { label: this.$t('rp.free'), name: 'free', type: 'switch', cols:'4' },
                { label: this.$t('rp.secured'), name: 'secured', type: 'switch', cols:'4' }
              ]
            },
            {  
              id: 3,
              fields: 
              [
                { label: this.$t('rp.official'), name: 'official', type: 'switch', cols:'4' },
                { label: this.$t('rp.suggested'), name: 'suggested', type: 'switch', cols:'4' }
              ]
            },
            
          ]
        }
      );
      return ltabs;
    }
  },
  methods: {
    // handler for image change
    imageChanged(image) {
      this.editedItem[image.field] = image.image;
    },
    // handler for image reset
    imageReset(field) {
      this.editedItem[field] = false;
      this.$store.dispatch(this.resource+'/saveItem',this.editedItem);
    },
    // handler for geocomplete
    addressChanged(address) {
      this.editedItem[address.field] = address.address;
    },
    // handler for dedicated components events
    change(payload) {
      switch(payload.component) {
      default:
        break;
      }
    }
  }
};
</script>