<template>
  <v-card
    outlined
    :loading="loading"
    loader-height="8"
  >
    <v-toolbar flat>
      <!-- title -->
      <v-toolbar-title>
        <h2>{{ $t('relaypoint_list') }}</h2>
      </v-toolbar-title>
      <v-spacer />

      <!-- buttons -->
      <v-toolbar-items>
        <!-- add item -->
        <v-btn
          text
          color="green"
          :to="addItem()"
          :disabled="loading"
        >
          {{ $t('add') }}
          <v-icon right>
            mdi-plus
          </v-icon>
        </v-btn>

        <!-- import items -->
        <v-btn
          v-if="canImport"
          text
          color="green"
          :to="importItems()"
          :disabled="loading"
        >
          {{ $t('import.import') }}
          <v-icon right>
            mdi-download
          </v-icon>
        </v-btn>

        <!-- export -->
        <v-menu
          v-if="canExport"
          close-on-click
          down
          offset-y
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              text
              color="green"
              v-bind="attrs"
              :disabled="loading"
              v-on="on"
            >
              {{ $t('export') }}
              <v-icon right>
                mdi-download
              </v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item-group
              color="green"
            >
              <v-list-item
                @click="exportAll()"
              >
                <v-list-item-icon>
                  <v-icon>mdi-text-box-multiple-outline</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title>
                    {{ $t('export_all') }}
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item
                :disabled="selected.length==0"
                @click="exportSelected()"
              >
                <v-list-item-icon>
                  <v-icon>mdi-text-box-check-outline</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title>
                    {{ $tc('export_selected', selected.length, { nb: selected.length}) }}
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-menu>

        <!-- refresh -->
        <v-btn
          text
          color="green"
          :loading="loading"
          @click="getItems()"
        >
          {{ $t('refresh') }}
          <v-icon right>
            mdi-table-refresh
          </v-icon>
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>

    <!-- data table -->
    <v-data-table
      v-model="selected"
      class="row-pointer"
      :headers="headers()"
      :items="items"
      :show-select="canExport"
      multi-sort
      :options.sync="options"
      :server-items-length="total"
      :footer-props="footerProps"
      @click:row="pushTo"
    >
      <template v-slot:top>
        <!-- filters -->
        <v-container>
          <v-row>
            <v-col
              v-for="onFilter in alwaysOnFilters()"
              :key="onFilter.name"
              :cols="onFilter.cols"
              :sm="onFilter.cols"
              :md="onFilter.cols"
            >
              <filter-choice
                :filter="filter"
                :on-filter="onFilter"
              />
            </v-col>
            <v-col
              v-if="optionalFilters().length>0"
              cols="4"
              sm="4"
              md="4"
            >
              <filter-list 
                v-model="selectedOptionalFilters"
                :list="optionalFilters()"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col
              v-for="onFilter in displayedOptionalFilters()"
              :key="onFilter.name"
              :cols="onFilter.cols"
              :sm="onFilter.cols"
              :md="onFilter.cols"
            >
              <filter-choice
                :filter="filter"
                :on-filter="onFilter"
              />
            </v-col>
          </v-row>
        </v-container>
        <!-- end filters -->
      </template>
      
      <!-- overload the columns data format -->
      <template v-slot:[`item.avatar`]="{ item }">
        <v-img 
          v-if="item.avatar"
          :src="item.avatar"
          aspect-ratio="1"
          max-height="125"
          contain
        />
      </template>
      <template v-slot:[`item.relayPointTypeAvatar`]="{ item }">
        <v-img 
          v-if="item.relayPointTypeAvatar"
          :src="item.relayPointTypeAvatar"
          aspect-ratio="1"
          max-height="125"
          contain
        />
      </template>
      <template v-slot:[`item.address`]="{ item }">
        <span>{{ getAddress(item.address) }}</span>
      </template>
      <template v-slot:[`item.status`]="{ item }">
        <span>{{ getStatus(item.status) }}</span>
      </template>
      <!-- end column overload -->

      <!-- action column -->
      <template v-slot:[`item.actions`]="{ item }">
        <v-btn
          class="ma-2"
          color="primary"
          text
          :to="editItem(item)"
        >
          {{ $t('edit') }}
          <v-icon
            right
          >
            mdi-pencil
          </v-icon>
        </v-btn>
      </template>
      <!-- end action column -->
    </v-data-table>
  </v-card>
</template>

<script>
import getEnv from '@/utils/env';
import ResourceListMixin from '@/mixins/ResourceList';
import PageTitleMixin from '@/mixins/PageTitle';
import DateFormatMixin from '@/mixins/DateFormat';
import FilterList from '@/components/filter/FilterList.vue';
import FilterChoice from '@/components/filter/FilterChoice.vue';

// import the translations
import {messages_routes_en, messages_routes_fr} from '@/translations/routes/'; 
import {messages_views_en, messages_views_fr} from '@/translations/views/RelayPoints/';
import {messages_dates_en, messages_dates_fr} from '@/translations/views/Dates/';
import {messages_models_en, messages_models_fr} from '@/translations/models/RelayPoint/';
import {messages_models_en as messages_models_rpt_en, messages_models_fr as messages_models_rpt_fr} from '@/translations/models/RelayPointType/';

let messages_en = { ...messages_views_en, dates: {...messages_dates_en }, routes: {...messages_routes_en }, rp: { ...messages_models_en }, rpt: { ...messages_models_rpt_en } };
let messages_fr = { ...messages_views_fr, dates: {...messages_dates_fr }, routes: {...messages_routes_fr }, rp: { ...messages_models_fr }, rpt: { ...messages_models_rpt_fr } };

export default {
  components: {
    FilterList,
    FilterChoice
  },
  // keep the translations (or change it if needed)
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  // keep the mixins
  mixins: [
    ResourceListMixin,
    PageTitleMixin,
    DateFormatMixin
  ],
  data: () => ({
    // define the store module used
    resource: 'rp',
  }),
  computed: {
    canExport() {
      return getEnv('VUE_APP_EXPORT') == 'true'
        && this.$store.getters['auth/authorized']('export')
        && this.$store.getters['auth/authorized']('admin_relayPoint_export_all');
    },
    canImport() {
      return this.$store.getters['auth/authorized']('import_relaypoint');
    }    
  },
  methods: {
    // define the fields (used for guessing headers and filters)
    fields() {
      return [
        { label: this.$t('rp.id'), name: 'id', filter: { type: 'number', cols: '2', alwaysOn: true} },
        { label: this.$t('rp.icon'), name: 'relayPointTypeAvatar', sortable: false },
        { label: this.$t('rp.image'), name: 'avatar', sortable: false },
        { label: this.$t('rp.name'), name: 'name', filter: { type: 'text', cols: '2', alwaysOn: true} },
        { label: this.$t('rp.address'), name: 'address', sortable: false },
        { 
          label: this.$t('rp.status.label'), name: 'status', filter: { 
            type: 'selectMultiple', 
            values: [ 
              { text: this.$t('rp.status.items.pending.name'), value: this.$t('rp.status.items.pending.value') }, 
              { text: this.$t('rp.status.items.active.name'), value: this.$t('rp.status.items.active.value') },
              { text: this.$t('rp.status.items.inactive.name'), value: this.$t('rp.status.items.inactive.value') }
            ], cols: '2', alwaysOn: true} 
        },
        { 
          label: this.$t('rp.relayPointType'), name: 'relayPointTypeName', sortable: false, filter: { 
            type: 'selectMultipleResource', 
            resource: 'rpt', 
            name: 'relayPointType.id',
            cols: '2', alwaysOn: true} 
        },
        { label: this.$t('actions'), name: 'actions', sortable: false },
        { label: this.$t('territories'), name: 'relayPointAddressTerritoryFilter', hidden: true, filter: { type: 'autocompleteMultiple', resource: 't', cols: '4', alwaysOn: false} }
      ];
    },
    getStatus(val) {
      return this.fields()
        .filter(function(field) {
          if (field.name == 'status') {
            return true;
          }
          return false;
        })[0].filter.values.filter(function(value) {
          if (value.value == val) {
            return true;
          }
          return false;
        })[0].text;
    },
    getAddress(val) {
      let addr = '';
      // construct address for various elements
      if (val.streetAddress) {
        addr += val.streetAddress;
      } else {
        if (val.houseNumber) addr += val.houseNumber;
        if (val.street) {
          if (addr !== '') addr += ', ';
          addr += val.street;
        }
      }
      if (val.postalCode) {
        if (addr !== '') addr += ', ';
        addr += val.postalCode;
      }
      if (val.addressLocality) {
        if (addr !== '') addr += ', ';
        addr += val.addressLocality;
      }
      if (val.region) {
        if (addr !== '') addr += ', ';
        addr += val.region;
      }
      if (val.addressCountry) {
        if (addr !== '') addr += ', ';
        addr += val.addressCountry;
      }
      // if no elements are provided, use gps coordinates
      if (addr === '') {
        addr += val.latitude;
        if (addr !== '') addr += ', ';
        addr += val.longitude;
        if (addr !== '') addr = '[ '+addr+' ]';
      }
      return addr; 
    }
  }
};
</script>

<style> 
  @import "../../styles/ResourceList.scss";
</style>