<template>
  <div class="event">
    <v-card
      outlined
      loader-height="8"
    >
    <v-toolbar flat>
        <v-toolbar-title
        >
          <h2>
            {{ $t('relaypoint_import') }} 
          </h2>
        </v-toolbar-title>
        <v-spacer />      
    </v-toolbar>
    </v-card>
    <v-alert type="info">
      <p>{{ $t('import.warning') }}</p>
      <p class="text-subtitle">{{$t("import.hint.title")}} :</p>
      <ul>
        <li><strong>{{$t("import.hint.yesOrNo.field")}}</strong> : {{$t("import.hint.yesOrNo.hint")}}</li>
        <li><strong>{{$t("import.hint.private.field")}}</strong> : {{$t("import.hint.private.hint")}}</li>
        <li><strong>{{$t("import.hint.communityId.field")}}</strong> : {{$t("import.hint.communityId.hint")}}</li>
      </ul>
    </v-alert>
    <Import
      :hint="$t('import.file.hint')"
      :label="$t('import.file.label')"
      :prependIcon="$t('import.file.prependIcon')"
      :baseResource="resource"
      :exampleFileUrl="exampleFileUrl"
    />
  </div>  
</template>

<script>
import {messages_views_en, messages_views_fr} from '@/translations/views/RelayPoints/';
import Import from '@/components/import/Import.vue';
import getEnv from '@/utils/env';

export default {
  components:{
    Import
  },
  i18n: {
    messages: {
      'en': messages_views_en,
      'fr': messages_views_fr
    }
  },
  data: () => ({
    resource: 'rp',    
  }),
  computed:{
    exampleFileUrl(){
      return this.$t('import.file.exampleFileUrl', {apiUri:getEnv('VUE_APP_API_URL')});
    }
  }
};
</script>