<template>
  <div>
    <v-card
      outlined
      class="mt-4"
    >
      <v-card-title>
        <v-chip
          class="mr-2"
          color="primary"
          label
          large
        >
          <v-avatar left>
            <v-img 
              v-if="driver.avatar"
              :src="driver.avatar"
            />
            <v-icon
              v-else
            >
              mdi-account-circle-outline
            </v-icon>
          </v-avatar>
          {{ driver.givenName }} {{ driver.familyName }}
        </v-chip>
        <v-chip
          v-if="driver.telephone"
          class="mr-2"
          label
          large
        >
          <v-avatar left>
            <v-icon>
              mdi-phone
            </v-icon>
          </v-avatar>
          {{ driver.telephone }}
        </v-chip>
        <v-chip
          v-if="driver.centerPoint"
          class="mr-2"
          label
          outlined
          large
        >
          <span class="text-overline">{{ driver.centerPoint.displayLabel[0] }} ({{ $t('s.range', {distance: driver.maxDistance/1000}) }})</span>
        </v-chip>
        <v-spacer />
        <v-chip
          class="mr-2"
          color="primary"
          label
          outlined
        >
          {{ driver.type == 'carpooler' ? $t('s.carpooler') : $t('s.volunteer') }}
        </v-chip>
      </v-card-title>
      <v-card-text>
        <v-row 
          v-if="driver.type == 'carpooler'"
          align="center"
        >
          <!-- Punctual -->
          <v-col 
            v-if="driver.frequency == 1"
            cols="6" 
          >
            <!-- Outward -->
            <v-row no-gutters>
              <v-col cols="6">
                <v-row no-gutters> 
                  <v-col>
                    <v-chip
                      outlined
                      label
                    >
                      <v-icon left>
                        mdi-car-arrow-right
                      </v-icon>
                      <span class="text-overline">
                        {{ asWeekdayDate(driver.outward.fromDate,$i18n.locale) }}
                      </span>
                    </v-chip>
                  </v-col>
                </v-row>
                <v-row no-gutters>
                  <v-col>
                    <v-timeline 
                      v-if="driver.outward.origin"
                      dense
                    >
                      <v-timeline-item 
                        color="blue"
                        icon="mdi-map-marker"
                      >
                        <div
                          v-if="driver.outward.origin.displayLabel[0]"
                          class="text-overline"
                        >
                          {{ asHourMinute(driver.outward.fromTime,true)+' - '+driver.outward.origin.displayLabel[0] }}
                        </div>
                        <div
                          v-if="driver.outward.origin.displayLabel[1]"
                          class="font-italic"
                        >
                          {{ driver.outward.origin.displayLabel[1] }}
                        </div>
                      </v-timeline-item>
                      <v-timeline-item 
                        color="green"
                        icon="mdi-flag-checkered"
                      >
                        <div
                          v-if="driver.outward.destination.displayLabel[0]"
                          class="text-overline"
                        >
                          {{ asHourMinute(driver.outward.destinationTime,true)+' - '+driver.outward.destination.displayLabel[0] }}
                        </div>
                        <div
                          v-if="driver.outward.destination.displayLabel[1]"
                          class="font-italic"
                        >
                          {{ driver.outward.destination.displayLabel[1] }}
                        </div>
                      </v-timeline-item>
                    </v-timeline>
                  </v-col>
                </v-row>
              </v-col>
              <!-- Return -->
              <v-col 
                v-if="driver.proposalType == 'roundtrip'"
                cols="6"
              >
                <v-row no-gutters> 
                  <v-col>
                    <v-chip
                      outlined
                      label
                    >
                      <v-icon left>
                        mdi-car-arrow-left
                      </v-icon>
                      <span class="text-overline">{{ asWeekdayDate(driver.return.fromDate,$i18n.locale) }}</span>
                    </v-chip>
                  </v-col>
                </v-row>
                <v-row no-gutters>
                  <v-col>
                    <v-timeline 
                      v-if="driver.return.origin"
                      dense
                    >
                      <v-timeline-item 
                        color="blue"
                        icon="mdi-map-marker"
                      >
                        <div
                          v-if="driver.return.origin.displayLabel[0]"
                          class="text-overline"
                        >
                          {{ asHourMinute(driver.return.fromTime,true)+' - '+driver.return.origin.displayLabel[0] }}
                        </div>
                        <div
                          v-if="driver.return.origin.displayLabel[1]"
                          class="font-italic"
                        >
                          {{ driver.return.origin.displayLabel[1] }}
                        </div>
                      </v-timeline-item>
                      <v-timeline-item 
                        color="green"
                        icon="mdi-flag-checkered"
                      >
                        <div
                          v-if="driver.return.destination.displayLabel[0]"
                          class="text-overline"
                        >
                          {{ asHourMinute(driver.return.destinationTime,true)+' - '+driver.return.destination.displayLabel[0] }}
                        </div>
                        <div
                          v-if="driver.return.destination.displayLabel[1]"
                          class="font-italic"
                        >
                          {{ driver.return.destination.displayLabel[1] }}
                        </div>
                      </v-timeline-item>
                    </v-timeline>
                  </v-col>
                </v-row>
              </v-col>
              <!-- Non-matching return, for information only -->
              <v-col 
                v-else-if="driver.carpoolerProposalType == 'roundtrip'"
                cols="6"
              >
                <v-row no-gutters> 
                  <v-col>
                    <v-chip
                      outlined
                      label
                    >
                      <v-icon left>
                        mdi-car-arrow-left
                      </v-icon>
                      <span class="text-overline font-italic">{{ asWeekdayDate(driver.return.fromDate,$i18n.locale) }}</span>
                    </v-chip>
                  </v-col>
                </v-row>
                <v-row no-gutters>
                  <v-col>
                    <v-timeline 
                      v-if="driver.return.origin"
                      dense
                    >
                      <v-timeline-item 
                        color="grey"
                        icon="mdi-map-marker"
                      >
                        <div
                          v-if="driver.return.origin.displayLabel[0]"
                          class="text-overline font-italic"
                        >
                          {{ asHourMinute(driver.return.fromTime,true)+' - '+driver.return.origin.displayLabel[0] }}
                        </div>
                        <div
                          v-if="driver.return.origin.displayLabel[1]"
                          class="font-italic"
                        >
                          {{ driver.return.origin.displayLabel[1] }}
                        </div>
                      </v-timeline-item>
                      <v-timeline-item 
                        color="grey"
                        icon="mdi-flag-checkered"
                      >
                        <div
                          v-if="driver.return.destination.displayLabel[0]"
                          class="text-overline  font-italic"
                        >
                          {{ asHourMinute(driver.return.destinationTime,true)+' - '+driver.return.destination.displayLabel[0] }}
                        </div>
                        <div
                          v-if="driver.return.destination.displayLabel[1]"
                          class="font-italic"
                        >
                          {{ driver.return.destination.displayLabel[1] }}
                        </div>
                      </v-timeline-item>
                    </v-timeline>
                  </v-col>
                </v-row>
              </v-col>
              <v-col 
                v-else
                cols="6"
              />
            </v-row>
          </v-col>
          <!-- Regular -->
          <v-col
            v-else
            cols="8"
          >
            <v-row
              no-gutters
              align="center"
            >
              <v-col cols="6">
                <!-- Journey -->
                <v-row no-gutters>
                  <v-col>
                    <v-timeline 
                      v-if="driver.outward.origin"
                      dense
                    >
                      <v-timeline-item 
                        color="blue"
                        icon="mdi-map-marker"
                      >
                        <div
                          v-if="driver.outward.origin.displayLabel[0]"
                          class="text-overline"
                        >
                          {{ driver.outward.origin.displayLabel[0] }}
                        </div>
                        <div
                          v-if="driver.outward.origin.displayLabel[1]"
                          class="font-italic"
                        >
                          {{ driver.outward.origin.displayLabel[1] }}
                        </div>
                      </v-timeline-item>
                      <v-timeline-item 
                        color="green"
                        icon="mdi-flag-checkered"
                      >
                        <div
                          v-if="driver.outward.destination.displayLabel[0]"
                          class="text-overline"
                        >
                          {{ driver.outward.destination.displayLabel[0] }}
                        </div>
                        <div
                          v-if="driver.outward.destination.displayLabel[1]"
                          class="font-italic"
                        >
                          {{ driver.outward.destination.displayLabel[1] }}
                        </div>
                      </v-timeline-item>
                    </v-timeline>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="6">
                <!-- Schedule -->
                <v-row no-gutters>
                  <v-col
                    cols="5"
                  >
                    <date-field
                      :item="driver.outward"
                      :field="{name:'fromDate', label: $t('s.fromDate') }"
                      type="weekdayDate"
                      :show-icon="false"
                      read-only
                      hide-details
                    />
                  </v-col>
                  <v-col
                    cols="5"
                    offset="1"
                  >
                    <date-field
                      :item="item"
                      :field="{name:'toDate', label: $t('s.toDate') }"
                      type="weekdayDate"
                      :show-icon="false"
                      read-only
                      hide-details
                    />
                  </v-col>
                </v-row>
                <v-row
                  no-gutters
                  class="mt-4"
                >
                  <!-- Outward -->
                  <v-col
                    cols="11"
                    class="d-flex justify-center"
                  >
                    <v-chip
                      outlined
                      label
                      class="mr-4"
                    >
                      <v-icon>
                        mdi-car-arrow-right
                      </v-icon>
                    </v-chip>
                    <v-tooltip
                      top
                      color="primary"
                    >
                      <template v-slot:activator="{ on }">
                        <v-chip
                          label
                          :color="driver.schedule.outward.mon ? 'primary' : 'default'"
                          v-on="driver.schedule.outward.mon ? on: ''"
                        >
                          {{ $t('mon') }}
                        </v-chip>
                      </template>
                      <span>{{ driver.schedule.outward.mon ? asHourMinute(driver.schedule.outward.mon,true) : '' }}</span>
                    </v-tooltip>
                    <v-tooltip
                      top
                      color="primary"
                    >
                      <template v-slot:activator="{ on }">
                        <v-chip
                          class="ml-2"
                          label
                          :color="driver.schedule.outward.tue ? 'primary' : 'default'"
                          v-on="driver.schedule.outward.tue ? on: ''"
                        >
                          {{ $t('tue') }}
                        </v-chip>
                      </template>
                      <span>{{ driver.schedule.outward.tue ? asHourMinute(driver.schedule.outward.tue,true) : '' }}</span>
                    </v-tooltip>
                    <v-tooltip
                      top
                      color="primary"
                    >
                      <template v-slot:activator="{ on }">
                        <v-chip
                          class="ml-2"
                          label
                          :color="driver.schedule.outward.wed ? 'primary' : 'default'"
                          v-on="driver.schedule.outward.wed ? on: ''"
                        >
                          {{ $t('wed') }}
                        </v-chip>
                      </template>
                      <span>{{ driver.schedule.outward.wed ? asHourMinute(driver.schedule.outward.wed,true) : '' }}</span>
                    </v-tooltip>
                    <v-tooltip
                      top
                      color="primary"
                    >
                      <template v-slot:activator="{ on }">
                        <v-chip
                          class="ml-2"
                          label
                          :color="driver.schedule.outward.thu ? 'primary' : 'default'"
                          v-on="driver.schedule.outward.thu ? on: ''"
                        >
                          {{ $t('thu') }}
                        </v-chip>
                      </template>
                      <span>{{ driver.schedule.outward.thu ? asHourMinute(driver.schedule.outward.thu,true) : '' }}</span>
                    </v-tooltip>
                    <v-tooltip
                      top
                      color="primary"
                    >
                      <template v-slot:activator="{ on }">
                        <v-chip
                          class="ml-2"
                          label
                          :color="driver.schedule.outward.fri ? 'primary' : 'default'"
                          v-on="driver.schedule.outward.fri ? on: ''"
                        >
                          {{ $t('fri') }}
                        </v-chip>
                      </template>
                      <span>{{ driver.schedule.outward.fri ? asHourMinute(driver.schedule.outward.fri,true) : '' }}</span>
                    </v-tooltip>
                    <v-tooltip
                      top
                      color="primary"
                    >
                      <template v-slot:activator="{ on }">
                        <v-chip
                          class="ml-2"
                          label
                          :color="driver.schedule.outward.sat ? 'primary' : 'default'"
                          v-on="driver.schedule.outward.sat ? on: ''"
                        >
                          {{ $t('sat') }}
                        </v-chip>
                      </template>
                      <span>{{ driver.schedule.outward.sat ? asHourMinute(driver.schedule.outward.sat,true) : '' }}</span>
                    </v-tooltip>
                    <v-tooltip
                      top
                      color="primary"
                    >
                      <template v-slot:activator="{ on }">
                        <v-chip
                          class="ml-2"
                          label
                          :color="driver.schedule.outward.sun ? 'primary' : 'default'"
                          v-on="driver.schedule.outward.sun ? on: ''"
                        >
                          {{ $t('sun') }}
                        </v-chip>
                      </template>
                      <span>{{ driver.schedule.outward.sun ? asHourMinute(driver.schedule.outward.sun,true) : '' }}</span>
                    </v-tooltip>
                  </v-col>
                </v-row>
                <v-row
                  v-if="driver.schedule.return"
                  no-gutters
                  class="mt-4"
                >
                  <!-- Return -->
                  <v-col
                    cols="11"
                    class="d-flex justify-center"
                  >
                    <v-chip
                      outlined
                      label
                      class="mr-4"
                    >
                      <v-icon>
                        mdi-car-arrow-left
                      </v-icon>
                    </v-chip>
                    <v-tooltip
                      bottom
                      color="primary"
                    >
                      <template v-slot:activator="{ on }">
                        <v-chip
                          label
                          :color="driver.schedule.return.mon ? 'primary' : 'default'"
                          v-on="driver.schedule.return.mon ? on: ''"
                        >
                          {{ $t('mon') }}
                        </v-chip>
                      </template>
                      <span>{{ driver.schedule.return.mon ? asHourMinute(driver.schedule.return.mon,true) : '' }}</span>
                    </v-tooltip>
                    <v-tooltip
                      bottom
                      color="primary"
                    >
                      <template v-slot:activator="{ on }">
                        <v-chip
                          class="ml-2"
                          label
                          :color="driver.schedule.return.tue ? 'primary' : 'default'"
                          v-on="driver.schedule.return.tue ? on: ''"
                        >
                          {{ $t('tue') }}
                        </v-chip>
                      </template>
                      <span>{{ driver.schedule.return.tue ? asHourMinute(driver.schedule.return.tue,true) : '' }}</span>
                    </v-tooltip>
                    <v-tooltip
                      bottom
                      color="primary"
                    >
                      <template v-slot:activator="{ on }">
                        <v-chip
                          class="ml-2"
                          label
                          :color="driver.schedule.return.wed ? 'primary' : 'default'"
                          v-on="driver.schedule.return.wed ? on: ''"
                        >
                          {{ $t('wed') }}
                        </v-chip>
                      </template>
                      <span>{{ driver.schedule.return.wed ? asHourMinute(driver.schedule.return.wed,true) : '' }}</span>
                    </v-tooltip>
                    <v-tooltip
                      bottom
                      color="primary"
                    >
                      <template v-slot:activator="{ on }">
                        <v-chip
                          class="ml-2"
                          label
                          :color="driver.schedule.return.thu ? 'primary' : 'default'"
                          v-on="driver.schedule.return.thu ? on: ''"
                        >
                          {{ $t('thu') }}
                        </v-chip>
                      </template>
                      <span>{{ driver.schedule.return.thu ? asHourMinute(driver.schedule.return.thu,true) : '' }}</span>
                    </v-tooltip>
                    <v-tooltip
                      bottom
                      color="primary"
                    >
                      <template v-slot:activator="{ on }">
                        <v-chip
                          class="ml-2"
                          label
                          :color="driver.schedule.return.fri ? 'primary' : 'default'"
                          v-on="driver.schedule.return.fri ? on: ''"
                        >
                          {{ $t('fri') }}
                        </v-chip>
                      </template>
                      <span>{{ driver.schedule.return.fri ? asHourMinute(driver.schedule.return.fri,true) : '' }}</span>
                    </v-tooltip>
                    <v-tooltip
                      bottom
                      color="primary"
                    >
                      <template v-slot:activator="{ on }">
                        <v-chip
                          class="ml-2"
                          label
                          :color="driver.schedule.return.sat ? 'primary' : 'default'"
                          v-on="driver.schedule.return.sat ? on: ''"
                        >
                          {{ $t('sat') }}
                        </v-chip>
                      </template>
                      <span>{{ driver.schedule.return.sat ? asHourMinute(driver.schedule.return.sat,true) : '' }}</span>
                    </v-tooltip>
                    <v-tooltip
                      bottom
                      color="primary"
                    >
                      <template v-slot:activator="{ on }">
                        <v-chip
                          class="ml-2"
                          label
                          :color="driver.schedule.return.sun ? 'primary' : 'default'"
                          v-on="driver.schedule.return.sun ? on: ''"
                        >
                          {{ $t('sun') }}
                        </v-chip>
                      </template>
                      <span>{{ driver.schedule.return.sun ? asHourMinute(driver.schedule.return.sun,true) : '' }}</span>
                    </v-tooltip>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-col>

          <v-col :cols="driver.frequency == 1 ? 6 : 4">
            <v-row no-gutters> 
              <v-col>
                <v-textarea
                  v-model="comment"
                  :disabled="!editable"
                  :label="$t('freeComment', { recipient: driver.givenName+' '+driver.familyName})"
                  hide-details
                  outlined
                />
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-btn
                  :disabled="!commentValid || loading"
                  :loading="loading"
                  color="primary"
                  class="float-right"
                  @click="addFreeComment"
                >
                  {{ $t('save') }}
                </v-btn>
              </v-col>
            </v-row>
          </v-col>
        </v-row>

        <v-row
          v-else
          align="center"
        >
          <v-col cols="6">
            <SolidaryVolunteerAvailability
              :item="driver"
              :read-only="true"
              :show-volunteer-data="false"
              :cols="12"
            />
          </v-col>
          <v-col cols="6">
            <v-row no-gutters> 
              <v-col>
                <v-textarea
                  v-model="comment"
                  :disabled="!editable"
                  :label="$t('freeComment', { recipient: driver.givenName+' '+driver.familyName})"
                  hide-details
                  outlined
                />
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-btn
                  :disabled="!commentValid || loading"
                  :loading="loading"
                  color="primary"
                  class="float-right"
                  @click="addFreeComment"
                >
                  {{ $t('save') }}
                </v-btn>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
        
        <v-divider />

        <!-- Diary -->
        <SolidaryRecordShowInformationsDiary 
          :only="driverId"
          :add-user-action="actionUser"
          @actionAdded="actionUser = null"
        />
        <v-divider />
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn
          color="primary"
          @click="dialog = true"
        >
          {{ $t('mailbox') }}
          <v-icon right>
            mdi-email
          </v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
    <!-- Contact dialog -->
    <v-dialog
      v-model="dialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <v-card>
        <v-toolbar>
          <v-btn
            icon
            @click="dialog = false"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>{{ dialogTitle }}</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <SolidaryRecordMessager 
            :solution-id="driver.id"
            @addAction="addActionForUser"
          />
        </v-card-text>
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn
            text
            @click="dialog = false"
          >
            {{ $t('close') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import SolidaryRecordShowInformationsDiary from '@/components/solidary/solidaryRecord/SolidaryRecordShowInformationsDiary';
import SolidaryRecordMessager from '@/components/solidary/solidaryRecord/SolidaryRecordMessager';
import DateField from '@/components/field/DateField';
import SolidaryVolunteerAvailability from '@/components/field/SolidaryVolunteerAvailability';
import DateFormatMixin from '@/mixins/DateFormat';

// import the translations
import {messages_models_en, messages_models_fr} from '@/translations/models/Solidary/SolidaryRecord/';
import {messages_views_en, messages_views_fr} from '@/translations/views/Solidary/SolidaryRecords/';
import {messages_dates_en, messages_dates_fr} from '@/translations/views/Dates/';

let messages_en = { ...messages_views_en, dates: {...messages_dates_en }, s: { ...messages_models_en }};
let messages_fr = { ...messages_views_fr, dates: {...messages_dates_fr }, s: { ...messages_models_fr }};

export default {
  components: { 
    SolidaryRecordShowInformationsDiary,
    SolidaryRecordMessager,
    DateField,
    SolidaryVolunteerAvailability
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  mixins: [
    DateFormatMixin
  ],
  props: {
    driverId: {
      type: Number,
      default: null
    }
  },
  data() {
    return {
      comment: null,
      loading: false,
      dialog: false,
      dialogType: 'message',
      actionUser: null,
      ACTION_FREE_COMMENT: 90
    };
  },
  computed: {
    item() {
      return this.$store.getters['sld_r/item'];
    },
    editable() {
      return this.item && this.item.status != this.$store.getters['sld_r/statusClosedForUpdate'];
    },
    contactedDrivers() {
      if (this.item && this.item.solutions && this.item.solutions.drivers) {
        return this.item.solutions.drivers.filter( solutionDriver => solutionDriver.contacted );
      }
      return [];
    },
    driver() {
      if (this.driverId) {
        return this.contactedDrivers.find( element => element.userId === this.driverId);
      }
      return null;
    },
    commentValid() {
      return (this.comment && this.comment.trim()) ? true : false;
    },
    dialogTitle() {
      if (this.dialogType == 'message') {
        return this.$t('contactDialogTitleMessage', { recipient: this.driver.givenName+ ' '+this.driver.familyName});
      } else {
        return this.$t('contactDialogTitleSms', { recipient: this.driver.givenName+ ' '+this.driver.familyName});
      }
    }
  },
  watch: {
    item: {
      handler() {
        if (this.loading && this.comment) {
          this.loading = false;
          this.comment = null;
        }
      }
    }
  },
  methods: {
    items() {
      let items = [];
      if (this.driver) {
        items.push(
          { day: this.$t('s.mon'), mAvailable: this.driver.mMon, aAvailable: this.driver.aMon, eAvailable: this.driver.eMon },
          { day: this.$t('s.tue'), mAvailable: this.driver.mTue, aAvailable: this.driver.aTue, eAvailable: this.driver.eTue },
          { day: this.$t('s.wed'), mAvailable: this.driver.mWed, aAvailable: this.driver.aWed, eAvailable: this.driver.eWed },
          { day: this.$t('s.thu'), mAvailable: this.driver.mThu, aAvailable: this.driver.aThu, eAvailable: this.driver.eThu },
          { day: this.$t('s.fri'), mAvailable: this.driver.mFri, aAvailable: this.driver.aFri, eAvailable: this.driver.eFri },
          { day: this.$t('s.sat'), mAvailable: this.driver.mSat, aAvailable: this.driver.aSat, eAvailable: this.driver.eSat },
          { day: this.$t('s.sun'), mAvailable: this.driver.mSun, aAvailable: this.driver.aSun, eAvailable: this.driver.eSun }
        );
      }
      return items;
    },
    headers() {
      let headers = [{ text: '', value: 'day' }];
      if (this.driver) {
        headers.push(
          { text: this.$t('s.mAvailability', { minTime: this.asHourMinute(this.driver.mMinTime, true), maxTime: this.asHourMinute(this.driver.mMaxTime, true)}), value: 'mAvailable', align: 'center' },
          { text: this.$t('s.aAvailability', { minTime: this.asHourMinute(this.driver.aMinTime, true), maxTime: this.asHourMinute(this.driver.aMaxTime, true)}), value: 'aAvailable', align: 'center' },
          { text: this.$t('s.eAvailability', { minTime: this.asHourMinute(this.driver.eMinTime, true), maxTime: this.asHourMinute(this.driver.eMaxTime, true)}), value: 'eAvailable', align: 'center' }
        );
      }
      return headers;
    },
    addActionForUser(payload) {
      this.dialog = false;
      this.actionUser = payload.user;
    },
    addFreeComment() {
      this.loading = true;
      this.$store.dispatch('sld_r/patchItem', { 
        id: this.item.id, 
        item: {
          animation: {
            action: this.ACTION_FREE_COMMENT,
            user: this.driverId,
            comment: this.comment
          }
        }
      });
    }
    
  }
};
</script>