<template>
  <div>
    <v-form 
      ref="formProofs"
      v-model="valid"
    >
      <solidary-record-beneficiary-proof
        v-for="(modelProof,i) in modelProofs"
        :key="modelProof.id"
        :model-proof="modelProof"
        :index="i"
        :edit="edit"
      />
    </v-form>
  </div>
</template>

<script>

// import the translations
import {messages_models_en, messages_models_fr} from '@/translations/models/Solidary/SolidaryRecord/';
import {messages_components_en, messages_components_fr} from '@/translations/components/solidary/SolidaryRecordStepper/';
import SolidaryRecordBeneficiaryProof from '@/components/solidary/solidaryRecord/SolidaryRecordBeneficiaryProof';

let messages_en = { ...messages_components_en, s: { ...messages_models_en }};
let messages_fr = { ...messages_components_fr, s: { ...messages_models_fr }};

export default {
  components: { 
    SolidaryRecordBeneficiaryProof
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  props: {
    edit: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    valid: false
  }),
  computed: {
    editedItem() {
      return this.$store.getters['sld_r/editedItem'];
    },
    modelProofs() {
      return this.editedItem && this.editedItem.structure && this.editedItem.structure.structureProofsRequester ? this.editedItem.structure.structureProofsRequester : [];
    },
    proofs() {
      return this.editedItem.proofs;      
    }
  },
  watch: {
    valid() {
      this.$emit('valid',this.valid);
    }
  }
};
</script>