<template>
  <div>
    <v-container>
      <v-row no-gutters>
        <v-col
          v-for="need in needs"
          :key="need.id"
          cols="3"
        >
          <v-checkbox
            v-model="editedItem.needs"
            :label="need.label"
            :value="need.id"
            :input-value="editedItem.needs"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <v-text-field
            v-model="editedItem.additionalNeed"
            :label="$t('additionalNeed')"
            clearable
          />
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>

// import the translations
import {messages_models_en, messages_models_fr} from '@/translations/models/Solidary/SolidaryRecord/';
import {messages_components_en, messages_components_fr} from '@/translations/components/solidary/SolidaryRecordStepper/';
import {messages_dates_en, messages_dates_fr} from '@/translations/views/Dates/';

let messages_en = { ...messages_components_en, dates: {...messages_dates_en }, s: { ...messages_models_en } };
let messages_fr = { ...messages_components_fr, dates: {...messages_dates_fr }, s: { ...messages_models_fr } };

export default {
  components: { 
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  mixins: [
  ],
  props: {
    edit: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      
    };
  },
  computed: {
    editedItem() {
      return this.$store.getters['sld_r/editedItem'];
    },
    needs() {
      return this.editedItem && this.editedItem.structure && this.editedItem.structure.needs ? this.editedItem.structure.needs : [];
    },
    selectedNeeds() {
      return this.editedItem.needs;
    },
    additionalNeed() {
      return this.editedItem.additionalNeed;
    },
  },
  watch: {
    selectedNeeds: {
      immediate: true,
      deep: true,
      handler() {
        this.$store.dispatch('sld_r/saveEditedItem', this.editedItem );
      }
    },
    additionalNeed: {
      immediate: true,
      deep: true,
      handler() {
        this.$store.dispatch('sld_r/saveEditedItem', this.editedItem );
      }
    },
  },
  created() {
    
  },
  methods: {
  }
};
</script>