<template>
  <div>
    <v-subheader>
      <v-icon class="mr-2">
        mdi-numeric-5-circle-outline
      </v-icon><h3>{{ $t('departureDatePunctual') }}</h3>
    </v-subheader>
    <v-container>
      <v-radio-group v-model="editedItem.punctualOutwardDateChoice">
        <v-row
          no-gutters
          align="center"
        >
          <v-col cols="3">
            <v-radio
              :value="1"
            >
              <template v-slot:label>
                <date-field
                  :disabled="editedItem.punctualOutwardDateChoice != 1"
                  :item="editedItem"
                  :field="{
                    name: 'punctualOutwardChosenMinDate',
                    nullable: true
                  }"
                  :label="$t('punctualOutwardDateChoice1')"
                  type="date"
                  :min-date="now"
                  :max-date="editedItem.punctualReturnDate"
                  :show-icon="false"
                  autocomplete="8a9ba928a19a"
                />
              </template>
            </v-radio>
          </v-col>
          <v-col cols="2">
            <v-radio
              :label="$t('punctualOutwardDateChoice2')"
              :value="2"
            />
          </v-col>
          <v-col cols="2">
            <v-radio
              :label="$t('punctualOutwardDateChoice3')"
              :value="3"
            />
          </v-col>
          <v-col cols="2">
            <v-radio
              :label="$t('punctualOutwardDateChoice4')"
              :value="4"
            />
          </v-col>
        </v-row>
      </v-radio-group>
    </v-container>
    <v-divider />

    <div v-if="check5">
      <v-subheader>
        <v-icon class="mr-2">
          mdi-numeric-6-circle-outline
        </v-icon><h3>{{ $t('departureTime') }}</h3>
      </v-subheader>
      <v-container>
        <v-radio-group v-model="editedItem.punctualOutwardTimeChoice">
          <v-row
            no-gutters
            align="center"
          >
            <v-col cols="3">
              <v-radio
                :value="1"
              >
                <template v-slot:label>
                  <date-field
                    :disabled="editedItem.punctualOutwardTimeChoice != 1"
                    :item="editedItem"
                    :field="{
                      name: 'punctualOutwardChosenMinTime',
                      nullable: true
                    }"
                    :label="$t('punctualOutwardTimeChoice1')"
                    type="time"
                    :max-time="punctualOutwardTimeLimit"
                    :show-icon="false"
                    autocomplete="8a9ba928z19a"
                  />
                </template>
              </v-radio>
            </v-col>
            <v-col cols="2">
              <v-radio
                :disabled="punctualOutwardTimeChoiceInvalid(2)"
                :label="$t('punctualOutwardTimeChoice2', { min: editedItem.structure.mMinTime, max: editedItem.structure.mMaxTime })"
                :value="2"
              />
            </v-col>
            <v-col cols="2">
              <v-radio
                :disabled="punctualOutwardTimeChoiceInvalid(3)"
                :label="$t('punctualOutwardTimeChoice2', { min: editedItem.structure.aMinTime, max: editedItem.structure.aMaxTime })"
                :value="3"
              />
            </v-col>
            <v-col cols="2">
              <v-radio
                :disabled="punctualOutwardTimeChoiceInvalid(4)"
                :label="$t('punctualOutwardTimeChoice2', { min: editedItem.structure.eMinTime, max: editedItem.structure.eMaxTime })"
                :value="4"
              />
            </v-col>
          </v-row>
        </v-radio-group>
      </v-container>
      <v-divider />
    </div>

    <div v-if="check6">
      <v-subheader>
        <v-icon class="mr-2">
          mdi-numeric-7-circle-outline
        </v-icon><h3>{{ $t('returnDate') }}</h3>
      </v-subheader>
      <v-container>
        <v-radio-group v-model="editedItem.punctualReturnDateChoice">
          <v-row no-gutters>
            <v-col cols="3">
              <v-radio
                :value="1"
                :label="$t('punctualReturnDateChoice1')"
              />
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col cols="3">
              <v-radio
                :value="2"
                :label="$t('punctualReturnDateChoice2')"
              />
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col cols="3">
              <v-radio
                :value="3"
                :label="$t('punctualReturnDateChoice3')"
              />
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col cols="3">
              <v-radio
                :value="4"
                :label="$t('punctualReturnDateChoice4')"
              />
            </v-col>
          </v-row>
          <v-row
            v-if="editedItem.punctualOutwardDateChoice==1"
                
            no-gutters
            align="center"
          >
            <v-col cols="3">
              <v-radio
                :value="5"
              >
                <template v-slot:label>
                  <date-field
                    :disabled="editedItem.punctualReturnDateChoice != 5"
                    :item="editedItem"
                    :field="{
                      name: 'punctualReturnChosenDateTime',
                      nullable: true
                    }"
                    :label="$t('punctualReturnDateChoice5')"
                    type="datetime"
                    :min-date="editedItem.punctualOutwardMinDate"
                    :min-time="editedItem.punctualOutwardMinTime"
                    :show-icon="false"
                    autocomplete="8a9ba928a19a"
                  />
                </template>
              </v-radio>
            </v-col>
          </v-row>
        </v-radio-group>
      </v-container>
      <v-divider />
    </div>

    <div v-if="check7">
      <v-subheader>
        <v-icon class="mr-2">
          mdi-numeric-8-circle-outline
        </v-icon><h3>{{ $t('otherInformations') }}</h3>
      </v-subheader>
      <solidary-record-beneficiary-needs
        :edit="edit"
      />
    </div>
  </div>
</template>

<script>

// import the translations
import {messages_models_en, messages_models_fr} from '@/translations/models/Solidary/SolidaryRecord/';
import {messages_components_en, messages_components_fr} from '@/translations/components/solidary/SolidaryRecordStepper/';
import {messages_dates_en, messages_dates_fr} from '@/translations/views/Dates/';
import DateField from '@/components/field/DateField';
import DateFormatMixin from '@/mixins/DateFormat';
import SolidaryRecordBeneficiaryNeeds from '@/components/solidary/solidaryRecord/SolidaryRecordBeneficiaryNeeds';
import moment from 'moment';

let messages_en = { ...messages_components_en, dates: {...messages_dates_en }, s: { ...messages_models_en } };
let messages_fr = { ...messages_components_fr, dates: {...messages_dates_fr }, s: { ...messages_models_fr } };

export default {
  components: { 
    DateField,
    SolidaryRecordBeneficiaryNeeds
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  mixins: [
    DateFormatMixin
  ],
  props: {
    edit: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      
    };
  },
  computed: {
    editedItem() {
      return this.$store.getters['sld_r/editedItem'];
    },
    now() {
      return this.asIsoDate();
    },
    punctualOutwardDateChoice() {
      return this.editedItem.punctualOutwardDateChoice;
    },
    punctualOutwardChosenMinDate() {
      return this.editedItem.punctualOutwardChosenMinDate;
    },
    punctualOutwardMinDate() {
      return this.editedItem.punctualOutwardMinDate;
    },
    punctualOutwardTimeChoice() {
      return this.editedItem.punctualOutwardTimeChoice;
    },
    punctualOutwardChosenMinTime() {
      return this.editedItem.punctualOutwardChosenMinTime;
    },
    punctualOutwardMinTime() {
      return this.editedItem.punctualOutwardMinTime;
    },
    punctualReturnDateChoice() {
      return this.editedItem.punctualReturnDateChoice;
    },
    punctualReturnChosenDateTime() {
      return this.editedItem.punctualReturnChosenDateTime;
    },
    punctualReturnDate() {
      return this.editedItem.punctualReturnDate;
    },
    punctualOutwardTimeLimit() {
      return moment(this.editedItem.punctualReturnDate).isSame(moment(this.editedItem.punctualOutwardMinDate)) ? this.editedItem.punctualReturnTime : null;
    },
    check5() {
      return !!this.editedItem.punctualOutwardMinDate;
    },
    check6() {
      return this.check5 && !!this.editedItem.punctualOutwardMinTime;
    },
    check7() {
      return this.check6 && !!this.editedItem.punctualReturnDateChoice && (this.editedItem.punctualReturnDateChoice<5 || !!this.editedItem.punctualReturnDate);
    }
  },
  watch: {
    punctualOutwardDateChoice(choice) {
      switch (choice) {
      case 1: 
        this.editedItem.punctualOutwardMinDate = this.editedItem.punctualOutwardChosenMinDate;
        this.editedItem.punctualOutwardMaxDate = null;
        break;
      case 2: 
        this.editedItem.punctualOutwardMinDate = this.now;
        this.editedItem.punctualOutwardMaxDate = this.asIsoDate(moment(this.editedItem.punctualOutwardMinDate).add(7, 'd'));
        break;
      case 3: 
        this.editedItem.punctualOutwardMinDate = this.now;
        this.editedItem.punctualOutwardMaxDate = this.asIsoDate(moment(this.editedItem.punctualOutwardMinDate).add(15, 'd'));
        break;
      case 4: 
        this.editedItem.punctualOutwardMinDate = this.now;
        this.editedItem.punctualOutwardMaxDate = this.asIsoDate(moment(this.editedItem.punctualOutwardMinDate).add(30, 'd'));
        break;
      }
      this.$store.dispatch('sld_r/saveEditedItem', this.editedItem );
      this.checkValidity();
    },
    punctualOutwardMinDate() {
      this.$store.dispatch('sld_r/saveEditedItem', this.editedItem );
      this.checkValidity();
    },
    punctualOutwardChosenMinDate() {
      this.editedItem.punctualOutwardMinDate = this.editedItem.punctualOutwardChosenMinDate;
      this.editedItem.punctualOutwardMaxDate = null;
      this.$store.dispatch('sld_r/saveEditedItem', this.editedItem );
      this.checkValidity();
    },
    punctualOutwardTimeChoice(choice) {
      switch (choice) {
      case 1: 
        this.editedItem.punctualOutwardMinTime = this.editedItem.punctualOutwardChosenMinTime;
        this.editedItem.punctualOutwardMaxTime = null;
        break;
      case 2: 
        this.editedItem.punctualOutwardMinTime = this.editedItem.structure.mMinTime;
        this.editedItem.punctualOutwardMaxTime = this.editedItem.structure.mMaxTime;
        break;
      case 3: 
        this.editedItem.punctualOutwardMinTime = this.editedItem.structure.aMinTime;
        this.editedItem.punctualOutwardMaxTime = this.editedItem.structure.aMaxTime;
        break;
      case 4: 
        this.editedItem.punctualOutwardMinTime = this.editedItem.structure.eMinTime;
        this.editedItem.punctualOutwardMaxTime = this.editedItem.structure.eMaxTime;
        break;
      }
      this.$store.dispatch('sld_r/saveEditedItem', this.editedItem );
      this.checkValidity();
    },
    punctualOutwardMinTime() {
      this.$store.dispatch('sld_r/saveEditedItem', this.editedItem );
      this.checkValidity();
    },
    punctualOutwardChosenMinTime() {
      this.editedItem.punctualOutwardMinTime = this.editedItem.punctualOutwardChosenMinTime;
      this.editedItem.punctualOutwardMaxTime = null;
      this.$store.dispatch('sld_r/saveEditedItem', this.editedItem );
      this.checkValidity();
    },
    punctualReturnDateChoice(choice) {
      switch (choice) {
      case 1: 
      case 2: 
      case 3: 
      case 4: 
        this.editedItem.punctualReturnDate = null;
        this.editedItem.punctualReturnTime = null;
        break;
      case 5:
        this.editedItem.punctualReturnDate = this.asIsoDate(this.editedItem.punctualReturnChosenDateTime);
        this.editedItem.punctualReturnTime = this.asHourMinute(this.editedItem.punctualReturnChosenDateTime);
        break;
      }
      this.$store.dispatch('sld_r/saveEditedItem', this.editedItem );
      this.checkValidity();
    },
    punctualReturnDate() {
      this.$store.dispatch('sld_r/saveEditedItem', this.editedItem );
      this.checkValidity();
    },
    punctualReturnChosenDateTime() {
      this.editedItem.punctualReturnDate = this.asIsoDate(this.editedItem.punctualReturnChosenDateTime);
      this.editedItem.punctualReturnTime = this.asHourMinute(this.editedItem.punctualReturnChosenDateTime);
      this.$store.dispatch('sld_r/saveEditedItem', this.editedItem );
      this.checkValidity();
    }
  },
  created() {
    this.checkValidity();
  },
  methods: {
    punctualOutwardTimeChoiceInvalid(id) {
      if (this.editedItem.punctualReturnTime === null) return false;
      if (moment(this.editedItem.punctualOutwardMinDate).isBefore(moment(this.editedItem.punctualReturnDate))) return false;
      switch (id) {
      case 2:
        return moment(this.editedItem.punctualReturnChosenDateTime).isBefore(moment(this.editedItem.punctualReturnDate+'T'+this.editedItem.structure.mMinTime+':00'));
      case 3:
        return moment(this.editedItem.punctualReturnChosenDateTime).isBefore(moment(this.editedItem.punctualReturnDate+'T'+this.editedItem.structure.aMinTime+':00'));
      case 4:
        return moment(this.editedItem.punctualReturnChosenDateTime).isBefore(moment(this.editedItem.punctualReturnDate+'T'+this.editedItem.structure.eMinTime+':00'));
      }
      return false;
    },
    checkValidity() {
      this.$emit('valid', this.check7);
    },
  }
};
</script>