<template>
  <div>
    <v-btn-toggle
      v-if="item.proposalType != 1"
      v-model="type"
      group
      color="primary"
      mandatory
    >
      <v-btn value="outward">
        <span class="hidden-sm-and-down">{{ $t('outward') }}</span>

        <v-icon right>
          mdi-arrow-right
        </v-icon>        
      </v-btn>

      <v-btn value="return">
        <v-icon left>
          mdi-arrow-left
        </v-icon>
        <span class="hidden-sm-and-down">{{ $t('return') }}</span>
      </v-btn>
    </v-btn-toggle>

    <SolidaryRecordShowCarpoolsDetails
      :item="item"
      :carpools="carpools"
      :type="type"
    />

    <SolidaryRecordShowCarpoolsDetails
      v-if="externalJourneys && externalRequestComplient"
      :item="item"
      :carpools="externalJourneys"
      :type="type"
      :external="true"
    />
  </div>
</template>

<script>
import DateFormatMixin from '@/mixins/DateFormat';
import SolidaryRecordShowCarpoolsDetails from '@/components/solidary/solidaryRecord/SolidaryRecordShowCarpoolsDetails';
import getEnv from '@/utils/env';

// import the translations
import {messages_views_en, messages_views_fr} from '@/translations/views/Solidary/SolidaryRecords/';
import {messages_models_en, messages_models_fr} from '@/translations/models/Solidary/SolidaryRecord/';
import {messages_dates_en, messages_dates_fr} from '@/translations/views/Dates/';

let messages_en = { ...messages_views_en, dates: {...messages_dates_en }, s: { ...messages_models_en }};
let messages_fr = { ...messages_views_fr, dates: {...messages_dates_fr }, s: { ...messages_models_fr }};

export default {
  components: {
    SolidaryRecordShowCarpoolsDetails
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  mixins: [
    DateFormatMixin
  ],
  props: {
    defaultType: {
      type: String,
      default: 'outward'
    }
  },
  data() {
    return {
      type: this.defaultType
    };
  },
  computed: {
    item() {
      return this.$store.getters['sld_r/item'];
    },
    carpools() {
      return this.type == 'outward' ? this.item.carpools.outward.filter( carpool => carpool.external == false) : this.item.carpools.return.filter( carpool => carpool.external == false);
    },
    externalJourneys() {
      return this.type == 'outward' ? this.item.carpools.outward.filter( carpool => carpool.external == true) : this.item.carpools.return.filter( carpool => carpool.external == true);
    },
    externalRequestComplient() {
      if(this.item.origin && this.item.destination && getEnv('VUE_APP_EXTERNAL_JOURNEYS') == 'true'){
        return true;
      }
      return false;
    },
  },
  watch: {
    defaultType() {
      this.type = this.defaultType;
    }
  },
  methods: {
  }
};
</script>