<template>
  <div>
    <div
      v-if="external"
      class="mt-5"
    >
      <hr class="mb-5">
      <h2>
        {{ $t('rdex.externalDriversTitle') }}
      </h2>
    </div>
    <v-data-table
      :headers="headers"
      :items="carpools"
      :hide-default-footer="carpools.length>5 ? false : true"
    >
      <template v-slot:no-data>
        <span v-if="external && ((type == 'outward' && !externalOutwardSearchMade) || (type == 'return' && !externalReturnSearchMade))">
          <v-btn
            class="my-5"
            color="primary"
            :loading="externalJourneysLoading"
            @click="getExternalJourneys"
          >
            {{ $t('rdex.externalDrivers') }}
          </v-btn>
        </span>
        <span v-else>{{ $t('noCarpoolAvailable') }}</span>
      </template>
      <template v-slot:[`item.carpoolerId`]="{ item }">
        <v-chip
          color="primary"
          label
        >
          <v-avatar left>
            <v-img 
              v-if="item.carpoolerAvatar"
              :src="item.carpoolerAvatar"
            />
            <v-icon
              v-else
            >
              mdi-account-circle-outline
            </v-icon>
          </v-avatar>
          {{ item.carpoolerGivenName }} {{ item.carpoolerFamilyName }}
        </v-chip>
      </template>
      <template v-slot:[`item.direction`]="{ item }">
        <v-row align="center">
          <v-col cols="10">
            <v-timeline
              dense
            >
              <v-timeline-item 
                small
                color="blue"
                icon="mdi-map-marker"
              >
                <div class="text-overline">
                  {{ item.frequency == 1 ? asHourMinute(item.fromTime,true)+' - ' : '' }} {{ item.origin.addressLocality }} 
                </div>
              </v-timeline-item>
              <v-timeline-item 
                small
                color="green"
                icon="mdi-flag-checkered"
              >
                <div 
                  v-if="(item.origin.displayLabel[0] !== item.destination.displayLabel[0]) || item.external"
                  class="text-overline"
                >
                  {{ item.frequency == 1 ? asHourMinute(item.destinationTime,true)+' - ' : '' }} {{ item.destination.addressLocality }}
                </div>
                <v-icon
                  v-else
                >
                  mdi-map-marker-question-outline
                </v-icon>
              </v-timeline-item>
            </v-timeline>
          </v-col>
          <v-col cols="2">
            <v-tooltip
              right
            >
              <template v-slot:activator="{ on, attrs }">
                <div
                  v-bind="attrs"
                  v-on="on"
                >
                  <v-icon
                    v-if="!item.external"
                    color="primary"
                  >
                    mdi-transit-detour
                  </v-icon>
                  <v-icon
                    v-else
                    left
                    color="primary"
                  >
                    mdi-clock
                  </v-icon>                  
                </div>
              </template>
              <v-card
                outlined
              >
                <v-card-title>
                  {{ (!item.external) ? $t('detour') : $t('distanceAndDuration') }}
                </v-card-title>
                <v-card-text>
                  <v-chip class="mr-2">
                    <v-icon
                      left
                    >
                      mdi-road-variant
                    </v-icon>
                    {{ Math.round(item.detourDistance/1000*100)/100 }}km
                  </v-chip>
                  <v-chip>
                    <v-icon left>
                      mdi-clock
                    </v-icon>
                    {{ Math.round(item.detourDuration/60) }}min
                  </v-chip>
                </v-card-text>
              </v-card>
            </v-tooltip>
          </v-col>
          <v-row />
        </v-row>
      </template>
      <template v-slot:[`item.fromDate`]="{ item }">
        <span v-if="item.frequency == 1">{{ asWeekdayDate(item.fromDate,$i18n.locale) }}</span>
        <div v-else>
          <v-tooltip
            top
            color="primary"
          >
            <template v-slot:activator="{ on }">
              <v-chip
                label
                :color="schedule(item).mon ? 'primary' : 'default'"
                v-on="schedule(item).mon ? on: ''"
              >
                {{ $t('mon') }}
              </v-chip>
            </template>
            <span>{{ schedule(item).mon ? asHourMinute(schedule(item).mon,true) : '' }}</span>
          </v-tooltip>
          <v-tooltip
            top
            color="primary"
          >
            <template v-slot:activator="{ on }">
              <v-chip
                class="ml-2"
                label
                :color="schedule(item).tue ? 'primary' : 'default'"
                v-on="schedule(item).tue ? on: ''"
              >
                {{ $t('tue') }}
              </v-chip>
            </template>
            <span>{{ schedule(item).tue ? asHourMinute(schedule(item).tue,true) : '' }}</span>
          </v-tooltip>
          <v-tooltip
            top
            color="primary"
          >
            <template v-slot:activator="{ on }">
              <v-chip
                class="ml-2"
                label
                :color="schedule(item).wed ? 'primary' : 'default'"
                v-on="schedule(item).wed ? on: ''"
              >
                {{ $t('wed') }}
              </v-chip>
            </template>
            <span>{{ schedule(item).wed ? asHourMinute(schedule(item).wed,true) : '' }}</span>
          </v-tooltip>
          <v-tooltip
            top
            color="primary"
          >
            <template v-slot:activator="{ on }">
              <v-chip
                class="ml-2"
                label
                :color="schedule(item).thu ? 'primary' : 'default'"
                v-on="schedule(item).thu ? on: ''"
              >
                {{ $t('thu') }}
              </v-chip>
            </template>
            <span>{{ schedule(item).thu ? asHourMinute(schedule(item).thu,true) : '' }}</span>
          </v-tooltip>
          <v-tooltip
            top
            color="primary"
          >
            <template v-slot:activator="{ on }">
              <v-chip
                class="ml-2"
                label
                :color="schedule(item).fri ? 'primary' : 'default'"
                v-on="schedule(item).fri ? on: ''"
              >
                {{ $t('fri') }}
              </v-chip>
            </template>
            <span>{{ schedule(item).fri ? asHourMinute(schedule(item).fri,true) : '' }}</span>
          </v-tooltip>
          <v-tooltip
            top
            color="primary"
          >
            <template v-slot:activator="{ on }">
              <v-chip
                class="ml-2"
                label
                :color="schedule(item).sat ? 'primary' : 'default'"
                v-on="schedule(item).sat ? on: ''"
              >
                {{ $t('sat') }}
              </v-chip>
            </template>
            <span>{{ schedule(item).sat ? asHourMinute(schedule(item).sat,true) : '' }}</span>
          </v-tooltip>
          <v-tooltip
            top
            color="primary"
          >
            <template v-slot:activator="{ on }">
              <v-chip
                class="ml-2"
                label
                :color="schedule(item).sun ? 'primary' : 'default'"
                v-on="schedule(item).sun ? on: ''"
              >
                {{ $t('sun') }}
              </v-chip>
            </template>
            <span>{{ schedule(item).sun ? asHourMinute(schedule(item).sun,true) : '' }}</span>
          </v-tooltip>
        </div>
      </template>
      <template v-slot:[`item.frequency`]="{ item }">
        {{ item.frequency == 1 ? $t('s.punctual') : $t('s.regular') }}
      </template>
      <template v-slot:[`item.role`]="{ item }">
        <v-icon
          v-if="item.driver"
          large
          class="mr-4"
        >
          mdi-steering
        </v-icon>
        <v-icon
          v-if="item.passenger"
          large
        >
          mdi-walk
        </v-icon>
      </template>
      <template v-slot:[`item.solidaryExclusive`]="{ item }">
        <v-simple-checkbox
          v-if="item.solidaryExclusive"
          v-model="item.solidaryExclusive"
          disabled
        />
      </template>
      <template v-slot:[`item.action`]="{ item }">
        <v-tooltip
          v-if="!alreadyPotentialDriver(item) && !item.external"
          top
          color="warning"
        >
          <template v-slot:activator="{ on }">
            <v-btn
              color="warning"
              class="mr-2"
              :loading="loading"
              :disabled="loading || !editable"
              v-on="on"
              @click="potentialDriverConfirm(item)"
            >
              {{ $t('select') }}
              <v-icon right>
                mdi-steering
              </v-icon>
            </v-btn>
          </template>
          <span>{{ type == 'outward' ? $t('addAsPotentialOutwardDriver') : $t('addAsPotentialReturnDriver') }}</span>
        </v-tooltip>
        <v-tooltip
          v-else-if="!item.external"
          top
          color="primary"
          :disabled="!editable"
        >
          <template v-slot:activator="{ on }">
            <v-btn
              color="primary"
              class="mr-2"
              outlined
              :disabled="!editable"
              v-on="on"
            >
              {{ $t('alreadySelected') }}
              <v-icon right>
                mdi-steering
              </v-icon>
            </v-btn>
          </template>
          <span>{{ type == 'outward' ? $t('alreadyAddedAsPotentialOutwardDriver') : $t('alreadyAddedAsPotentialReturnDriver') }}</span>
        </v-tooltip>
        <v-tooltip
          v-else-if="item.external"
          top
          color="success"
          :disabled="!editable"
        >
          <template v-slot:activator="{ on }">
            <v-btn
              color="success"
              class="mr-2"
              :disabled="!editable"
              v-on="on"
              @click="contactDriverConfirm(item)"
            >
              {{ $t('contactDriver') }}
              <v-icon right>
                mdi-mail
              </v-icon>
            </v-btn>
          </template>
          <span>{{ type == 'outward' ? $t('contactOutwardDriver') : $t('contactReturnDriver') }}</span>
        </v-tooltip>
        <p class="mt-2">
          {{ item.externalOrigin }}
        </p>
      </template>
    </v-data-table>
    <!-- Add as potential driver dialog -->    
    <v-dialog
      v-if="selectedDriver"
      v-model="dialog"
      persistent
      max-width="800"
    >
      <v-card>
        <v-card-title
          class="text-h5"
        >
          {{ type == 'outward' ? $t('addAsPotentialOutwardDriver') : $t('addAsPotentialReturnDriver') }}
        </v-card-title>
        <v-card-text>
          {{ type == 'outward' ? $t('addAsPotentialOutwardDriverText', { potentialDriver: selectedDriver.carpoolerGivenName, beneficiary: item.givenName }) : $t('addAsPotentialReturnDriverText', { potentialDriver: selectedDriver.carpoolerGivenName, beneficiary: item.givenName }) }}
        </v-card-text>
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn
            text
            :disabled="loading"
            @click="dialog = false"
          >
            {{ $t('cancel') }}
          </v-btn>
          <v-btn
            color="primary"
            text
            :loading="loading"
            :disabled="loading"
            @click="addPotentialDriver"
          >
            {{ $t('add') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog
      v-if="selectedDriver"
      v-model="dialogContact"
      persistent
      max-width="800"
    >
      <v-card>
        <v-card-title
          class="text-h5"
        >
          {{ type == 'outward' ? $t('contactOutwardDriver') : $t('contactReturnDriver') }}
        </v-card-title>
        <v-card-text>
          <p>{{ type == 'outward' ? $t('contactOutwardDriverText', { potentialDriver: selectedDriver.carpoolerGivenName, beneficiary: item.givenName }) : $t('contactReturnDriverText', { potentialDriver: selectedDriver.carpoolerGivenName, beneficiary: item.givenName }) }}</p>
          <v-textarea
            v-model="contactMessage"
            :label="$t('comment')"
            persistent-hint
            outlined
          />        
        </v-card-text>          
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn
            text
            :disabled="loading"
            @click="dialogContact = false"
          >
            {{ $t('cancel') }}
          </v-btn>
          <v-btn
            color="primary"
            text
            :loading="loading"
            :disabled="loading"
            @click="contactPotentialDriver"
          >
            {{ $t('contact') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- Add action dialog -->
    <v-dialog
      v-if="selectedDriver"
      id="contactExternalDriver"
      v-model="dialogAddAction"
      persistent
      max-width="800"
    >
      <v-card>
        <v-card-title
          class="text-h5"
        >
          {{ $t('addActionTitle') }}
        </v-card-title>
        <v-card-text>
          {{ (selectedDriver) ? $t('addActionTextContactExternalDriver', { externalDriver: selectedDriver.carpoolerGivenName}) : '' }}
        </v-card-text>
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn
            text
            @click="dialogAddAction = false"
          >
            {{ $t('cancel') }}
          </v-btn>
          <v-btn
            color="primary"
            text
            @click="addAction"
          >
            {{ $t('add') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import DateFormatMixin from '@/mixins/DateFormat';
// import the translations
import {messages_views_en, messages_views_fr} from '@/translations/views/Solidary/SolidaryRecords/';
import {messages_models_en, messages_models_fr} from '@/translations/models/Solidary/SolidaryRecord/';
import {messages_dates_en, messages_dates_fr} from '@/translations/views/Dates/';

let messages_en = { ...messages_views_en, dates: {...messages_dates_en }, s: { ...messages_models_en }};
let messages_fr = { ...messages_views_fr, dates: {...messages_dates_fr }, s: { ...messages_models_fr }};

export default {
  components: { 
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  mixins: [
    DateFormatMixin
  ],
  props: {
    item: {
      type: Object,
      default: null
    },      
    carpools: {
      type: Array,
      default: null
    },
    type: {
      type: String,
      default: 'outward'
    },
    external: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      selectedDriver: null,
      headers: [
        { text: this.$t('s.driver'), value: 'carpoolerId', sortable: false },
        { text: this.$t('s.driverDirection'), value: 'direction', sortable: false },
        { text: this.$t('s.driverDate'), value: 'fromDate', sortable: false },
        { text: this.$t('s.frequency'), value: 'frequency' },
        { text: this.$t('s.role'), value: 'role', sortable: false },
        { text: this.$t('s.solidaryExclusive'), value: 'solidaryExclusive', sortable: false },
        { text: null, value: 'action', sortable: false }
      ],
      loading: false,
      externalOutwardSearchMade: false,
      externalReturnSearchMade: false,
      MODE_FULL: 1,
      dialog: false,
      dialogContact: false,
      dialogAddAction: false,
      contactMessage: '',
      ACTION_FREE_COMMENT: 106
    };
  },
  computed: {
    drivers() {
      return this.item.solutions.drivers ? this.item.solutions.drivers : [];
    },
    editable() {
      return this.item && this.item.status != this.$store.getters['sld_r/statusClosedForUpdate'];
    },
    externalJourneysLoading() {
      return this.$store.getters['sld_r/externalJourneysLoading'];
    },
    currentUser() {
      return this.$store.state.auth.muser ? this.$store.state.auth.muser : this.user ;
    },
    solidaryOperatorName() {
      return this.currentUser.givenName + ' ' + this.currentUser.shortFamilyName;
    },
    currentSolidaryStructure() {
      let currentSolidaryStructureId = this.$store.state.auth.muser.currentSolidaryStructure;
      let solidaryStructures = this.$store.state.auth.muser.solidaryStructures;

      return solidaryStructures.filter( solidaryStructure => solidaryStructure.id == currentSolidaryStructureId)[0];
    },
    defaultContactMessage() {
      return this.$t('contactDriverDefaultText', { structure: this.currentSolidaryStructure.name, telephone: this.currentSolidaryStructure.telephone, beneficiary: this.item.givenName, operator: this.solidaryOperatorName, signature: this.currentSolidaryStructure.signature });
    },
    driverContacted() {
      return this.$store.getters['sld_r/driverContacted'];
    }
  },
  watch: {
    item() {
      if (this.dialog && this.selectedDriver) {
        this.selectedDriver = null;
        this.dialog = false;
        this.loading = false;
      }
    },
    externalJourneysLoading(newValue, oldValue){
      if(!newValue && oldValue){
        if(this.type == 'outward'){
          this.externalOutwardSearchMade = true;
        }
        else{
          this.externalReturnSearchMade = true;
        }
      }
    },
    driverContacted(value){
      if(value){
        this.dialogContact = false;
        this.dialogAddAction = true;
        this.externalOutwardSearchMade = false;
        this.externalReturnSearchMade = false;
        this.loading = false;
      }
    }
  },
  created(){
    this.contactMessage = this.defaultContactMessage;
  },  
  methods: {
    alreadyPotentialDriver(item) {
      return this.drivers.filter( driver => driver.matchingId === item.matchingId ).length == 1;
    },
    potentialDriverConfirm(item) {
      this.dialog = true;
      this.selectedDriver = item;
    },
    contactDriverConfirm(item) {
      this.dialogContact = true;
      this.selectedDriver = item;
    },
    cancelPotentialDriver() {
      this.selectedDriver = null;
      this.dialog = false;
    },
    addPotentialDriver() {
      this.loading = true;
      this.$store.dispatch('sld_r/patchItem', { 
        id: this.item.id, 
        item: {
          solution: {
            matching: this.selectedDriver.matchingId,
            carpooler: this.selectedDriver.carpoolerId
          }
        }
      });
    },
    contactPotentialDriver(){
      this.loading = true;
      this.$store.dispatch('sld_r/contactExternalDriver', { 
        carpooler: this.selectedDriver.carpoolerId,
        provider: this.selectedDriver.externalProvider,
        journeyId: this.selectedDriver.journeyId,
        message: this.contactMessage,
      });   
    },
    schedule(item) {
      if (item.carpoolerSchedule && this.item.mode !== this.MODE_FULL) {
        return item.carpoolerSchedule;
      }
      return item.schedule;
    },
    getExternalJourneys(){

      let minDate = (this.type == 'outward') ? this.asSimpleDateUS(this.item.outwardDate) : this.asSimpleDateUS(this.item.returnDate);
      let maxDate = minDate;
      if(this.item.frequency == 2){
        maxDate = this.asSimpleDateUS(this.item.toDate);
      }

      this.$store.dispatch('sld_r/getExternalJourneys', {
        'fromLat':(this.type == 'outward') ? this.item.origin.latitude : this.item.destination.latitude,
        'fromLon':(this.type == 'outward') ? this.item.origin.longitude : this.item.destination.longitude,
        'toLat':(this.type == 'outward') ? this.item.destination.latitude : this.item.origin.latitude,
        'toLon':(this.type == 'outward') ? this.item.destination.longitude : this.item.origin.longitude,
        'minDate': minDate,
        'maxDate': maxDate,
        'minTime': (this.type == 'outward') ? this.asHourMinuteSecond(this.item.outwardMinTime, true) : this.asHourMinuteSecond(this.item.returnMinTime, true),
        'maxTime': (this.type == 'outward') ? this.asHourMinuteSecond(this.item.outwardMaxTime, true) : this.asHourMinuteSecond(this.item.returnMaxTime, true),
        'frequency': this.item.frequency,
        'schedules': (this.item.frequency == 2) ? this.item.schedules : null,
        'type': this.type
      });
    },
    addAction() {
      this.loading = true;
      this.$store.dispatch('sld_r/patchItem', { 
        id: this.item.id, 
        item: {
          animation: {
            action: this.ACTION_FREE_COMMENT,
            user: this.selectedDriver.carpoolerId
          }
        }
      });
      this.dialogAddAction = false;
    },
  }
};
</script>