<template>
  <div>
    <v-form 
      v-if="beneficiary"
      ref="formIdentity"
      v-model="valid"
    >
      <v-container>
        <v-row 
          v-for="row in rows()"
          :key="row.id"
        >
          <v-col
            v-for="field in row.fields"
            :key="field.name"
            :cols="field.cols"
            :sm="field.cols"
            :md="field.cols"
          >
            <field-choice
              resource="sld_r"
              :field="field"
              sub-field="beneficiary"
              @address-changed="addressChanged"
            />
          </v-col>
        </v-row>
      </v-container>
    </v-form>
  </div>
</template>

<script>

// import the translations
import {messages_models_en, messages_models_fr} from '@/translations/models/Solidary/SolidaryRecord/';
import {messages_models_en as messages_models_user_en, messages_models_fr as messages_models_user_fr} from '@/translations/models/User/';
import FieldChoice from '@/components/field/FieldChoice.vue';

let messages_en = { s: { ...messages_models_en }, user: { ...messages_models_user_en } };
let messages_fr = { s: { ...messages_models_fr }, user: { ...messages_models_user_fr } };

export default {
  components: { 
    FieldChoice
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  props: {
    edit: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      valid: false
    };
  },
  computed: {
    editedItem() {
      return this.$store.getters['sld_r/editedItem'];
    },
    fields() {
      return this.rows().map( row => row.fields ).flat();
    },
    beneficiary() {
      return this.editedItem.beneficiary;
    },
    beneficiaryEmail() {
      return this.beneficiary?.email;
    },
    emailRequired() {
      return !this.editedItem?.structure?.email;
    },
    emailHint() {
      return this.emailRequired ? null : this.$t('s.emailHint');
    },
    telephoneRequired() {
      return !this.emailRequired && !this.beneficiaryEmail;
    },
    telephoneHint() {
      return this.telephoneRequired ? this.$t('s.telephoneHint') : null;
    }
  },
  watch: {
    beneficiary: {
      immediate: true,
      deep: true,
      handler() {
        this.$store.dispatch('sld_r/saveEditedItem', this.editedItem );
      }
    },
    valid() {
      this.$emit('valid',this.valid);
    },
    telephoneRequired() {
      this.$refs.formIdentity.resetValidation();
      this.$refs.formIdentity.validate(); 
    }
  },
  methods: {
    rows() {
      return [
        {
          id: 1,
          fields: [
            { label: this.$t('user.email'), name: 'email', type: 'text', cols:'6', hint: this.emailHint, persistentHint: !!this.emailHint, required: this.emailRequired, nullable: !this.emailRequired, icon: 'mdi-email', validation: { required: this.$t('user.emailRequired'), valid: this.$t('user.emailValid'), rule: 'email' } },
            { label: this.$t('user.telephone'), name: 'telephone', type: 'text', cols:'6', hint: this.telephoneHint, persistentHint: !!this.telephoneHint, required: this.telephoneRequired, nullable: !this.telephoneRequired, icon: 'mdi-phone', validation: { required: this.$t('user.telephoneRequired') } }
          ]
        },
        { 
          id: 2,
          fields: [
            { label: this.$t('user.givenName'), name: 'givenName', type: 'text', cols:'6', required: true, nullable: false, validation: { required: this.$t('user.givenNameRequired'), rule: 'limit', counter: 255, valid: this.$t('user.givenNameLimit') } },
            { label: this.$t('user.familyName'), name: 'familyName', type: 'text', cols:'6', required: true, nullable: false, validation: { required: this.$t('user.familyNameRequired'), rule: 'limit', counter: 255, valid: this.$t('event.familyNameLimit') } }
          ]
        },
        { 
          id: 3,
          fields: [
            { 
              label: this.$t('user.gender.label'), name: 'gender', type: 'select', 
              values: [ 
                { text: this.$t('user.gender.items.other.name'), value: parseInt(this.$t('user.gender.items.other.value')) }, 
                { text: this.$t('user.gender.items.female.name'), value: parseInt(this.$t('user.gender.items.female.value')) },
                { text: this.$t('user.gender.items.male.name'), value: parseInt(this.$t('user.gender.items.male.value')) }
              ], cols:'4', required: true, nullable: false, validation: { required: this.$t('user.genderRequired') } 
            },
            { label: this.$t('user.birthDate'), name: 'birthDate', type: 'date', cols:'4', nullable: false },
            { label: this.$t('user.newsSubscription'), name: 'newsSubscription', type: 'switch', cols:'4' }
          ]
        },
        { 
          id: 4,
          fields: [
            { label: this.$t('user.homeAddress'), name: 'homeAddress', type: 'geocomplete', cols:'8', nullable: true, icon: 'mdi-home-map-marker' },
          ]
        },
      ];
    },
    // handler for geocomplete
    addressChanged(change) {
      this.editedItem.beneficiary[change.field] = change.address;
    },
  }
};
</script>