<template>
  <div>
    <v-subheader>
      <v-icon class="mr-2">
        mdi-numeric-1-circle-outline
      </v-icon><h3>{{ $t('purpose') }}</h3>
    </v-subheader>
    <v-container>
      <v-radio-group v-model="editedItem.subject">
        <v-row no-gutters>
          <v-col
            v-for="subject in subjects"
            :key="subject.id"
            cols="3"
          >
            <v-radio
              :label="subject.label"
              :value="subject.id"
            />
          </v-col>
        </v-row>
        <v-row
          no-gutters
          align="center"
        >
          <v-col cols="12">
            <v-radio
              :value="9999"
            >
              <template v-slot:label>
                <v-text-field
                  v-model="editedItem.additionalSubject"
                  :label="$t('additionalSubject')"
                  clearable
                />
              </template>
            </v-radio>
          </v-col>
        </v-row>
      </v-radio-group>
    </v-container>
    <v-divider />

    <div v-if="checkSubject">
      <v-subheader>
        <v-icon class="mr-2">
          mdi-numeric-2-circle-outline
        </v-icon><h3>{{ $t('destination') }}</h3>
      </v-subheader>
      <v-container>
        <v-radio-group v-model="editedItem.destinationAny">
          <v-row
            no-gutters
            align="center"
          >
            <v-col cols="2">
              <v-radio
                :label="$t('destinationAddress')"
                :value="false"
              />
            </v-col>
            <v-col
              cols="4"
            >
              <geo-complete-field
                :disabled="editedItem.destinationAny !== false"
                :label="$t('destinationAddressLabel')"
                :address="editedItem.destination"
                @address-changed="destinationChanged"
              /> 
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col cols="2">
              <v-radio
                :label="$t('destinationAny')"
                :value="true"
              />
            </v-col>
          </v-row>
        </v-radio-group>
      </v-container>
      <v-divider />
    </div>
    <div v-if="checkSubject && checkDestination">
      <v-subheader>
        <v-icon class="mr-2">
          mdi-numeric-3-circle-outline
        </v-icon><h3>{{ $t('origin') }}</h3>
      </v-subheader>
      <v-container>
        <v-row no-gutters>
          <v-col
            cols="4"
          >
            <geo-complete-field
              :label="$t('originAddressLabel')"
              :address="editedItem.origin"
              @address-changed="originChanged"
            /> 
          </v-col>
        </v-row>
      </v-container>
      <v-divider />
    </div>

    <div v-if="checkSubject && checkDestination && checkOrigin">
      <v-subheader>
        <v-icon class="mr-2">
          mdi-numeric-4-circle-outline
        </v-icon><h3>{{ $t('punctual') }}</h3>
        <v-switch
          v-model="editedItem.regular"
          class="ml-10"
          inset
          :label="$t('regular')"
        />
      </v-subheader>
    </div>
  </div>
</template>

<script>

// import the translations
import {messages_models_en, messages_models_fr} from '@/translations/models/Solidary/SolidaryRecord/';
import {messages_components_en, messages_components_fr} from '@/translations/components/solidary/SolidaryRecordStepper/';
import GeoCompleteField from '@/components/field/GeoCompleteField';

let messages_en = { ...messages_components_en, s: { ...messages_models_en } };
let messages_fr = { ...messages_components_fr, s: { ...messages_models_fr } };

export default {
  components: { 
    GeoCompleteField
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  props: {
    edit: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      
    };
  },
  computed: {
    editedItem() {
      return this.$store.getters['sld_r/editedItem'];
    },
    subjects() {
      return this.editedItem && this.editedItem.structure && this.editedItem.structure.subjects ? this.editedItem.structure.subjects : [];
    },
    selectedSubject() {
      return this.editedItem.subject;
    },
    additionalSubject() {
      return this.editedItem.additionalSubject;
    },
    destinationAny() {
      return this.editedItem.destinationAny;
    },
    checkSubject() {
      return this.selectedSubject && (this.additionalSubject || this.selectedSubject != 9999);
    },
    checkDestination() {
      return this.editedItem.destinationAny || !!this.editedItem.destination;
    },
    checkOrigin() {
      return !!this.editedItem.origin;
    },
  },
  watch: {
    selectedSubject: {
      immediate: true,
      deep: true,
      handler() {
        this.$store.dispatch('sld_r/saveEditedItem', this.editedItem );
        this.checkValidity();
      }
    },
    additionalSubject: {
      immediate: true,
      deep: true,
      handler() {
        this.$store.dispatch('sld_r/saveEditedItem', this.editedItem );
        this.checkValidity();
      }
    },
    destinationAny() {
      this.checkValidity();
    }
  },
  created() {
    
  },
  methods: {
    checkValidity() {
      this.$emit('valid', (
        this.checkSubject &&
        this.checkDestination &&
        this.checkOrigin
      ));
    },
    destinationChanged(address) {
      this.editedItem.destination = address;
      this.checkValidity();
      this.$store.dispatch('sld_r/saveEditedItem', this.editedItem );
    },
    originChanged(address) {
      this.editedItem.origin = address;
      this.checkValidity();
      this.$store.dispatch('sld_r/saveEditedItem', this.editedItem );
    }
  }
};
</script>