<template>
  <div>
    <v-subheader>
      <v-icon class="mr-2">
        mdi-numeric-5-circle-outline
      </v-icon><h3>{{ $t('departureDateRegular') }}</h3>
    </v-subheader>
    <v-container>
      <v-row
        v-for="(schedule,index) in editedItem.regularSchedules"
        :key="index"
        no-gutters
        align="center"
      >
        <v-col cols="6">
          <solidary-record-beneficiary-times-regular-schedule
            :index="index"
          />
        </v-col>
        <v-col cols="2">
          <v-btn
            v-if="index>0"
            color="warning"
            @click="removeSchedule(index)"
          >
            {{ $t('remove') }}
            <v-icon right>
              mdi-delete
            </v-icon>
          </v-btn>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-btn
            v-if="lastScheduleValid"
            color="success"
            @click="addSchedule()"
          >
            {{ $t('addSchedule') }}
            <v-icon right>
              mdi-plus
            </v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
    <v-divider />

    <div v-if="check5">
      <v-subheader>
        <v-icon class="mr-2">
          mdi-numeric-6-circle-outline
        </v-icon><h3>{{ $t('departureRange') }}</h3>
      </v-subheader>
      <v-container>
        <v-row no-gutters>
          <v-col cols="2">
            <date-field
              :item="editedItem"
              :field="{
                name: 'regularMinDate',
                nullable: true
              }"
              :label="$t('regularMinDate')+' *'"
              type="date"
              :min-date="now"
              :max-date="editedItem.regularMaxDate"
              autocomplete="8a2ba928a19a"
            />
          </v-col>
        </v-row>
        <v-radio-group 
          v-if="editedItem.regularMinDate"
          v-model="editedItem.regularDateChoice"
        >
          <v-row no-gutters>
            <v-col cols="2">
              <v-radio
                :label="$t('regularDateChoice1')"
                :value="1"
              />
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col cols="2">
              <v-radio
                :label="$t('regularDateChoice2')"
                :value="2"
              />
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col cols="3">
              <v-radio
                :value="3"
              >
                <template v-slot:label>
                  <date-field
                    :disabled="editedItem.regularDateChoice != 3"
                    :item="editedItem"
                    :field="{
                      name: 'regularMaxDate',
                      nullable: true
                    }"
                    :label="$t('regularDateChoice3')"
                    type="date"
                    :min-date="editedItem.regularMinDate"
                    :show-icon="false"
                    autocomplete="8a2ba928a19a"
                  />
                </template>
              </v-radio>
            </v-col>
          </v-row>
        </v-radio-group>
        <v-row no-gutters>
          <v-col cols="4">
            <v-alert
              v-if="regularMinDate && regularMaxDate"
              outlined
              color="primary"
              dense
              icon="mdi-arrow-right-thick"
            >
              <i18n
                path="regularDateInfo"
              >
                <template v-slot:minDate>
                  <span class="font-weight-bold">{{ asWeekdayDate(regularMinDate,$i18n.locale) }}</span>
                </template>
                <template v-slot:maxDate>
                  <span class="font-weight-bold">{{ asWeekdayDate(regularMaxDate,$i18n.locale) }}</span>
                </template>
              </i18n>
            </v-alert>
          </v-col>
        </v-row>
      </v-container>
      <v-divider />
    </div>

    <div v-if="check6">
      <v-subheader>
        <v-icon class="mr-2">
          mdi-numeric-7-circle-outline
        </v-icon><h3>{{ $t('otherInformations') }}</h3>
      </v-subheader>
      <solidary-record-beneficiary-needs
        :edit="edit"
      />
    </div>
  </div>
</template>

<script>

// import the translations
import {messages_models_en, messages_models_fr} from '@/translations/models/Solidary/SolidaryRecord/';
import {messages_components_en, messages_components_fr} from '@/translations/components/solidary/SolidaryRecordStepper/';
import {messages_dates_en, messages_dates_fr} from '@/translations/views/Dates/';
import DateFormatMixin from '@/mixins/DateFormat';
import DateField from '@/components/field/DateField';
import SolidaryRecordBeneficiaryTimesRegularSchedule from '@/components/solidary/solidaryRecord/SolidaryRecordBeneficiaryTimesRegularSchedule';
import SolidaryRecordBeneficiaryNeeds from '@/components/solidary/solidaryRecord/SolidaryRecordBeneficiaryNeeds';
import moment from 'moment';

let messages_en = { ...messages_components_en, dates: {...messages_dates_en }, s: { ...messages_models_en } };
let messages_fr = { ...messages_components_fr, dates: {...messages_dates_fr }, s: { ...messages_models_fr } };

export default {
  components: { 
    DateField,
    SolidaryRecordBeneficiaryTimesRegularSchedule,
    SolidaryRecordBeneficiaryNeeds
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  mixins: [
    DateFormatMixin
  ],
  props: {
    edit: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      
    };
  },
  computed: {
    editedItem() {
      return this.$store.getters['sld_r/editedItem'];
    },
    now() {
      return this.asIsoDate();
    },
    lastScheduleValid() {
      return this.editedItem.regularSchedules[this.editedItem.regularSchedules.length-1].days.length>0 && !!this.editedItem.regularSchedules[this.editedItem.regularSchedules.length-1].outwardTime;
    },
    regularDateChoice() {
      return this.editedItem.regularDateChoice;
    },
    regularMinDate() {
      return this.editedItem.regularMinDate;
    },
    regularMaxDate() {
      return this.editedItem.regularMaxDate;
    },
    regularSchedules() {
      return this.editedItem.regularSchedules;
    },
    check5() {
      return this.lastScheduleValid;
    },
    check6() {
      return this.check5 && !!this.regularMinDate && !!this.regularDateChoice && (this.regularDateChoice<3 || !!this.regularMaxDate);
    }
  },
  watch: {
    regularDateChoice: {
      immediate: true,
      handler() {
        this.setRegularDateChoice();
        this.$store.dispatch('sld_r/saveEditedItem', this.editedItem );
        this.checkValidity();
      }
    },
    regularMinDate: {
      immediate: true,
      handler() {
        this.setRegularDateChoice();
        this.$store.dispatch('sld_r/saveEditedItem', this.editedItem );
        this.checkValidity();
      }
    },
    regularMaxDate: {
      immediate: true,
      handler() {
        this.$store.dispatch('sld_r/saveEditedItem', this.editedItem );
        this.checkValidity();
      }
    },
    regularSchedules: {
      immediate: true,
      deep: true,
      handler() {
        this.$store.dispatch('sld_r/saveEditedItem', this.editedItem );
        this.checkValidity();
      }
    },
  },
  created() {
    
  },
  methods: {
    setRegularDateChoice() {
      switch (this.regularDateChoice) {
      case 1: 
        this.setRegularMaxDate(7);
        break;
      case 2: 
        this.setRegularMaxDate(30);
        break;
      }
    },
    setRegularMaxDate(duration) {
      this.editedItem.regularMaxDate = this.asIsoDate(moment(this.editedItem.regularMinDate).add(duration, 'd'));
    },
    addSchedule() {
      this.editedItem.regularSchedules.push({
        id: this.editedItem.regularSchedules.length+1,
        days: [],
        outwardTime: null,
        returnTime: null
      });
      this.checkValidity();
    },
    removeSchedule(index) {
      this.editedItem.regularSchedules.splice(index,1);
      this.checkValidity();
    },
    checkValidity() {
      this.$emit('valid', this.check6);
    },
  }
};
</script>