<template>
  <div>
    <v-stepper
      v-if="editedItem"
      v-model="step"
    >
      <v-stepper-header>
        <v-stepper-step
          v-if="!edit"
          :complete="step > 1"
          step="1"
          editable
        >
          {{ $t('alreadyRegistered') }}
        </v-stepper-step>

        <v-divider v-if="!edit" />

        <v-stepper-step
          :complete="edit ? step > 1 : step > 2"
          :step="edit ? 1 : 2"
          :editable="edit ? true : validSteps.step1 === true"
        >
          {{ $t('eligibility') }}
        </v-stepper-step>

        <v-divider />

        <v-stepper-step 
          :complete="edit ? step > 2 : step > 3"
          :step="edit ? 2 : 3"
          :editable="edit ? validSteps.step1 === true : validSteps.step2 === true"
        >
          {{ $t('identity') }}
        </v-stepper-step>

        <v-divider />

        <v-stepper-step 
          :complete="edit ? step > 3 : step > 4"
          :step="edit ? 3 : 4"
          :editable="edit ? validSteps.step2 === true : validSteps.step3 === true"
        >
          {{ $t('record') }}
        </v-stepper-step>

        <v-divider />

        <v-stepper-step
          :step="edit ? 4 : 5"
          :editable="edit ? validSteps.step3 === true : validSteps.step4 === true"
        >
          {{ $t('times') }}
        </v-stepper-step>
      </v-stepper-header>

      <v-stepper-items>
        <v-stepper-content
          v-if="!edit"
          step="1"
        >
          <v-card flat>
            <v-card-title>
              {{ $t('searchUserTitle') }}
            </v-card-title>
            <v-card-text>
              <user-complete-field 
                v-model="beneficiaryId"
                :label="$t('username')"
                display-email
              />
            </v-card-text>
          </v-card>

          <v-btn
            v-if="validSteps.step1 === true"
            class="mt-2 mr-2"
            color="primary"
            @click="step = 2"
          >
            {{ $t('next') }}
          </v-btn>
        </v-stepper-content>

        <v-stepper-content :step="edit ? 1 : 2">
          <v-card flat>
            <v-card-title>
              {{ $t('isEligible') }}
            </v-card-title>
            <v-card-text>
              <solidary-record-beneficiary-proofs
                :edit="edit"
                @valid="step2Valid"
              />
            </v-card-text>
          </v-card>

          <v-btn
            v-if="!edit"
            class="mt-2"
            text
            @click="step = 1"
          >
            {{ $t('previous') }}
          </v-btn>
          <v-btn
            v-if="edit ? validSteps.step1 === true : validSteps.step2 === true"
            class="mt-2 mr-2"
            color="primary"
            @click="edit ? step = 2 : step = 3"
          >
            {{ $t('next') }}
          </v-btn>
        </v-stepper-content>

        <v-stepper-content :step="edit ? 2 : 3">
          <v-card
            flat
          >
            <v-card-title>
              {{ beneficiaryId ? $t('verifyUserTitle') : $t('inputUserTitle') }}
            </v-card-title>
            <v-card-text>
              <solidary-record-beneficiary-identity
                :edit="edit"
                @valid="step3Valid"
              />
            </v-card-text>
          </v-card>

          <v-btn
            text
            class="mt-2"
            @click="edit ? step = 1 : step = 2"
          >
            {{ $t('previous') }}
          </v-btn>
          <v-btn
            v-if="edit ? validSteps.step2 === true : validSteps.step3 === true"
            class="mt-2 mr-2"
            color="primary"
            @click="edit ? step = 3 : step = 4"
          >
            {{ $t('next') }}
          </v-btn>
        </v-stepper-content>

        <v-stepper-content :step="edit ? 3 : 4">
          <v-card
            flat
          >
            <solidary-record-beneficiary-journey
              :edit="edit"
              @valid="step4Valid"
            />
          </v-card>

          <v-btn
            class="mt-2"
            text
            @click="edit ? step = 2 : step = 3"
          >
            {{ $t('previous') }}
          </v-btn>
          <v-btn
            v-if="edit ? validSteps.step3 === true : validSteps.step4 === true"
            class="mt-2 mr-2"
            color="primary"
            @click="edit ? step = 4 : step = 5"
          >
            {{ $t('next') }}
          </v-btn>
        </v-stepper-content>

        <v-stepper-content :step="edit ? 4 : 5">
          <v-card
            flat
          >
            <solidary-record-beneficiary-times-punctual
              v-if="!editedItem.regular"
              :edit="edit"
              @valid="step5Valid"
            />
            <solidary-record-beneficiary-times-regular
              v-if="editedItem.regular"
              :edit="edit"
              @valid="step5Valid"
            />
          </v-card>
  
          <v-btn
            class="mt-2 mr-2"
            :disabled="loading"
            text
            @click="edit ? step = 3 : step = 4"
          >
            {{ $t('previous') }}
          </v-btn>
          <v-btn
            v-if="edit ? (validSteps.step4 === true && edited) : validSteps.step5 === true"
            :loading="loading"
            :disabled="loading"
            class="mt-2 mr-2"
            color="primary"
            @click="$emit('save')"
          >
            {{ $t('save') }}
            <v-icon right>
              mdi-content-save
            </v-icon>
          </v-btn>
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>
  </div>
</template>

<script>

// import the translations
import {messages_models_en, messages_models_fr} from '@/translations/models/Solidary/SolidaryRecord/';
import {messages_components_en, messages_components_fr} from '@/translations/components/solidary/SolidaryRecordStepper/';
import UserCompleteField from '@/components/field/UserCompleteField';
import UserService from '@/services/user.service';
import SolidaryRecordBeneficiaryProofs from '@/components/solidary/solidaryRecord/SolidaryRecordBeneficiaryProofs';
import SolidaryRecordBeneficiaryIdentity from '@/components/solidary/solidaryRecord/SolidaryRecordBeneficiaryIdentity';
import SolidaryRecordBeneficiaryJourney from '@/components/solidary/solidaryRecord/SolidaryRecordBeneficiaryJourney';
import SolidaryRecordBeneficiaryTimesPunctual from '@/components/solidary/solidaryRecord/SolidaryRecordBeneficiaryTimesPunctual';
import SolidaryRecordBeneficiaryTimesRegular from '@/components/solidary/solidaryRecord/SolidaryRecordBeneficiaryTimesRegular';

let messages_en = { ...messages_components_en, s: { ...messages_models_en }};
let messages_fr = { ...messages_components_fr, s: { ...messages_models_fr }};

export default {
  components: { 
    UserCompleteField,
    SolidaryRecordBeneficiaryProofs,
    SolidaryRecordBeneficiaryIdentity,
    SolidaryRecordBeneficiaryJourney,
    SolidaryRecordBeneficiaryTimesPunctual,
    SolidaryRecordBeneficiaryTimesRegular
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  props: {
    edit: {
      type: Boolean,
      default: false
    },
    edited: {
      type: Boolean,
      default: false
    },
    defaultStep: {
      type: Number,
      default: 1
    },
    loading: {
      type: Boolean,
      default: false
    },
    beneficiary: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      step: this.defaultStep,
      validSteps: {
        step1: this.edit ? false : true,
        step2: false,
        step3: false,
        step4: false,
        step5: false
      },
      beneficiaryId: null
    };
  },
  mounted() {
    if (this.beneficiary) {
      this.beneficiaryId = parseInt(this.beneficiary.id)
    }    
  },
  computed: {
    editedItem() {
      return this.$store.getters['sld_r/editedItem'];
    },
  },
  watch: {
    defaultStep: {
      immediate: true,
      handler() {
        if (this.defaultStep>0) {
          this.step = this.defaultStep;
          this.$emit('stepInitialized');
        } else {
          this.step = 1;
        }
      }
    },
    beneficiaryId(id) {
      if (!this.editedItem.id && id) {
        this.getUser();
      }
    },
    editedItem: {
      immediate: true,
      deep: true,
      handler() {
        if (this.editedItem.id) this.beneficiaryId = this.editedItem.id;
      }
    },
  },
  created() {
  },
  methods: {
    getUser() {
      UserService.getItem(this.beneficiaryId).then(response => {
        this.editedItem.beneficiary = response;
        this.$store.dispatch('sld_r/saveEditedItem', this.editedItem );
      }).catch( () => {
      });
    },
    step2Valid(val) {
      this.edit ? this.validSteps.step1 = val : this.validSteps.step2 = val;
    },
    step3Valid(val) {
      this.edit ? this.validSteps.step2 = val : this.validSteps.step3 = val;
    },
    step4Valid(val) {
      this.edit ? this.validSteps.step3 = val : this.validSteps.step4 = val;
    },
    step5Valid(val) {
      this.edit ? this.validSteps.step4 = val : this.validSteps.step5 = val;
    }
  }
};
</script>