<template>
  <div>
    <v-container
      v-if="item.proposalType == 'roundtrip'"
      flat
    >
      <v-row>
        <v-col>
          <v-text-field
            v-if="item.punctualOutwardTimeChoice != 1"
            :label="$t('s.outwardTimeRoundTrip')"
            :value="$tc('s.betweenTime', item, { from: asHourMinute(item.outwardMinTime,true), to: asHourMinute(item.outwardMaxTime,true) })"
            prepend-icon="mdi-car-arrow-right"
          />
          <v-text-field
            v-else
            :label="$t('s.outwardTimeRoundTrip')"
            :value="asHourMinute(item.outwardTime,true)"
            prepend-icon="mdi-car-arrow-right"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-text-field
            v-if="item.punctualOutwardTimeChoice != 1"
            :label="$t('s.returnTimeRoundTrip')"
            :value="$tc('s.betweenTime', item, { from: asHourMinute(item.returnMinTime,true), to: asHourMinute(item.returnMaxTime,true) })"
            prepend-icon="mdi-car-arrow-left"
          />
          <v-text-field
            v-else
            :label="$t('s.returnTimeRoundTrip')"
            :value="asHourMinute(item.returnTime,true)"
            prepend-icon="mdi-car-arrow-left"
          />
        </v-col>
      </v-row>
    </v-container>
    <v-container
      v-else
      flat
    >
      <v-row>
        <v-col>
          <v-text-field
            v-if="item.punctualOutwardTimeChoice != 1"
            :label="$t('s.outwardTime')"
            :value="$tc('s.betweenTime', item, { from: asHourMinute(item.outwardMinTime,true), to: asHourMinute(item.outwardMaxTime,true) })"
            prepend-icon="mdi-car-arrow-right"
          />
          <v-text-field
            v-else
            :label="$t('s.outwardTime')"
            :value="asHourMinute(item.outwardTime,true)"
            prepend-icon="mdi-car-arrow-right"
          />
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>

// import the translations
import {messages_models_en, messages_models_fr} from '@/translations/models/Solidary/SolidaryRecord/';
import {messages_components_en, messages_components_fr} from '@/translations/components/solidary/SolidaryRecordShow/';
import {messages_dates_en, messages_dates_fr} from '@/translations/views/Dates/';
import DateFormatMixin from '@/mixins/DateFormat';

let messages_en = { ...messages_components_en, dates: {...messages_dates_en }, s: { ...messages_models_en } };
let messages_fr = { ...messages_components_fr, dates: {...messages_dates_fr }, s: { ...messages_models_fr } };

export default {
  components: { 
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  mixins: [
    DateFormatMixin
  ],
  props: {
    
  },
  computed: {
    item() {
      return this.$store.getters['sld_r/item'];
    },
  },
  watch: {
  },
  created() {
    
  },
  methods: {
    
  }
};
</script>