<template>
  <div>
    <v-card flat>
      <v-card-text>
        <v-item-group 
          v-model="itemDate.days"
          multiple
        >
          <v-item
            v-for="day in days"
            :key="day.id"
            v-slot="{ active, toggle }"
            :value="day.id"
          >
            <v-chip
              label
              active-class="primary"
              class="ml-2"
              :input-value="active"
              @click="toggle"
            >
              {{ day.name }}
            </v-chip>
          </v-item>
        </v-item-group>
        <v-container>
          <v-row align="center">
            <v-col cols="5">
              <date-field
                :item="itemDate"
                :field="{
                  name: 'outwardTime',
                  nullable: false
                }"
                :label="$t('regularOutwardTime')+' *'"
                :max-time="itemDate.returnTime"
                type="time"
                autocomplete="8a9bk928a39a"
                icon="mdi-car-arrow-right"
              />
            </v-col>
            <v-col cols="5">
              <date-field
                :item="itemDate"
                :field="{
                  name: 'returnTime',
                  nullable: true
                }"
                :label="$t('regularReturnTime')"
                :min-time="itemDate.outwardTime"
                type="time"
                autocomplete="8a9bk928b39a"
                icon="mdi-car-arrow-left"
              />
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>

// import the translations
import {messages_models_en, messages_models_fr} from '@/translations/models/Solidary/SolidaryRecord/';
import {messages_components_en, messages_components_fr} from '@/translations/components/solidary/SolidaryRecordStepper/';
import {messages_dates_en, messages_dates_fr} from '@/translations/views/Dates/';
import DateFormatMixin from '@/mixins/DateFormat';
import DateField from '@/components/field/DateField';

let messages_en = { ...messages_components_en, dates: {...messages_dates_en }, s: { ...messages_models_en } };
let messages_fr = { ...messages_components_fr, dates: {...messages_dates_fr }, s: { ...messages_models_fr } };

export default {
  components: { 
    DateField
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  mixins: [
    DateFormatMixin
  ],
  props: {
    edit: {
      type: Boolean,
      default: false
    },
    index: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      days: [
        { id: 'mon', name: this.$t('mon') }, 
        { id: 'tue', name: this.$t('tue') }, 
        { id: 'wed', name: this.$t('wed') }, 
        { id: 'thu', name: this.$t('thu') }, 
        { id: 'fri', name: this.$t('fri') }, 
        { id: 'sat', name: this.$t('sat') }, 
        { id: 'sun', name: this.$t('sun') }
      ]
    };
  },
  computed: {
    editedItem() {
      return this.$store.getters['sld_r/editedItem'];
    },
    itemDate() {
      return this.editedItem.regularSchedules[this.index];
    },
    now() {
      return this.asIsoDate();
    },
  },
  watch: {
    itemDate: {
      immediate: true,
      deep: true,
      handler() {
        this.$store.dispatch('sld_r/saveEditedItem', this.editedItem );
      }
    },
  },
  created() {
    
  },
  methods: {
    
  }
};
</script>