<template>
  <v-card
    outlined
    :loading="loading"
    loader-height="8"
  >
    <v-toolbar flat>
      <!-- title -->
      <v-toolbar-title>
        <h2>{{ $t('solidaryrecord_list') }}</h2>
      </v-toolbar-title>
      <v-spacer />

      <!-- buttons -->
      <v-toolbar-items>
        <!-- add item -->
        <v-btn
          text
          color="green"
          :disabled="loading"
          @click="to()"
        >
          {{ $t('add') }}
          <v-icon right>
            mdi-plus
          </v-icon>
        </v-btn>

        <!-- refresh -->
        <v-btn
          text
          color="green"
          :loading="loading"
          @click="getItems()"
        >
          {{ $t('refresh') }}
          <v-icon right>
            mdi-table-refresh
          </v-icon>
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>

    <!-- data table -->
    <v-data-table
      class="row-pointer"
      :headers="headers()"
      :items="items"
      :options.sync="options"
      :server-items-length="total"
      :footer-props="footerProps"
      @click:row="pushTo"
    >
      <template v-slot:top>
        <!-- filters -->
        <v-container>
          <v-row align="center">
            <v-col
              v-for="onFilter in alwaysOnFilters()"
              :key="onFilter.name"
              :cols="onFilter.cols"
              :sm="onFilter.cols"
              :md="onFilter.cols"
            >
              <filter-choice
                :filter="filter"
                :on-filter="onFilter"
              />
            </v-col>
            <v-col
              v-if="optionalFilters().length>0"
              cols="4"
              sm="4"
              md="4"
            >
              <filter-list 
                v-model="selectedOptionalFilters"
                :list="optionalFilters()"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col
              v-for="onFilter in displayedOptionalFilters()"
              :key="onFilter.name"
              :cols="onFilter.cols"
              :sm="onFilter.cols"
              :md="onFilter.cols"
            >
              <filter-choice
                :filter="filter"
                :on-filter="onFilter"
              />
            </v-col>
          </v-row>
        </v-container>
        <!-- end filters -->
      </template>

      <!-- overload the columns data format -->
      <template v-slot:[`item.fromDate`]="{ item }">
        <span :class="getFromDateClass(item.fromDate)">{{ asSimpleDate(item.fromDate) }}</span>
      </template>
      <template v-slot:[`item.direction`]="{ item }">
        <v-timeline
          dense
        >
          <v-timeline-item 
            small
            color="blue"
            icon="mdi-map-marker"
          >
            <div class="text-overline">
              {{ item.origin.addressLocality }}
            </div>
          </v-timeline-item>
          <v-timeline-item 
            small
            color="green"
            icon="mdi-flag-checkered"
          >
            <div 
              v-if="item.origin.displayLabel[0] !== item.destination.displayLabel[0]"
              class="text-overline"
            >
              {{ item.destination.addressLocality }}
            </div>
            <v-icon
              v-else
            >
              mdi-map-marker-question-outline
            </v-icon>
          </v-timeline-item>
        </v-timeline>
      </template>
      <template v-slot:[`item.proposalType`]="{ item }">
        <v-chip
          color="primary"
          outlined
          label
          class="mr-4"
        >
          <v-icon
            v-if="item.proposalType == 'oneway'"
          >
            mdi-arrow-right
          </v-icon>
          <v-icon
            v-else
          >
            mdi-repeat
          </v-icon>
        </v-chip>
      </template>
      <template v-slot:[`item.lastAction`]="{ item }">
        <span>{{ getLastAction(item.lastAction) }}</span><br>
        <span>{{ asFromNow(item.lastActionDate,$i18n.locale) }}</span>
      </template>
      <template v-slot:[`item.progression`]="{ item }">
        <v-progress-linear
          :value="item.progression"
          height="25"
        >
          <template v-slot:default="{ value }">
            <strong>{{ Math.ceil(value) }}%</strong>
          </template>
        </v-progress-linear>
      </template>
      <!-- end column overload -->
      
      <!-- action column -->
      <template v-slot:[`item.actions`]="{ item }">
        <v-btn
          class="ma-2"
          color="primary"
          text
          :to="editItem(item)"
        >
          {{ $t('edit') }}
          <v-icon
            right
          >
            mdi-pencil
          </v-icon>
        </v-btn>
      </template>
      <!-- end action column -->
    </v-data-table>
  </v-card>
</template>

<script>
import moment from 'moment-timezone';
import ResourceListMixin from '@/mixins/ResourceList';
import PageTitleMixin from '@/mixins/PageTitle';
import DateFormatMixin from '@/mixins/DateFormat';
import FilterList from '@/components/filter/FilterList.vue';
import FilterChoice from '@/components/filter/FilterChoice.vue';

// import the translations
import {messages_routes_en, messages_routes_fr} from '@/translations/routes/'; 
import {messages_views_en, messages_views_fr} from '@/translations/views/Solidary/SolidaryRecords/';
import {messages_dates_en, messages_dates_fr} from '@/translations/views/Dates/';
import {messages_models_en, messages_models_fr} from '@/translations/models/Solidary/SolidaryRecord/';

let messages_en = { ...messages_views_en, dates: {...messages_dates_en }, routes: {...messages_routes_en }, s: { ...messages_models_en } };
let messages_fr = { ...messages_views_fr, dates: {...messages_dates_fr }, routes: {...messages_routes_fr }, s: { ...messages_models_fr } };

export default {
  components: {
    FilterList,
    FilterChoice
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  mixins: [
    ResourceListMixin,
    PageTitleMixin,
    DateFormatMixin
  ],
  data: () => ({
    resource: 'sld_r',
  }),
  methods: {
    fields() {
      return [
        { label: this.$t('s.id'), name: 'id', filter: { type: 'number', cols: '2', alwaysOn: true} },
        { label: this.$t('s.type'), name: 'proposalType', sortable: false },
        { label: this.$t('s.subject'), name: 'subject' },
        { label: this.$t('s.direction'), name: 'direction', sortable: false },
        { label: this.$t('s.carpoolFromDate'), name: 'fromDate' },
        { label: this.$t('s.givenName'), name: 'givenName', filter: { type: 'text', cols: '2', alwaysOn: true} },
        { label: this.$t('s.familyName'), name: 'familyName', filter: { type: 'text', cols: '2', alwaysOn: true} },
        { label: this.$t('s.telephone'), name: 'telephone' },
        { label: this.$t('s.progression'), name: 'progression', filter: { type: 'component', componentType: 'ProgressionSwitchFilter', label: this.$t('closedRecords'), cols: '2', alwaysOn: true} },
        { label: this.$t('s.lastAction'), name: 'lastAction', sortable: false },
        { label: this.$t('actions'), name: 'actions', sortable: false },
      ];
    },
    getLastAction(val) {
      return this.$t('s.actions')[val] ? this.$t('s.actions')[val] : val;
    },
    getFromDateClass(date) {
      let oneDayBefore = moment(date).subtract(1, 'd');
      let twoDaysBefore = moment(date).subtract(2, 'd');
      if (moment().isSameOrAfter(oneDayBefore)) {
        return 'red--text';
      } 
      if (moment().isSameOrAfter(twoDaysBefore)) {
        return 'orange--text';
      } 
      return null;
    },
    to() {
      const { id } = this.filter;
      const query = id ? { beneficiary: id } : {};      

      this.$router.push({ path: this.addItem(), query });
    }
  }
};
</script>

<style> 
  @import "../../../styles/ResourceList.scss";
</style>