<template>
  <div class="campaign">
    <!-- the 'if' in the v-card is used to be sure the item is loaded before continue -->
    <v-card
      outlined
      :loading="loading"
      loader-height="8"
    >
      <v-toolbar flat>
        <!-- back button -->
        <v-btn 
          v-if="editedItem"
          icon
          color="primary"
          @click="$router.push(parentComponentPath)"
        >
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>

        <!-- title -->
        <v-toolbar-title
          v-if="editedItem"
        >
          <h2>
            {{ edit ? $t('campaign_edit') : $t('campaign_add') }} 
            <v-chip
              class="ma-2"
              outlined
              :color="edited ? 'warning' : 'primary'"
              label
            >
              <v-icon left>
                mdi-email
              </v-icon>
              {{ editedItem.name }}
            </v-chip>
          </h2>
        </v-toolbar-title>
        <v-spacer />

        <!-- buttons -->
        <v-toolbar-items>
          <v-btn
            text
            color="green"
            :loading="loading"
            @click="edit ? refresh() : lRestart()"
          >
            {{ edit ? $t('refresh') : $t('restart') }}
            <v-icon
              v-if="edit"
            >
              mdi-refresh
            </v-icon>
            <v-icon
              v-else
            >
              mdi-restart
            </v-icon>
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>

      <!-- detail -->
      <v-card
        v-if="editedItem"
        flat
      >
        <v-form 
          ref="form"
          v-model="valid"
        >
          <!-- tabs list -->
          <v-tabs
            v-if="tabs.length>0"
            v-model="mtab"
          >
            <v-tab
              v-for="ltab in tabs"
              :key="ltab.id"
            >
              {{ ltab.label }}
            </v-tab>
          </v-tabs>
          <v-divider />

          <!-- tabs content -->
          <v-tabs-items 
            v-model="mtab"
          >
            <v-tab-item
              v-for="ltab in tabs"
              :key="ltab.id"
            >
              <!-- container for regular fields -->
              <v-container
                v-if="ltab.rows"
              >
                <v-row 
                  v-for="row in ltab.rows"
                  :key="row.id"
                >
                  <v-col
                    v-for="field in row.fields"
                    :key="field.name"
                    :cols="field.cols"
                    :sm="field.cols"
                    :md="field.cols"
                  >
                    <field-choice
                      v-if="!field.component"
                      :resource="resource"
                      :field="field"
                    />
                    <component 
                      :is="field.component"
                      v-else-if="field.component == 'CampaignBody'"
                      :body="editedItem.body"
                      @bodyChanged="bodyChanged"
                    />
                    <component 
                      :is="field.component"
                      v-else-if="field.component == 'CampaignSend'"
                      :campaign="editedItem"
                      @refresh="getItem"
                    />
                  </v-col>
                </v-row>
              </v-container>
              <!-- special fields, handled by their dedicated component -->
              <component 
                :is="ltab.component"
                v-else-if="ltab.component"
                :field="ltab.name"
                :item="editedItem"
                :edit="true"
                @change="change"
              />
            </v-tab-item>
          </v-tabs-items>
        </v-form>
      </v-card>  
      <!-- edit buttons -->
      <v-card-actions
        v-if="mtab==0 && editedItem"
      >
        <!-- save item -->
        <v-btn
          color="primary"
          :disabled="!edited || !valid || loading || emptyBody"
          @click="save()"
        >
          {{ $t('save') }}
          <v-icon right>
            mdi-content-save
          </v-icon>
        </v-btn>
        <v-spacer />
        <!-- delete item -->
        <v-btn
          v-if="edit"
          color="error"
          :disabled="loading"
          @click="remove()"
        >
          {{ $t('remove') }}
          <v-icon right>
            mdi-delete
          </v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>

    <!-- confirm action dialog -->
    <v-dialog
      v-model="dialog"
      persistent
      max-width="400"
    >
      <v-card>
        <v-card-title
          class="text-h5"
        >
          {{ dialogTitle }}
        </v-card-title>
        <v-card-text>{{ dialogText }}</v-card-text>
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn
            text
            @click="dialog = false"
          >
            {{ $t('cancel') }}
          </v-btn>
          <v-btn
            :color="dialogColor"
            text
            @click="launchAction()"
          >
            {{ $t('valid') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import FieldChoice from '@/components/field/FieldChoice.vue';
import ResourceEditMixin from '@/mixins/ResourceEdit';
import PageTitleMixin from '@/mixins/PageTitle';
import CampaignBody from '@/components/campaign/CampaignBody';
import CampaignSend from '@/components/campaign/CampaignSend';

// import the translations
import {messages_routes_en, messages_routes_fr} from '@/translations/routes/'; 
import {messages_views_en, messages_views_fr} from '@/translations/views/Campaigns/';
import {messages_models_en, messages_models_fr} from '@/translations/models/Campaign/';

let messages_en = { ...messages_views_en, routes: {...messages_routes_en }, campaign: { ...messages_models_en }};
let messages_fr = { ...messages_views_fr, routes: {...messages_routes_fr }, campaign: { ...messages_models_fr }};

export default {
  components: {
    FieldChoice,
    CampaignBody,
    CampaignSend
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  mixins: [
    ResourceEditMixin,
    PageTitleMixin
  ],
  props: {
    tab: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      // define the store module used
      resource: 'cp',
      editor: null,
      mtab: this.tab
    };
  },
  computed: {
    // define the fields by tabs (mandatory)
    // at least one tab is needed 
    // if there's only one tab modify the v-tab above to display the content only and not the tab label
    // /!\ tabs id start at 0 because of a bug in vuetify tabs : only index is used for the v-model, so ,we need to map the tab property to the current mtab, which needs to be an 0-based int
    tabs() {
      let ltabs = [];
      ltabs.push(
        {
          label: this.$t('campaign.tab.detail'), id: 0, 
          rows: [
            // detail tab
            { 
              id: 1,
              fields: 
              [
                { label: this.$t('campaign.id'), name: 'id', type: 'text', cols:'2', disabled: true },
                { label: this.$t('campaign.name'), name: 'name', type: 'text', cols:'10', required: true, nullable: false, validation: { required: this.$t('campaign.nameRequired'), rule: 'limit', counter: 255, valid: this.$t('campaign.nameLimit') } },
              ]
            },
            { 
              id: 2,
              fields: 
              [
                { label: this.$t('campaign.subject'), name: 'subject', type: 'text', cols:'12', required: true, nullable: false, validation: { required: this.$t('campaign.subjectRequired'), rule: 'limit', counter: 255, valid: this.$t('campaign.subjectLimit') } }
              ]
            },
            { 
              id: 3,
              fields: 
              [
                { name: 'body', component: 'CampaignBody', cols:'12' }
              ]
            },
            
          ]
        }
      );
      if (this.showSendTab()) {
        ltabs.push(
          {
            label: this.$t('campaign.tab.send'), id: 1,
            rows: [
              { 
                id: 1,
                fields: 
                [
                  { name: 'send', component: 'CampaignSend', cols:'12' }
                ]
              },
            ]
          }
        );
      }
      return ltabs;
    },
    deliveries() {
      return this.$store.getters[this.resource+'/deliveries'];
    },
    deliverySource() {
      return this.$store.getters[this.resource+'/deliverySource'];
    },
    deliverySourceId() {
      return this.$store.getters[this.resource+'/deliverySourceId'];
    },
    deliverySourceName() {
      return this.$store.getters[this.resource+'/deliverySourceName'];
    },
    deliveryFilters() {
      return this.$store.getters[this.resource+'/deliveryFilters'];
    },
    deliveryFilterType() {
      return this.$store.getters[this.resource+'/deliveryFilterType'];
    },
    deliveryCount() {
      return this.$store.getters[this.resource+'/totalDeliveries'];
    },
    emptyBody() {
      if (Array.isArray(this.editedItem.body)) {
        return this.editedItem.body.filter( element => element.src || element.value ).length == 0;
      }
      return !this.editedItem.body;
    }
  },
  mounted() {
    this.mtab = this.tab;
    // init for new campaign
    this.initDeliveries();
  },
  methods: {
    lRestart() {
      // for now, restarting a new campaign clears the delivery information
      this.$store.dispatch('cp/clearDeliveries');
      this.restart();
    },
    initDeliveries() {
      if (this.editedItem && this.editedItem.id == null) {
        this.editedItem.source = this.deliverySource;
        this.editedItem.deliveries = this.deliveries;
        this.editedItem.deliveryCount = this.deliveryCount;
        this.editedItem.sourceId = this.deliverySourceId;
        this.editedItem.sourceName = this.deliverySourceName;
        this.editedItem.filterType = this.deliveryFilterType;
        this.editedItem.filter = this.deliveryFilters;
        if (this.deliveryFilters !== null) {
          // serialize an object containing strings or arrays into a string
          this.editedItem.filters = Object.keys(this.deliveryFilters).map(key => {
            if (Array.isArray(this.deliveryFilters[key])) {
              return this.deliveryFilters[key].map(element => key+'='+element).join('&');
            } else {
              return key+'='+this.deliveryFilters[key];
            }
          }).join('&');
        }
      }
    },
    bodyChanged(value) {
      this.editedItem.body = value;
    },
    showSendTab() {
      return (this.editedItem && this.editedItem.deliveryCount>0) || (this.deliverySource !== null);
    }
  }
};
</script>