<template>
  <div class="relaypointtype">
    <!-- the 'if' in the v-card is used to be sure the item is loaded before continue -->
    <v-card
      outlined
      :loading="loading"
      loader-height="8"
    >
      <v-toolbar flat>
        <!-- back button -->
        <v-btn 
          v-if="item"
          icon
          color="primary"
          @click="$router.push(parentComponentPath)"
        >
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>

        <!-- title -->
        <v-toolbar-title
          v-if="item"
        >
          <h2>
            {{ $t('relaypointtype_show') }} 
            <v-chip
              class="ma-2"
              outlined
              color="primary"
              label
            >
              <v-icon left>
                mdi-alpha-t-circle-outline
              </v-icon>
              {{ item.name }}
            </v-chip>
          </h2>
        </v-toolbar-title>
        <v-spacer />

        <!-- buttons -->
        <v-toolbar-items>
          <!-- edit item -->
          <v-btn
            v-if="item"
            text
            color="green"
            :to="editItem()"
          >
            {{ $t('edit') }}
            <v-icon right>
              mdi-pencil
            </v-icon>
          </v-btn>
          <!-- refresh -->
          <v-btn
            text
            color="green"
            :loading="loading"
            @click="hardRefresh()"
          >
            {{ $t('refresh') }}
            <v-icon>
              mdi-refresh
            </v-icon>
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>

      <!-- detail tabs -->
      <v-container
        v-if="item"
      >
        <v-row>
          <v-col
            cols="12"
          >
            <v-card
              flat
            >
              <!-- tabs list -->
              <v-tabs
                v-if="tabs().length>0"
                v-model="mtab"
              >
                <v-tab
                  v-for="tab in tabs()"
                  :key="tab.label"
                >
                  {{ tab.label }}
                </v-tab>
              </v-tabs>
              <v-divider />

              <!-- tabs content -->
              <v-tabs-items 
                v-model="mtab"
              >
                <v-tab-item
                  v-for="tab in tabs()"
                  :key="tab.label"
                >
                  <!-- container for regular fields -->
                  <v-container
                    v-if="tab.rows"
                  >
                    <v-row 
                      v-for="row in tab.rows"
                      :key="row.id"
                    >
                      <v-col
                        v-for="field in row.fields"
                        :key="field.name"
                        :cols="field.cols"
                        :sm="field.cols"
                        :md="field.cols"
                      >
                        <field-choice
                          :resource="resource"
                          :field="field"
                          :read-only="true"
                        />
                      </v-col>
                    </v-row>
                  </v-container>
                </v-tab-item>
              </v-tabs-items>
            </v-card> 
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </div>
</template>

<script>
import FieldChoice from '@/components/field/FieldChoice.vue';
import ResourceShowMixin from '@/mixins/ResourceShow';
import PageTitleMixin from '@/mixins/PageTitle';
import DateFormatMixin from '@/mixins/DateFormat';

// import the translations
import {messages_routes_en, messages_routes_fr} from '@/translations/routes/'; 
import {messages_views_en, messages_views_fr} from '@/translations/views/RelayPointTypes/';
import {messages_dates_en, messages_dates_fr} from '@/translations/views/Dates/';
import {messages_models_en, messages_models_fr} from '@/translations/models/RelayPointType/';

let messages_en = { ...messages_views_en, dates: {...messages_dates_en }, routes: {...messages_routes_en }, rpt: { ...messages_models_en }};
let messages_fr = { ...messages_views_fr, dates: {...messages_dates_fr }, routes: {...messages_routes_fr }, rpt: { ...messages_models_fr }};

export default {
  components: {
    FieldChoice
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  mixins: [
    ResourceShowMixin,
    PageTitleMixin,
    DateFormatMixin
  ],
  data() {
    return {
      // define the store module used
      resource: 'rpt'
    };
  },
  methods: {
    // define the fields by tabs (mandatory)
    // at least one tab is needed 
    // if there's only one tab modify the v-tab above to display the content only and not the tab label
    tabs() {
      return [
        {
          // detail tab
          label: this.$t('rpt.tab.detail'), id: 1, 
          rows: [ 
            { 
              id: 1,
              fields: 
              [
                { label: this.$t('rpt.id'), name: 'id', type: 'text', cols:'2' },
                { label: this.$t('rpt.name'), name: 'name', type: 'text', cols:'10' }
              ]
            },
            { 
              id: 2,
              fields: 
              [
                { label: this.$t('rpt.icon'), name: 'iconName', type: 'text', cols: '4', image: (this.item && this.item.iconUrl ? this.item.iconUrl : null) },
                { label: this.$t('rpt.iconPrivate'), name: 'iconPrivateName', type: 'text', cols: '4', hidden: (!this.item || !this.item.iconPrivateUrl), image: (this.item && this.item.iconPrivateUrl ? this.item.iconPrivateUrl : null) },
              ]
            },
          ]
        }];
    }
  }
};
</script>