<template>
  <div class="event">
    <!-- the 'if' in the v-card is used to be sure the item is loaded before continue -->
    <v-card
      outlined
      :loading="loading"
      loader-height="8"
    >
      <v-toolbar flat>
        <!-- back button -->
        <v-btn 
          v-if="editedItem"
          icon
          color="primary"
          @click="$router.push(parentComponentPath)"
        >
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>

        <!-- title -->
        <v-toolbar-title
          v-if="editedItem"
        >
          <h2>
            {{ edit ? $t('relaypointtype_edit') : $t('relaypointtype_add') }} 
            <v-chip
              class="ma-2"
              outlined
              :color="edited ? 'warning' : 'primary'"
              label
            >
              <v-icon left>
                mdi-alpha-t-circle-outline
              </v-icon>
              {{ editedItem.name }}
            </v-chip>
          </h2>
        </v-toolbar-title>
        <v-spacer />

        <!-- buttons -->
        <v-toolbar-items>
          <v-btn
            text
            color="green"
            :loading="loading"
            @click="edit ? refresh() : restart()"
          >
            {{ edit ? $t('refresh') : $t('restart') }}
            <v-icon
              v-if="edit"
            >
              mdi-refresh
            </v-icon>
            <v-icon
              v-else
            >
              mdi-restart
            </v-icon>
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>

      <!-- detail -->
      <v-card
        v-if="editedItem"
        flat
      >
        <v-form 
          ref="form"
          v-model="valid"
        >
          <!-- tabs list -->
          <v-tabs
            v-if="tabs.length>0"
            v-model="mtab"
          >
            <v-tab
              v-for="tab in tabs"
              :key="tab.label"
            >
              {{ tab.label }}
            </v-tab>
          </v-tabs>
          <v-divider />

          <!-- tabs content -->
          <v-tabs-items 
            v-model="mtab"
          >
            <v-tab-item
              v-for="tab in tabs"
              :key="tab.label"
            >
              <!-- container for regular fields -->
              <v-container
                v-if="tab.rows"
              >
                <v-row 
                  v-for="row in tab.rows"
                  :key="row.id"
                >
                  <v-col
                    v-for="field in row.fields"
                    :key="field.name"
                    :cols="field.cols"
                    :sm="field.cols"
                    :md="field.cols"
                  >
                    <!-- all fields are handled by a v-model, except some components (geocomplete, image...), this is why there are event handlers -->
                    <field-choice
                      :resource="resource"
                      :field="field"
                      :read-only="field.readOnly"
                      @image-changed="imageChanged"
                      @image-reset="imageReset"
                      @address-changed="addressChanged"
                    />
                  </v-col>
                </v-row>
              </v-container>
            </v-tab-item>
          </v-tabs-items>
        </v-form>
      </v-card>  
      <!-- edit buttons -->
      <v-card-actions
        v-if="editedItem"
      >
        <!-- save item -->
        <v-btn
          color="primary"
          :disabled="!edited || !valid || loading"
          @click="save()"
        >
          {{ $t('save') }}
          <v-icon right>
            mdi-content-save
          </v-icon>
        </v-btn>
        <v-spacer />
        <!-- delete item -->
        <v-btn
          v-if="edit"
          color="error"
          :disabled="loading"
          @click="remove()"
        >
          {{ $t('remove') }}
          <v-icon right>
            mdi-delete
          </v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>

    <!-- confirm action dialog -->
    <v-dialog
      v-model="dialog"
      persistent
      max-width="400"
    >
      <v-card>
        <v-card-title
          class="text-h5"
        >
          {{ dialogTitle }}
        </v-card-title>
        <v-card-text>{{ dialogText }}</v-card-text>
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn
            text
            @click="dialog = false"
          >
            {{ $t('cancel') }}
          </v-btn>
          <v-btn
            :color="dialogColor"
            text
            @click="launchAction()"
          >
            {{ $t('valid') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import FieldChoice from '@/components/field/FieldChoice.vue';
import ResourceEditMixin from '@/mixins/ResourceEdit';
import PageTitleMixin from '@/mixins/PageTitle';

// import the translations
import {messages_routes_en, messages_routes_fr} from '@/translations/routes/'; 
import {messages_views_en, messages_views_fr} from '@/translations/views/RelayPointTypes/';
import {messages_models_en, messages_models_fr} from '@/translations/models/RelayPointType/';

let messages_en = { ...messages_views_en, routes: {...messages_routes_en }, rpt: { ...messages_models_en }};
let messages_fr = { ...messages_views_fr, routes: {...messages_routes_fr }, rpt: { ...messages_models_fr }};

export default {
  components: {
    FieldChoice
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  mixins: [
    ResourceEditMixin,
    PageTitleMixin
  ],
  data() {
    return {
      // define the store module used
      resource: 'rpt',
      editor: null,
    };
  },
  computed: {
    // define the fields by tabs (mandatory)
    // at least one tab is needed 
    // if there's only one tab modify the v-tab above to display the content only and not the tab label
    tabs() {
      return [
        {
          label: this.$t('rpt.tab.detail'), id: 1, 
          rows: [
            // detail tab
            { 
              id: 1,
              fields: 
              [
                { label: this.$t('rpt.id'), name: 'id', type: 'text', cols:'2', disabled: true },
                { label: this.$t('rpt.name'), name: 'name', type: 'text', cols:'10', required: true, nullable: false, validation: { required: this.$t('rpt.nameRequired'), rule: 'limit', counter: 255, valid: this.$t('rpt.nameLimit') } },
              ]
            },
            {
              id: 2,
              fields: [
                { label: this.$t('rpt.icon'), name: 'iconId', type: 'selectResource', resource: 'i', cols: '4', itemIcon: 'url'},
                { label: this.$t('rpt.iconPrivate'), name: 'iconPrivateName', value: (this.hasPrivateIcon() ? this.getPrivateIcon().name : ''), image: (this.hasPrivateIcon() ? this.getPrivateIcon().icon : ''), readOnly: true, type: 'text', cols:'4', hidden: (this.item && !this.hasPrivateIcon()) }
              ]
            },
          ]
        }];
    }
  },
  methods: {
    // handler for image change
    imageChanged(image) {
      this.editedItem[image.field] = image.image;
    },
    // handler for image reset
    imageReset(field) {
      this.editedItem[field] = false;
      this.$store.dispatch(this.resource+'/saveItem',this.editedItem);
    },
    // handler for geocomplete
    addressChanged(address) {
      this.editedItem[address.field] = address.address;
    },
    // handler for dedicated components events
    change(payload) {
      switch(payload.component) {
      default:
        break;
      }
    },
    // check if the selected icon has a private version
    hasPrivateIcon() {
      if (this.editedItem && this.editedItem.iconId) {
        const icon = this.$store.getters['i/items'].find( icon => icon.id === this.editedItem.iconId );
        return (icon !== undefined && icon.privateName);
      }
      return false;
    },
    // get the private version of the selected icon (if relevant)
    getPrivateIcon() {
      if (this.editedItem && this.editedItem.iconId) {
        const icon = this.$store.getters['i/items'].find( icon => icon.id === this.editedItem.iconId );
        if (icon !== undefined && icon.privateName) {
          return {
            name: icon.privateName,
            icon: icon.privateUrl
          };
        }
      }
      return null;
    }
  }
};
</script>