<template>
  <div class="solidarystructure">
    <!-- the 'if' in the v-card is used to be sure the item is loaded before continue -->
    <v-card
      outlined
      :loading="loading"
      loader-height="8"
    >
      <v-toolbar flat>
        <!-- back button -->
        <v-btn 
          v-if="editedItem"
          icon
          color="primary"
          @click="$router.push(parentComponentPath)"
        >
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>

        <!-- title -->
        <v-toolbar-title
          v-if="editedItem"
        >
          <h2>
            {{ edit ? $t('solidarystructure_edit') : $t('solidarystructure_add') }} 
            <v-chip
              class="ma-2"
              outlined
              :color="edited ? 'warning' : 'primary'"
              label
            >
              <v-icon left>
                mdi-home-city
              </v-icon>
              {{ editedItem.name }}
            </v-chip>
          </h2>
        </v-toolbar-title>
        <v-spacer />

        <!-- buttons -->
        <v-toolbar-items>
          <!-- add operaor -->
          <v-btn
            v-if="isOperatorTab"
            text
            color="green"
            @click="showAddOperator()"
          >
            {{ $t('operator_add') }}
            <v-icon right>
              mdi-plus
            </v-icon>
          </v-btn>

          <v-btn
            text
            color="green"
            :loading="loading"
            @click="edit ? refresh() : restart()"
          >
            {{ edit ? $t('refresh') : $t('restart') }}
            <v-icon
              v-if="edit"
            >
              mdi-refresh
            </v-icon>
            <v-icon
              v-else
            >
              mdi-restart
            </v-icon>
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>

      <!-- detail -->
      <v-card
        v-if="editedItem"
        flat
      >
        <v-form 
          ref="form"
          v-model="valid"
        >
          <!-- tabs list -->
          <v-tabs
            v-if="tabs.length>0"
            v-model="mtab"
          >
            <v-tab
              v-for="tab in tabs"
              :key="tab.label"
            >
              {{ tab.label }}
            </v-tab>
          </v-tabs>
          <v-divider />

          <!-- tabs content -->
          <v-tabs-items 
            v-model="mtab"
          >
            <v-tab-item
              v-for="tab in tabs"
              :key="tab.label"
            >
              <!-- container for regular fields -->
              <v-container
                v-if="tab.rows"
              >
                <v-row 
                  v-for="row in tab.rows"
                  :key="row.id"
                >
                  <v-col
                    v-for="field in row.fields"
                    :key="field.name"
                    :cols="field.cols"
                    :sm="field.cols"
                    :md="field.cols"
                    :offset-md="field.offset"
                  >
                    <!-- all fields are handled by a v-model, except some components (geocomplete, image...), this is why there are event handlers -->
                    <field-choice
                      v-if="!field.component"
                      :resource="resource"
                      :field="field"
                      :read-only="field.readOnly"
                    />
                    <component 
                      :is="field.component"
                      v-else
                      :resource="resource"
                      :field="field"
                      :time-precision="30"
                      @change="change"
                    />
                  </v-col>
                </v-row>
              </v-container>
              <!-- special fields, handled by their dedicated component -->
              <component 
                :is="tab.component"
                v-else-if="tab.component"
                :field="tab.name"
                :item="editedItem"
                :edit="true"
                :type="tab.type ? tab.type : 1"
                @change="change"
                @removeOperator="removeOperator"
              />
            </v-tab-item>
          </v-tabs-items>
        </v-form>
      </v-card>  
      <!-- edit buttons -->
      <v-card-actions
        v-if="editedItem"
      >
        <!-- save item -->
        <v-btn
          color="primary"
          :disabled="!edited || !valid || loading"
          @click="save()"
        >
          {{ $t('save') }}
          <v-icon right>
            mdi-content-save
          </v-icon>
        </v-btn>
        <v-spacer />
        <!-- delete item -->
        <v-btn
          v-if="edit"
          color="error"
          :disabled="loading || !editedItem.removable"
          @click="remove()"
        >
          {{ $t('remove') }}
          <v-icon right>
            mdi-delete
          </v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>

    <!-- confirm action dialog -->
    <v-dialog
      v-model="dialog"
      persistent
      max-width="400"
    >
      <v-card>
        <v-card-title
          class="text-h5"
        >
          {{ dialogTitle }}
        </v-card-title>
        <v-card-text>{{ dialogText }}</v-card-text>
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn
            text
            @click="dialog = false"
          >
            {{ $t('cancel') }}
          </v-btn>
          <v-btn
            :color="dialogColor"
            text
            @click="launchAction()"
          >
            {{ $t('valid') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- add operator dialog -->
    <v-dialog
      v-model="addOperatorDialog"
      persistent
      max-width="600px"
    >
      <v-card>
        <v-card-title
          class="text-h5"
        >
          {{ dialogTitle }}
        </v-card-title>
        <v-card-text>
          <user-complete-field
            v-model="operator"
            :label="$t('s.operator')"
            display-email
          />
        </v-card-text>
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn
            text
            @click="addOperatorDialog = false"
          >
            {{ $t('cancel') }}
          </v-btn>
          <v-btn
            :color="dialogColor"
            text
            :disabled="operator === null"
            @click="addOperator()"
          >
            {{ $t('valid') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import getEnv from '@/utils/env';
import FieldChoice from '@/components/field/FieldChoice.vue';
import ResourceEditMixin from '@/mixins/ResourceEdit';
import PageTitleMixin from '@/mixins/PageTitle';
import TimeRangeField from '@/components/field/TimeRangeField.vue';
import SolidaryStructureSubjectsChoice from '@/components/field/SolidaryStructureSubjectsChoice';
import SolidaryStructureNeedsChoice from '@/components/field/SolidaryStructureNeedsChoice';
import SolidaryStructureProofsChoice from '@/components/field/SolidaryStructureProofsChoice';
import SolidaryStructureOperatorList from '@/components/solidary/solidaryStructure/SolidaryStructureOperatorList';
import UserCompleteField from '@/components/field/UserCompleteField.vue';
import MessageService from '@/services/message.service';
import UserService from '@/services/user.service';

// import the translations
import {messages_routes_en, messages_routes_fr} from '@/translations/routes/'; 
import {messages_views_en, messages_views_fr} from '@/translations/views/Solidary/SolidaryStructures/';
import {messages_models_en, messages_models_fr} from '@/translations/models/Solidary/SolidaryStructure/';

let messages_en = { ...messages_views_en, routes: {...messages_routes_en }, s: { ...messages_models_en }};
let messages_fr = { ...messages_views_fr, routes: {...messages_routes_fr }, s: { ...messages_models_fr }};

export default {
  components: {
    FieldChoice,
    TimeRangeField,
    SolidaryStructureSubjectsChoice,
    SolidaryStructureNeedsChoice,
    SolidaryStructureProofsChoice,
    SolidaryStructureOperatorList,
    UserCompleteField
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  mixins: [
    ResourceEditMixin,
    PageTitleMixin
  ],
  data() {
    return {
      // define the store module used
      resource: 'sld_s',
      addOperatorDialog: false,
      operator: null,
    };
  },
  computed: {
    tabs() {
      let tabs = [];
      tabs.push(
        {
          label: this.$t('s.tab.detail'), id: 1, 
          rows: [
            // detail tab
            { 
              id: 1,
              fields: 
              [
                { label: this.$t('s.id'), name: 'id', type: 'text', cols:'2', disabled: true },
                { label: this.$t('s.name'), name: 'name', type: 'text', cols:'6', required: true, nullable: false, validation: { required: this.$t('s.nameRequired'), rule: 'limit', counter: 255, valid: this.$t('s.nameLimit') } },
                { label: this.$t('s.mode'), name: 'mode', type: 'switch', cols:'4' },
                { label: this.$t('s.withoutSolidary'), name: 'solidaryTransport', type: 'switch', cols:'4', offset: '8' },
              ]
            },
            {
              id: 2,
              fields: [
                { label: this.$t('s.email'), name: 'email', type: 'text', cols: '4', icon: 'mdi-email', validation: { valid: this.$t('s.emailValid'), rule: 'email' } },
                { label: this.$t('s.telephone'), name: 'telephone', type: 'text', cols: '4', icon: 'mdi-phone' }
              ]
            },
            {
              id: 3,
              fields: [
                { label: this.$t('s.territories'), name: 'territories', type: 'territorycompletemultiple', cols: '12'},
              ]
            },
            {
              id: 4,
              fields: [
                { label: this.$t('s.times'), type: 'divider', cols: '12' }
              ]
            },
            {
              id: 5,
              fields: [
                { label: this.$t('s.morningRange'), cols: '12', icon: 'mdi-clock', component: 'TimeRangeField', nullable: false, minField: 'mMinTime', maxField: 'mMaxTime', required: true, validation: { rule: 'range' } },
                { label: this.$t('s.afternoonRange'), cols: '12', icon: 'mdi-clock', component: 'TimeRangeField', nullable: false, minField: 'aMinTime', maxField: 'aMaxTime', required: true, validation: { rule: 'range' }  },
                { label: this.$t('s.eveningRange'), cols: '12', icon: 'mdi-clock', component: 'TimeRangeField', nullable: false, minField: 'eMinTime', maxField: 'eMaxTime', required: true, validation: { rule: 'range' }  },
              ]
            },
          ]
        },
        // subjects tab
        {
          label: this.$t('s.tab.subjects'), id: 2, 
          component: 'SolidaryStructureSubjectsChoice',
          name: 'subjects'
        },
        // needs tab
        {
          label: this.$t('s.tab.needs'), id: 3, 
          component: 'SolidaryStructureNeedsChoice',
          name: 'needs'
        },
        // requester proofs tab
        {
          label: this.$t('s.tab.requesterProofs'), id: 4, 
          component: 'SolidaryStructureProofsChoice',
          type:1,
          name: 'structureProofsRequester'
        }
      );
      if (getEnv('VUE_APP_SOLIDARY_TRANSPORT') === 'true' && this.item && !this.item.solidaryTransport) {
        tabs.push(
          // volunteer proofs tab
          {
            label: this.$t('s.tab.volunteerProofs'), id: 5, 
            component: 'SolidaryStructureProofsChoice',
            type:2,
            name: 'structureProofsVolunteer'
          }
        );
      }
      tabs.push(
        // operators tab
        {
          label: this.$t('s.tab.operators'), id: 6, 
          component: 'SolidaryStructureOperatorList',
          name: 'operators'
        }
      );
      return tabs;
    },
    isOperatorTab() {
      return getEnv('VUE_APP_SOLIDARY_TRANSPORT') === 'true' ? this.mtab == 5 : this.mtab == 4;
    }
  },
  methods: {
    showAddOperator() {
      this.dialogTitle = this.$t('dialog.operator.title');
      this.dialogColor = 'primary';
      this.addOperatorDialog = true;
    },
    addOperator() {
      if (this.editedItem['operators'].find( operator => operator.id === this.operator) !== undefined) {
        // operator already exists
        MessageService.error('exists','solidaryoperator');
      } else {
        // get all the needed data
        UserService.getItem(this.operator)
          .then( user => {
            // add operator to the list
            this.editedItem['operators'].push({
              id: user.id,
              givenName: user.givenName,
              familyName: user.familyName,
              email: user.email
            });
          })
          .then( () => {
            this.operator = null;
          })
          .catch();
        this.addOperatorDialog = false;
      }
    },
    removeOperator(id) {
      this.editedItem['operators'] = this.editedItem['operators'].filter( operator => operator.id !== id);
    },
    // handler for dedicated components events
    change(payload) {
      switch(payload.component) {
      default:
        break;
      }
    }
  }
};
</script>