<template>
  <div class="solidarystructure">
    <!-- the 'if' in the v-card is used to be sure the item is loaded before continue -->
    <v-card
      outlined
      :loading="loading"
      loader-height="8"
    >
      <v-toolbar flat>
        <!-- back button -->
        <v-btn 
          v-if="item"
          icon
          color="primary"
          @click="$router.push(parentComponentPath)"
        >
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>

        <!-- title -->
        <v-toolbar-title
          v-if="item"
        >
          <h2>
            {{ $t('solidarystructure_show') }} 
            <v-chip
              class="ma-2"
              outlined
              color="primary"
              label
            >
              <v-icon left>
                mdi-home-city
              </v-icon>
              {{ item.name }}
            </v-chip>
          </h2>
        </v-toolbar-title>
        <v-spacer />

        <!-- buttons -->
        <v-toolbar-items>
          <!-- edit item -->
          <v-btn
            v-if="item && $store.getters['auth/authorized']('structure_update')"
            text
            color="green"
            :to="editItem()"
          >
            {{ $t('edit') }}
            <v-icon right>
              mdi-pencil
            </v-icon>
          </v-btn>
          <!-- refresh -->
          <v-btn
            text
            color="green"
            :loading="loading"
            @click="hardRefresh()"
          >
            {{ $t('refresh') }}
            <v-icon>
              mdi-refresh
            </v-icon>
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>

      <!-- detail tabs -->
      <v-container
        v-if="item"
      >
        <v-row>
          <v-col
            cols="12"
          >
            <v-card
              flat
            >
              <!-- tabs list -->
              <v-tabs
                v-if="tabs().length>0"
                v-model="mtab"
              >
                <v-tab
                  v-for="tab in tabs()"
                  :key="tab.label"
                >
                  {{ tab.label }}
                </v-tab>
              </v-tabs>
              <v-divider />

              <!-- tabs content -->
              <v-tabs-items 
                v-model="mtab"
              >
                <v-tab-item
                  v-for="tab in tabs()"
                  :key="tab.label"
                >
                  <!-- container for regular fields -->
                  <v-container
                    v-if="tab.rows"
                  >
                    <v-row 
                      v-for="row in tab.rows"
                      :key="row.id"
                    >
                      <v-col
                        v-for="field in row.fields"
                        :key="field.name"
                        :cols="field.cols"
                        :sm="field.cols"
                        :md="field.cols"
                      >
                        <field-choice
                          v-if="!field.component"
                          :resource="resource"
                          :field="field"
                          :read-only="true"
                        />
                        <component 
                          :is="field.component"
                          v-else
                          :resource="resource"
                          :field="field"
                          :time-precision="30"
                          :read-only="true"
                        />
                      </v-col>
                    </v-row>
                  </v-container>
                  <!-- special fields, handled by their dedicated component -->
                  <component 
                    :is="tab.component"
                    v-else-if="tab.component"
                    :field="tab.name"
                    :item="item"
                    :read-only="true"
                  />
                </v-tab-item>
              </v-tabs-items>
            </v-card> 
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </div>
</template>

<script>
import getEnv from '@/utils/env';
import FieldChoice from '@/components/field/FieldChoice.vue';
import ResourceShowMixin from '@/mixins/ResourceShow';
import PageTitleMixin from '@/mixins/PageTitle';
import DateFormatMixin from '@/mixins/DateFormat';
import TimeRangeField from '@/components/field/TimeRangeField.vue';
import SolidaryStructureSubjectsChoice from '@/components/field/SolidaryStructureSubjectsChoice';
import SolidaryStructureNeedsChoice from '@/components/field/SolidaryStructureNeedsChoice';
import SolidaryStructureProofsChoice from '@/components/field/SolidaryStructureProofsChoice';
import SolidaryStructureOperatorList from '@/components/solidary/solidaryStructure/SolidaryStructureOperatorList';

// import the translations
import {messages_routes_en, messages_routes_fr} from '@/translations/routes/'; 
import {messages_views_en, messages_views_fr} from '@/translations/views/Solidary/SolidaryStructures/';
import {messages_dates_en, messages_dates_fr} from '@/translations/views/Dates/';
import {messages_models_en, messages_models_fr} from '@/translations/models/Solidary/SolidaryStructure/';

let messages_en = { ...messages_views_en, dates: {...messages_dates_en }, routes: {...messages_routes_en }, s: { ...messages_models_en }};
let messages_fr = { ...messages_views_fr, dates: {...messages_dates_fr }, routes: {...messages_routes_fr }, s: { ...messages_models_fr }};

export default {
  components: {
    FieldChoice,
    TimeRangeField,
    SolidaryStructureSubjectsChoice,
    SolidaryStructureNeedsChoice,
    SolidaryStructureProofsChoice,
    SolidaryStructureOperatorList,
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  mixins: [
    ResourceShowMixin,
    PageTitleMixin,
    DateFormatMixin
  ],
  data() {
    return {
      // define the store module used
      resource: 'sld_s'
    };
  },
  methods: {
    tabs() {
      let tabs = [];
      tabs.push(
        {
          label: this.$t('s.tab.detail'), id: 1, 
          rows: [
            // detail tab
            { 
              id: 1,
              fields: 
              [
                { label: this.$t('s.id'), name: 'id', type: 'text', cols:'2' },
                { label: this.$t('s.name'), name: 'name', type: 'text', cols:'6' },
                { label: this.$t('s.mode'), name: 'mode', type: 'switch', cols:'4' }
              ]
            },
            {
              id: 2,
              fields: [
                { label: this.$t('s.email'), name: 'email', type: 'text', cols: '4', icon: 'mdi-email' },
                { label: this.$t('s.telephone'), name: 'telephone', type: 'text', cols: '4', icon: 'mdi-phone' }
              ]
            },
            {
              id: 3,
              fields: [
                { label: this.$t('s.territories'), name: 'territories', type: 'territorycompletemultiple', cols: '12'},
              ]
            },
            {
              id: 4,
              fields: [
                { label: this.$t('s.times'), type: 'divider', cols: '12' }
              ]
            },
            {
              id: 5,
              fields: [
                { label: this.$t('s.morningRange'), cols: '12', icon: 'mdi-clock', component: 'TimeRangeField', minField: 'mMinTime', maxField: 'mMaxTime' },
                { label: this.$t('s.afternoonRange'), cols: '12', icon: 'mdi-clock', component: 'TimeRangeField', minField: 'aMinTime', maxField: 'aMaxTime' },
                { label: this.$t('s.eveningRange'), cols: '12', icon: 'mdi-clock', component: 'TimeRangeField', minField: 'eMinTime', maxField: 'eMaxTime' },
              ]
            },
          ]
        },
        // subjects tab
        {
          label: this.$t('s.tab.subjects'), id: 2, 
          component: 'SolidaryStructureSubjectsChoice',
          name: 'subjects'
        },
        // needs tab
        {
          label: this.$t('s.tab.needs'), id: 3, 
          component: 'SolidaryStructureNeedsChoice',
          name: 'needs'
        },
        // requester proofs tab
        {
          label: this.$t('s.tab.requesterProofs'), id: 4, 
          component: 'SolidaryStructureProofsChoice',
          type:1,
          name: 'structureProofsRequester'
        }
      );
      
      if (getEnv('VUE_APP_SOLIDARY_TRANSPORT') === 'true' && this.item && !this.item.solidaryTransport) {
        tabs.push(
          // volunteer proofs tab
          {
            label: this.$t('s.tab.volunteerProofs'), id: 5, 
            component: 'SolidaryStructureProofsChoice',
            type:2,
            name: 'structureProofsVolunteer'
          }
        );
      }
      tabs.push(
        // operators tab
        {
          label: this.$t('s.tab.operators'), id: 6, 
          component: 'SolidaryStructureOperatorList',
          name: 'operators'
        }
      );
      return tabs;
    }
  }
};
</script>