<template>
  <div  
    :class="!visible ? 'd-none': ''"
  >
    <v-container>
      <v-row>
        <v-col cols="6">
          <h4>{{ $t('title') }}</h4>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="3">
          <geo-complete-field
            :label="$t('origin')"
            :address="origin"
            @address-changed="originAddressChanged"
          />
        </v-col>
        <v-col cols="3">
          <geo-complete-field
            :label="$t('destination')"
            :address="destination"
            @address-changed="destinationAddressChanged"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="6">
          <v-slider
            v-model="radius"
            :label="$t('radius')"
            step="1"
            ticks
            tick-size="4"
            min="1"
            max="25"
            thumb-label="always"
            :hint="$t('radiusHint')"
            persistent-hint
          />
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import GeoCompleteField from '@/components/field/GeoCompleteField.vue';
import debounce from 'lodash/debounce';
import {messages_components_en, messages_components_fr} from '@/translations/components/filter/CarpoolRangeFilter/';

export default {
  i18n: {
    messages: {
      'en': messages_components_en,
      'fr': messages_components_fr
    }
  },
  components: { 
    GeoCompleteField 
  },
  props: {
    value: {
      type: Object,
      default: () => {}
    },
    label: {
      type: String,
      default: ''
    },
    visible: {
      type: Boolean,
      default: true
    }
  },
  data: () => ({
    origin: null,
    destination: null,
    radius:1
  }),
  watch: {
    radius: {
      handler: debounce(function() {
        if (this.origin || this.destination) {
          this.change();
        }
      },500),
      deep:true,      
    }
  },
  methods: {
    // handler for geocomplete origin
    originAddressChanged(address) {
      this.origin = address;
      this.change();
    },
    // handler for geocomplete destination
    destinationAddressChanged(address) {
      this.destination = address;
      this.change();
    },
    change() {
      this.$emit('change', {
        component: 'CarpoolRangeFilter',
        origin: this.origin,
        destination: this.destination,
        radius: this.radius
      });
    }
  }
};
</script>