<template>
  <div  
    :class="!visible ? 'd-none': ''"
  >
    <v-switch
      v-model="switched"
      inset
      :label="label"
      @change="change"
    />
  </div>
</template>

<script>

export default {
  components: { 
  },
  props: {
    values: {
      type: Array,
      default: () => [100, null]
    },
    label: {
      type: String,
      default: ''
    },
    visible: {
      type: Boolean,
      default: true
    },
    value: {
      type: Number,
      default: null
    }
  },
  data() {
    return {
      switched: this.value === this.values[1]
    };
  },
  watch: {
  },
  methods: {
    change() {
      this.$emit('change', {
        component: 'ProgressionSwitchFilter',
        value: this.switched ? this.values[1] : this.values[0]
      });
    }
  }
};
</script>