<template>
  <div  
    :class="!visible ? 'd-none': ''"
  >
    <v-text-field
      dense
      outlined
      clearable
      :type="type"
      :label="label"
      class="ml-1"
      :value="value"
      autocomplete="011f26c4dde7"
      hide-details
      @input="$emit('input', $event)"
    />
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: ''
    },
    label: {
      type: String,
      default: ''
    },
    type: {
      type: String,
      default: 'text'
    },
    visible: {
      type: Boolean,
      default: true
    }
  }
};
</script>