<template>
  <div class="autocomplete_field">
    <v-autocomplete
      :value="value"
      clearable
      hide-no-data
      :items="items"
      :search-input.sync="search"
      class="ml-1"
      item-text="fullName"
      item-value="id"
      :label="label"
      autocomplete="8c4g5er8f5g2"
      return-object
      :rules="rules"
      @input="input"
    >
      <v-icon v-if="icon" slot="prepend">
        {{ icon }}
      </v-icon>
      <!-- template for selected item  -->
      <template v-slot:selection="data">
        <template>
          {{ data.item.fullName }}
        </template>
      </template>
      <!-- template for list items  -->
      <template v-slot:item="data">
        <template>
          <v-list-item-avatar>
            <img :src="data.item.avatar" />
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title v-html="data.item.fullName" />
            <v-list-item-subtitle
              v-if="displayEmail"
              v-html="data.item.email"
            />
          </v-list-item-content>
        </template>
      </template>
    </v-autocomplete>
  </div>
</template>

<script>
import debounce from "lodash/debounce";
import UserService from "@/services/user.service";

export default {
  props: {
    value: {
      type: Number,
      default: null,
    },
    label: {
      type: String,
      default: "",
    },
    icon: {
      type: String,
      default: null,
    },
    maxResults: {
      type: Number,
      default: 15,
    },
    rules: {
      type: Array,
      default: () => [],
    },
    displayEmail: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      search: null,
      items: [],
      model: [],
      result: null,
    };
  },
  watch: {
    search(val) {
      if (val !== null && val !== undefined && val !== this.result) {
        this.debouncedSearch();
      }
    },
  },
  created() {
    // debounce for search
    this.debouncedSearch = debounce(this.getItems, 500);
  },
  methods: {
    getItems() {
      let params = {
        sortBy: "familyName",
        sortDesc: false,
        page: 1,
        perPage: this.maxResults,
        filter: {},
      };
      params.filter.q = this.search;
      UserService.getItems(
        params.sortBy,
        params.sortDesc,
        params.page,
        params.perPage,
        params.filter
      )
        .then((response) => {
          this.items = response.items.map((item) => this.formatDisplay(item));
        })
        .catch(() => {});
    },
    input(val) {
      if (val !== null) {
        this.$emit("input", val.id);
        this.result = val.selectedValue;
      } else {
        this.$emit("input", null);
        this.result = null;
      }
    },
    formatDisplay(item) {
      return {
        id: item.id,
        fullName: item.givenName + " " + item.familyName,
        email: item.email,
        avatar: item.avatar,
      };
    },
  },
};
</script>
