<template>
  <analytic-admin v-if="$route.name == 'analytics_admin'" />
  <analytic-community v-else-if="$route.name == 'community_dashboard'" :selected-community-id="parseInt($route.params.communityId)" :target="parseInt($route.params.target)"/>
  <analytic-hitchhiker v-else-if="$route.name == 'hitchhikers_dashboard'" />
  <analytic-solidary-carpool v-else-if="$route.name == 'solidary_carpool_analytics'" />
</template>

<script>
import AnalyticAdmin from '@/components/analytic/AnalyticAdmin';
import AnalyticCommunity from '@/components/analytic/AnalyticCommunity';
import AnalyticHitchhiker from '../components/analytic/AnalyticHitchhiker';
import AnalyticSolidaryCarpool from '../components/analytic/AnalyticSolidaryCarpool';

export default {
  components: {
    AnalyticAdmin,
    AnalyticCommunity,
    AnalyticHitchhiker,
    AnalyticSolidaryCarpool
  },
  data: () => ({
    
  })
};
</script>