<template>
  <campaign-edit
    v-if="$route.name == 'campaign_create' || $route.name == 'campaign_edit' || $route.name == 'campaign_send'" 
    :edit="edit"
    :tab="$route.name == 'campaign_send' ? 1 : 0"
  />
  <campaign-show v-else-if="$route.name == 'campaign_show'" />
  <campaign-list v-else />
</template>

<script>
import CampaignEdit from '@/components/campaign/CampaignEdit.vue';
import CampaignShow from '@/components/campaign/CampaignShow.vue';
import CampaignList from '@/components/campaign/CampaignList.vue';

export default {
  components: {
    CampaignEdit,
    CampaignShow,
    CampaignList
  },
  props: {
    edit: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    
  })
};
</script>