<template>
  <hitch-hiker-edit
    v-if="$route.name == 'hitchhiker_create' || $route.name == 'hitchhiker_edit'"
    :edit="edit"
  />
  <hitch-hiker-show v-else-if="$route.name == 'hitchhiker_show'" />
  <hitch-hiker-list v-else />
</template>

<script>
import HitchHikerList from '@/components/hitchHiker/HitchHikerList.vue';
import HitchHikerShow from '@/components/hitchHiker/HitchHikerShow.vue';
import HitchHikerEdit from '@/components/hitchHiker/HitchHikerEdit.vue';

export default {
  components: {
    HitchHikerList,
    HitchHikerShow,
    HitchHikerEdit
  },
  props: {
    edit: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    
  })
};
</script>