<template>
  <relay-point-type-edit
    v-if="$route.name == 'relaypointtype_create' || $route.name == 'relaypointtype_edit'" 
    :edit="edit"
  />
  <relay-point-type-show v-else-if="$route.name == 'relaypointtype_show'" />
  <relay-point-type-list v-else />
</template>

<script>
import RelayPointTypeEdit from '@/components/relayPointType/RelayPointTypeEdit.vue';
import RelayPointTypeShow from '@/components/relayPointType/RelayPointTypeShow.vue';
import RelayPointTypeList from '@/components/relayPointType/RelayPointTypeList.vue';

export default {
  components: {
    RelayPointTypeEdit,
    RelayPointTypeShow,
    RelayPointTypeList
  },
  props: {
    edit: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    
  })
};
</script>