<template>
  <solidary-structure-edit
    v-if="$route.name == 'solidarystructure_create' || $route.name == 'solidarystructure_edit'" 
    :edit="edit"
  />
  <solidary-structure-show v-else-if="$route.name == 'solidarystructure_show'" />
  <solidary-structure-list v-else />
</template>

<script>
import SolidaryStructureEdit from '@/components/solidary/solidaryStructure/SolidaryStructureEdit.vue';
import SolidaryStructureShow from '@/components/solidary/solidaryStructure/SolidaryStructureShow.vue';
import SolidaryStructureList from '@/components/solidary/solidaryStructure/SolidaryStructureList.vue';

export default {
  components: {
    SolidaryStructureEdit,
    SolidaryStructureShow,
    SolidaryStructureList
  },
  props: {
    edit: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    
  })
};
</script>