<template>
  <solidary-beneficiary-edit
    v-if="$route.name == 'solidarybeneficiary_create' || $route.name == 'solidarybeneficiary_edit'" 
    :edit="edit"
  />
  <solidary-beneficiary-show v-else-if="$route.name == 'solidarybeneficiary_show'" />
  <solidary-beneficiary-list v-else />
</template>

<script>
import SolidaryBeneficiaryEdit from '@/components/solidary/solidaryBeneficiary/SolidaryBeneficiaryEdit.vue';
import SolidaryBeneficiaryShow from '@/components/solidary/solidaryBeneficiary/SolidaryBeneficiaryShow.vue';
import SolidaryBeneficiaryList from '@/components/solidary/solidaryBeneficiary/SolidaryBeneficiaryList.vue';

export default {
  components: {
    SolidaryBeneficiaryEdit,
    SolidaryBeneficiaryShow,
    SolidaryBeneficiaryList
  },
  props: {
    edit: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    
  })
};
</script>