<template>
  <user-edit
    v-if="$route.name == 'user_create' || $route.name == 'user_edit'"
    :edit="edit"
  />
  <user-show v-else-if="$route.name == 'user_show'" />
  <user-import v-else-if="$route.name == 'users_import'" />
  <user-list v-else />
</template>

<script>
import UserList from '@/components/user/UserList.vue';
import UserShow from '@/components/user/UserShow.vue';
import UserEdit from '@/components/user/UserEdit.vue';
import UserImport from '@/components/user/UserImport.vue';

export default {
  components: {
    UserList,
    UserShow,
    UserEdit,
    UserImport
  },
  props: {
    edit: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    
  })
};
</script>