<template>
  <v-card
    outlined
    :loading="loading"
    loader-height="8"
  >
    <v-toolbar flat>
      <!-- title -->
      <v-toolbar-title>
        <h2>{{ $t('event_list') }}</h2>
      </v-toolbar-title>
      <v-spacer />

      <!-- buttons -->
      <v-toolbar-items>
        <!-- add item -->
        <v-btn
          text
          color="green"
          :to="addItem()"
          :disabled="loading"
        >
          {{ $t('add') }}
          <v-icon right>
            mdi-plus
          </v-icon>
        </v-btn>

        <!-- export -->
        <v-menu
          v-if="canExport"
          close-on-click
          down
          offset-y
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              text
              color="green"
              v-bind="attrs"
              :disabled="loading"
              v-on="on"
            >
              {{ $t('export') }}
              <v-icon right>
                mdi-download
              </v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item-group
              color="green"
            >
              <v-list-item
                @click="exportAll()"
              >
                <v-list-item-icon>
                  <v-icon>mdi-calendar-multiple</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title>
                    {{ $t('export_all') }}
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item
                :disabled="selected.length==0"
                @click="exportSelected()"
              >
                <v-list-item-icon>
                  <v-icon>mdi-calendar-check</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title>
                    {{ $tc('export_selected', selected.length, { nb: selected.length}) }}
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-menu>

        <!-- refresh -->
        <v-btn
          text
          color="green"
          :loading="loading"
          @click="getItems()"
        >
          {{ $t('refresh') }}
          <v-icon right>
            mdi-table-refresh
          </v-icon>
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>

    <!-- data table -->
    <v-data-table
      v-model="selected"
      class="row-pointer"
      :headers="headers()"
      :items="items"
      :show-select="canExport"
      multi-sort
      :options.sync="options"
      :server-items-length="total"
      :footer-props="footerProps"
      @click:row="pushTo"
    >
      <template v-slot:top>
        <!-- filters -->
        <v-container>
          <v-row>
            <v-col
              v-for="onFilter in alwaysOnFilters()"
              :key="onFilter.name"
              :cols="onFilter.cols"
              :sm="onFilter.cols"
              :md="onFilter.cols"
            >
              <filter-choice
                :filter="filter"
                :on-filter="onFilter"
              />
            </v-col>
            <v-col
              v-if="optionalFilters().length>0"
              cols="4"
              sm="4"
              md="4"
            >
              <filter-list 
                v-model="selectedOptionalFilters"
                :list="optionalFilters()"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col
              v-for="onFilter in displayedOptionalFilters()"
              :key="onFilter.name"
              :cols="onFilter.cols"
              :sm="onFilter.cols"
              :md="onFilter.cols"
            >
              <filter-choice
                :filter="filter"
                :on-filter="onFilter"
              />
            </v-col>
          </v-row>
        </v-container>
        <!-- end filters -->
      </template>

      <!-- overload the columns data format -->
      <template v-slot:[`item.avatar`]="{ item }">
        <v-img 
          v-if="item.avatar"
          :src="item.avatar"
          aspect-ratio="1"
          max-height="125"
          contain
        />
      </template>
      <template v-slot:[`item.address`]="{ item }">
        <span>{{ getAddress(item.address) }}</span>
      </template>
      <template v-slot:[`item.creator`]="{ item }">
        <v-chip
          color="primary"
          label
          :to="getUserRoute(item.creatorId)"
        >
          <v-avatar left>
            <v-img 
              v-if="item.creatorAvatar"
              :src="item.creatorAvatar"
            />
            <v-icon
              v-else
            >
              mdi-account-circle-outline
            </v-icon>
          </v-avatar>
          {{ item.creator }}
        </v-chip>
      </template>
      <template v-slot:[`item.fromDate`]="{ item }">
        <span>{{ asDateTime(item.fromDate, utc) }}</span>
      </template>
      <template v-slot:[`item.toDate`]="{ item }">
        <span>{{ asDateTime(item.toDate, utc) }}</span>
      </template>
      <!-- end column overload -->

      <!-- action column -->
      <template v-slot:[`item.actions`]="{ item }">
        <v-btn
          class="ma-2"
          color="primary"
          text
          :to="editItem(item)"
        >
          {{ $t('edit') }}
          <v-icon
            right
          >
            mdi-pencil
          </v-icon>
        </v-btn>
      </template>
      <!-- end action column -->
    </v-data-table>
  </v-card>
</template>

<script>
import ResourceListMixin from '@/mixins/ResourceList';
import PageTitleMixin from '@/mixins/PageTitle';
import DateFormatMixin from '@/mixins/DateFormat';
import FilterList from '@/components/filter/FilterList.vue';
import FilterChoice from '@/components/filter/FilterChoice.vue';
import getEnv from '@/utils/env';

// import the translations
import {messages_routes_en, messages_routes_fr} from '@/translations/routes/'; 
import {messages_views_en, messages_views_fr} from '@/translations/views/Events/';
import {messages_dates_en, messages_dates_fr} from '@/translations/views/Dates/';
import {messages_models_en, messages_models_fr} from '@/translations/models/Event/';

let messages_en = { ...messages_views_en, dates: {...messages_dates_en }, routes: {...messages_routes_en }, event: { ...messages_models_en }};
let messages_fr = { ...messages_views_fr, dates: {...messages_dates_fr }, routes: {...messages_routes_fr }, event: { ...messages_models_fr }};

export default {
  components: {
    FilterList,
    FilterChoice
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  mixins: [
    ResourceListMixin,
    PageTitleMixin,
    DateFormatMixin
  ],
  computed: {
    canExport() {
      return getEnv('VUE_APP_EXPORT') == 'true'
        && this.$store.getters['auth/authorized']('export')
        && this.$store.getters['auth/authorized']('admin_event_export_all');
    }
  },
  data: () => ({
    // define the store module used
    resource: 'e',
    utc: getEnv('VUE_APP_UTC_TIME') === 'true'
  }),
  methods: {
    // define the fields (used for guessing headers and filters)
    fields() {
      return [
        { label: this.$t('event.id'), name: 'id', filter: { type: 'number', cols: '2', alwaysOn: true} },
        { label: this.$t('event.image'), name: 'avatar', sortable: false },
        { label: this.$t('event.name'), name: 'name', filter: { type: 'text', cols: '2', alwaysOn: true} },
        { label: this.$t('event.locality'), name: 'address', sortable: false },
        { label: this.$t('event.creator'), name: 'creator', sortable: false },
        { label: this.$t('event.fromDate'), name: 'fromDate', filter: { type: 'date', interval: 'after', cols: '2', alwaysOn: false} },
        { label: this.$t('event.toDate'), name: 'toDate', filter: { type: 'date', interval: 'after', cols: '2', alwaysOn: false} },
        { label: this.$t('actions'), name: 'actions', sortable: false },
        { label: this.$t('territories'), name: 'eventAddressTerritoryFilter', hidden: true, filter: { type: 'autocompleteMultiple', resource: 't', cols: '4', alwaysOn: false} }
      ];
    },
    getAddress(val) {
      let addr = '';
      // construct address for various elements
      if (val.addressLocality) {
        if (addr !== '') addr += ', ';
        addr += val.addressLocality;
      }
      // uncomment to add postalCode
      // if (val.postalCode) {
      //   if (addr !== '') addr += ' (';
      //   addr += val.postalCode;
      //   if (addr !== val.postalCode) addr += ')';
      // }
      return addr; 
    },
    getUserRoute(userId) {
      return this.$router.options.routes.find( proute => proute.name === 'user_show' ).path.replace(':id',userId);
    }
  }
};
</script>

<style> 
  @import "../../styles/ResourceList.scss";
</style>