<template>
  <v-select
    :value="value"
    :items="items"
    outlined
    :loading="loading"
    dense
    clearable
    :menu-props="{ maxHeight: '400' }"
    autocomplete="6755ae1d46fe"
    @input="$emit('input', $event)"
  />
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      resource: 'cp'
    };
  },
  computed: {
    items() {
      return this.$store.getters[this.resource+'/items'].map(item => ({
        text: item.id+' : '+item.name+(item.deliveryCount>0 ? ' ('+item.deliveryCount+' destinataires)' : ''),
        value: item['id'].toString()
      }));  
    },
    loading() {
      return this.$store.getters[this.resource+'/loading'];
    },
  },
  mounted() {
    this.getItems();
  },
  methods: {
    getItems() {
      this.$store.dispatch(this.resource+'/loadItems', { callOptions: { page:1, itemsPerPage: 9999 } });
    },
  }
};
</script>