<template>
  <!-- Field choice for edition -->
  <div 
    v-if="!readOnly && !field.hidden"
    class="field_choice"
  >
    <date-field
      v-if="field.type=='date' || field.type=='datetime'"
      :item="item"
      :field="field"
      :label="field.label+(field.required ? ' *' : '')"
      :type="field.type=='date' ? 'date' : 'datetime'"
      :include-time="field.includeTime"
      :min-date="field.minDate && item[field.minDate] ? item[field.minDate] : null"
      :max-date="field.maxDate && item[field.maxDate] ? item[field.maxDate] : null"
      :rules="[ rules ]"
      :utc="field.utc ? field.utc : false"
      autocomplete="8a9ba928a19a"
    />
    <switch-field
      v-else-if="field.type=='switch'"
      v-model="item[field.name]"
      :label="field.label"
      :messages="field.messages"
      :tooltip="field.tooltip"
      :tooltipConditionned="field.tooltipConditionned"
    />
    <v-select
      v-else-if="field.type=='select'"
      v-model="item[field.name]"
      :items="field.values"
      :menu-props="{ maxHeight: '400' }"
      :label="field.label+(field.required ? ' *' : '')"
      :clearable="field.nullable"
      :prepend-icon="field.icon"
      :rules="[ rules ]"
      autocomplete="7cd275c1adb2"
    />
    <select-field
      v-else-if="field.type == 'selectResource'"
      v-model="item[field.name]"
      :item-text="item[field.itemText]"
      :item-value="item[field.itemValue]"
      :item-icon="field.itemIcon"
      :label="field.label+(field.required ? ' *' : '')"
      :rules="[ rules ]"
      :resource="field.resource"
      :icon="field.icon"
    />
    <image-field
      v-else-if="field.type == 'image'"
      :label="field.label+(field.required ? ' *' : '')"
      :source="item[field.name]"
      :edit="field.edit"
      :rules="[ rules ]"
      :reset="item[field.resetImage]"
      @changed="imageChanged"
      @reset="imageReset"
    />
    <user-complete-field
      v-else-if="field.type == 'usercomplete'"
      v-model="item[field.name]"
      :label="field.label+(field.required ? ' *' : '')"
      :rules="[ rules ]"
      :icon="field.icon"
    />
    <user-email-field
      v-else-if="field.type == 'useremail'"
      v-model="item[field.name]"
      :redirect-to="field.redirectTo"
      :item-id="field.itemId"
      :label="field.label+(field.required ? ' *' : '')"
      :hint="field.hint"
      :persistentHint="field.persistentHint"

      :rules="[ rules ]"
      @hard-refresh="hardRefresh"
    />
    <community-complete-field
      v-else-if="field.type == 'communitycomplete'"
      v-model="item[field.name]"
      :label="field.label+(field.required ? ' *' : '')"
      :rules="[ rules ]"
    />
    <territory-complete-field
      v-else-if="field.type == 'territorycomplete'"
      v-model="item[field.name]"
      :label="field.label+(field.required ? ' *' : '')"
      :rules="[ rules ]"
    />
    <territory-complete-multiple-field
      v-else-if="field.type == 'territorycompletemultiple'"
      v-model="item[field.name]"
      :label="field.label+(field.required ? ' *' : '')"
      :rules="[ rules ]"
    />
    <geo-complete-field
      v-else-if="field.type=='geocomplete'"
      :address="item[field.name]"
      :label="field.label+(field.required ? ' *' : '')"
      :icon="field.icon"
      :rules="[ rules ]"
      @address-changed="addressChanged"
    />
    <geo-picker-field
      v-else-if="field.type=='geopicker'"
      :address="item[field.name]"
      :label="field.label+(field.required ? ' *' : '')"
      :icon="field.icon"
      :rules="[ rules ]"
      @address-changed="addressChanged"
    />
    <div
      v-else-if="field.type=='editor'"
    >
      <label
        :class="$vuetify.theme.dark ? 'v-label v-label--active theme--dark' : 'v-label v-label--active'"
      >
        {{ field.label+(field.required ? ' *' : '') }}
      </label>
      <tiptap-vuetify
        v-model="item[field.name]"
        :extensions="extensions"
        :card-props="{ flat: true }"
        :toolbar-attributes="{ color: $vuetify.theme.dark ? 'grey darken-2' : 'grey lighten-4' }"
      />
    </div>
    <v-textarea
      v-else-if="field.type=='textarea'"
      v-model="item[field.name]"
      :label="field.label+(field.required ? ' *' : '')"
      :disabled="field.disabled"
      :clearable="field.nullable"
      :prepend-icon="field.icon"
      :rules="[ rules ]"
      :counter="(field.validation && field.validation.counter ? field.validation.counter : null)"
      :rows="field.rows ? field.rows : 2"
      autocomplete="03a40b4efa1b"
    />
    <url-field
      v-else-if="field.type=='url'"
      v-model="item[field.name]"
      :rules="[ rules ]"
      :label="field.label+(field.required ? ' *' : '')"
    />
    <div
      v-else-if="field.type=='divider'"
    >
      <h4>{{ field.label }}</h4>
    </div>
    <upload-file-field
      v-else-if="field.type=='uploadfile'"
      :accepted-mime-types="field.acceptedMimeTypes"
      :hint="field.hint"
      :label="field.label+(field.required ? ' *' : '')"
      :prepend-icon="field.icon"
      :source="item[field.name]"
      :rules="[ rules ]"
      :pop-up-text-on-click="field.popUpTextOnClick"
      :pop-up-text-accept="field.popUpTextAccept"
      :pop-up-text-cancel="field.popUpTextCancel"
      @changed="fileChanged"
    />
    <residence-address-field
      v-else-if="field.type=='residenceAddress'"
      v-model="item"
      :label="field.label+(field.required ? ' *' : '')"
      :prepend-icon="field.icon"
      :resource="resource"
    />
    <v-text-field
      v-else-if="field.type!='spacer'"
      v-model="item[field.name]"
      :label="field.label+(field.required ? ' *' : '')"
      :disabled="field.disabled"
      :clearable="field.nullable"
      :prepend-icon="field.icon"
      :rules="[ rules ]"
      :hint="field.hint"
      :persistent-hint="field.persistentHint"
      :type="field.type"
      :counter="(field.validation && field.validation.counter ? field.validation.counter : null)"
      autocomplete="3d55a9a6f9bf"
    />
  </div>
  <!-- Field choice for show -->
  <div 
    v-else-if="!field.hidden"
    class="field_choice"
  >
    <date-field
      v-if="field.type=='date' || field.type=='datetime'"
      :item="item"
      :field="field"
      :type="field.type"
      :utc="field.utc ? field.utc : false"
      read-only
    />
    <v-text-field
      v-else-if="field.type=='text'"
      :label="field.label"
      readonly
      :prepend-icon="field.icon"
      :value="field.value ? field.value : (item[field.name] !== null ? item[field.name] : ' ')"
    >
      <template v-slot:prepend-inner>
        <img
          v-if="field.image"
          width="24"
          height="24"
          :src="field.image"
        >
      </template>
    </v-text-field>
    <v-text-field
      v-else-if="field.type=='select'"
      :label="field.label"
      readonly
      :prepend-icon="field.icon"
      :value="getSelectText()"
    />
    <!-- url field is displayed only if a value is provided -->
    <url-field
      v-else-if="field.type=='url' && (field.value || item[field.name])"
      :label="field.label"
      read-only
      :value="field.value ? field.value : item[field.name]"
    />
    <div
      v-else-if="field.type=='divider'"
    >
      <h4>{{ field.label }}</h4>
    </div>
    <v-checkbox
      v-else-if="field.type=='checkbox' || field.type=='switch'"
      :label="field.label"
      :input-value="item[field.name] === true ? true : false"
      readonly
    />
    <v-textarea
      v-else-if="field.type=='textarea'"
      :label="field.label"
      readonly
      :prepend-icon="field.icon"
      :value="field.value ? field.value : (item[field.name] !== null ? item[field.name] : ' ')"
      rows="2"
    />
    <v-img
      v-else-if="field.type=='image' && item[field.name] !== null"
      :src="item[field.name]"
      max-height="300"
      contain
    />
    <territory-complete-multiple-field
      v-else-if="field.type == 'territorycompletemultiple'"
      :value="item[field.name]"
      :label="field.label+(field.required ? ' *' : '')"
      read-only
    />
    <geo-complete-field
      v-else-if="field.type=='geocomplete'"
      :address="item[field.name]"
      :label="field.label+(field.required ? ' *' : '')"
      :icon="field.icon"
      read-only
    />
    <upload-file-field
      v-else-if="field.type=='uploadfile'"
      read-only
    />
    <div
      v-else-if="field.type=='html'"
    >
      <span v-html="item[field.name]" />
    </div>
  </div>
</template>

<script>
import moment from 'moment';
import DateField from '@/components/field/DateField';
import GeoCompleteField from '@/components/field/GeoCompleteField';
import GeoPickerField from '@/components/field/GeoPickerField';
import ResidenceAddressField from '@/components/field/ResidenceAddressField';
import SelectField from '@/components/field/SelectField';
import UrlField from '@/components/field/UrlField';
import ImageField from '@/components/field/ImageField';
import SwitchField from '@/components/field/SwitchField';
import UserCompleteField from '@/components/field/UserCompleteField';
import UserEmailField from '@/components/field/UserEmailField';
import CommunityCompleteField from '@/components/field/CommunityCompleteField';
import TerritoryCompleteField from '@/components/field/TerritoryCompleteField';
import TerritoryCompleteMultipleField from '@/components/field/TerritoryCompleteMultipleField';
import UploadFileField from '@/components/field/UploadFileField';
import { TiptapVuetify, Heading, Bold, Italic, Strike, Underline, Code, Paragraph, BulletList, OrderedList, ListItem, Link, Blockquote, HardBreak, HorizontalRule, History } from 'tiptap-vuetify';
import {messages_components_en, messages_components_fr} from '@/translations/components/field/FieldChoice/';

export default {
  components: {
    DateField,
    GeoCompleteField,
    GeoPickerField,
    SelectField,
    UrlField,
    ImageField,
    SwitchField,
    UserCompleteField,
    UserEmailField,
    CommunityCompleteField,
    ResidenceAddressField,
    TerritoryCompleteField,
    TerritoryCompleteMultipleField,
    TiptapVuetify,
    UploadFileField
  },
  i18n: {
    messages: {
      'en': messages_components_en,
      'fr': messages_components_fr
    }
  },
  props: {
    acceptedFileTypes: {
      type: String,
      default: null
    },
    acceptedFileTypesHint: {
      type: String,
      default: null
    },
    field: {
      type: Object,
      default: () => {}
    },
    subField: {
      type: String,
      default: null
    },
    resource: {
      type: String,
      default: null
    },
    readOnly: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    extensions: [
      History,
      Blockquote,
      Link,
      Underline,
      Strike,
      Italic,
      ListItem,
      BulletList,
      OrderedList,
      [Heading, {
        options: {
          levels: [1, 2, 3]
        }
      }],
      Bold,
      Code,
      HorizontalRule,
      Paragraph,
      HardBreak
    ],
    editor: ''
  }),
  computed: {
    item() {
      return this.subField ? this.$store.getters[this.resource+'/editedItem'][this.subField] : this.$store.getters[this.resource+'/editedItem'];
    }
  },
  methods: {
    rules(val) {
      if (this.field.required && (val === null || val === undefined || val === '')) {
        return this.field.validation.required;
      }
      if (this.field.validation && this.field.validation.rule !== undefined) {
        // add custom validation rules
        switch (this.field.validation.rule) {
        case 'email':
          if (val && !/.+@.+\..+/.test(val)) {
            return this.field.validation.valid;
          }
          break;
        case 'limit':
          if (val && this.field.validation.counter && val.length > this.field.validation.counter) {
            return this.field.validation.valid;
          }
          break;
        case 'url':
          if (val && !this.isURL(val)) {
            return this.field.validation.valid;
          }
          break;
        case 'image2':
          if (val && val.size > (2 * 1024 * 1024)) {
            return this.field.validation.valid;
          }
          break;
        case 'dateBefore':
          if (this.item[this.field.validation.related] && !moment(this.item[this.field.name]).isSameOrBefore(this.item[this.field.validation.related])) {
            return this.field.validation.valid;
          }
          break;
        case 'dateAfter':
          if (this.item[this.field.validation.related] && !moment(this.item[this.field.name]).isSameOrAfter(this.item[this.field.validation.related])) {
            return this.field.validation.valid;
          }
          break;
        }
      } 
      return true;
    },
    // handler for image change
    imageChanged(file) {
      this.$emit('image-changed', {
        image: file !== undefined ? file : null,
        field: this.field.newImage
      });
    },
    // handler for image reset
    imageReset(field) {
      this.$emit('image-reset',field);
    },
    // handler for geocomplete
    addressChanged(address) {
      this.$emit('address-changed', {
        address: address,
        field: this.field.name
      });
    },
    // handler for hard refresh
    hardRefresh() {
      this.$emit('hard-refresh');
    },
    // get the text for a given value
    getSelectText() {
      // linked resource => there's a dot in the name
      if (this.field.name.indexOf('.') !== -1) {
        const names = this.field.name.split('.');
        return (this.item[names[0]] && this.item[names[0]][names[1]] ? this.item[names[0]][names[1]] : this.$t('undefined'));
      } else if (this.item[this.field.name] !== undefined) {
        const value = this.field.values.find(elem => elem.value === this.item[this.field.name]);
        if (value !== undefined && value.text !== undefined) {
          return value.text;
        }
      }
      return this.$t('undefined');
    },
    isURL(str) {
      let url;

      try {
        url = new URL(str);
      } catch (_) {
        return false;
      }

      return url.protocol === 'http:' || url.protocol === 'https:';
    },
    fileChanged(file) {
      this.$emit('file-changed', {
        file: file !== undefined ? file : null,
        field: this.field.newFile
      });
    },    
  }
};
</script>