<template>
  <v-autocomplete
    v-if="!readOnly"
    v-model="selection"
    :disabled="disabled"
    :loading="loading"
    :label="label"
    :search-input.sync="search"
    :items="propositions"
    hide-no-data
    no-filter
    :rules="rules"
    return-object
    clearable
    autocomplete="732d9b0sf301"
    @change="change"
  >
    <v-icon v-if="icon" slot="prepend">
      {{ icon }}
    </v-icon>

    <template v-slot:selection="data">
      {{ data.item.text }}
      <country-flag
        v-if="
          data.item.value.countryCode && data.item.value.countryCode != country
        "
        :country="data.item.value.countryCode"
        size="small"
      />
    </template>
    <!-- template for list items  -->
    <template v-slot:item="data">
      <template>
        <v-list-item-avatar
          v-if="data.item.icon"
          :class="iconColor(data.item.type)"
        >
          <v-icon :class="iconTextColor(data.item.type)">
            {{ data.item.icon }}
          </v-icon>
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title :class="titleColor(data.item.type)">
            {{ data.item.propositionTitle }}
            <country-flag
              v-if="
                data.item.value.countryCode &&
                data.item.value.countryCode != country
              "
              :country="data.item.value.countryCode"
              size="small"
            />
          </v-list-item-title>
          <v-list-item-subtitle
            :class="subTitleColor(data.item.type)"
            v-text="data.item.propositionText"
          />
        </v-list-item-content>
      </template>
    </template>
  </v-autocomplete>
  <v-text-field
    v-else-if="address"
    :label="label"
    :value="selection.text"
    :prepend-icon="icon"
    readonly
  />
</template>

<script>
import CountryFlag from "vue-country-flag";
import GeosearchService from "@/services/geosearch.service";
import {
  messages_components_en,
  messages_components_fr,
} from "@/translations/components/field/GeoCompleteField/";
import { debounce } from "lodash";
import getEnv from "@/utils/env";

export default {
  i18n: {
    messages: {
      en: messages_components_en,
      fr: messages_components_fr,
    },
  },
  components: {
    CountryFlag,
  },
  props: {
    address: {
      type: Object,
      default: null,
    },
    country: {
      type: String,
      default: "FR",
    },
    restrict: {
      type: Array,
      default: () => [],
    },
    label: {
      type: String,
      default: "",
    },
    icon: {
      type: String,
      default: null,
    },
    rules: {
      type: Array,
      default: () => [],
    },
    readOnly: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  data: () => ({
    search: null,
    items: [],
    selection: null,
    loading: null,
    sort: Object.values(
      JSON.parse(getEnv("VUE_APP_GEOCOMPLETE_RESULTS_ORDER"))
    ),
    palette: {
      locality: {
        main: "indigo",
        text: "white",
      },
      street: {
        main: "deep-purple",
        text: "white",
      },
      housenumber: {
        main: "purple",
        text: "white",
      },
      venue: {
        main: "pink",
        text: "white",
      },
      other: {
        main: "teal",
        text: "white",
      },
      relaypoint: {
        main: "teal",
        text: "white",
      },
      user: {
        main: "teal",
        text: "white",
      },
      event: {
        main: "teal",
        text: "white",
      },
    },
  }),

  computed: {
    colors() {
      return {
        locality: {
          icon: this.palette.locality.main + " accent-2",
          "icon-text": this.palette.locality.text + "--text",
          title: this.palette.locality.main + "--text text--darken-3",
          subtitle: this.palette.locality.main + "--text text--lighten-1",
        },
        street: {
          icon: this.palette.street.main + " accent-2",
          "icon-text": this.palette.street.text + "--text",
          title: this.palette.street.main + "--text text--darken-3",
          subtitle: this.palette.street.main + "--text text--lighten-1",
        },
        housenumber: {
          icon: this.palette.housenumber.main + " accent-2",
          "icon-text": this.palette.housenumber.text + "--text",
          title: this.palette.housenumber.main + "--text text--darken-3",
          subtitle: this.palette.housenumber.main + "--text text--lighten-1",
        },
        venue: {
          icon: this.palette.venue.main + " accent-2",
          "icon-text": this.palette.venue.text + "--text",
          title: this.palette.venue.main + "--text text--darken-3",
          subtitle: this.palette.venue.main + "--text text--lighten-1",
        },
        other: {
          icon: this.palette.other.main + " accent-2",
          "icon-text": this.palette.other.text + "--text",
          title: this.palette.other.main + "--text text--darken-3",
          subtitle: this.palette.other.main + "--text text--lighten-1",
        },
        relaypoint: {
          icon: this.palette.relaypoint.main + " accent-2",
          "icon-text": this.palette.relaypoint.text + "--text",
          title: this.palette.relaypoint.main + "--text text--darken-3",
          subtitle: this.palette.relaypoint.main + "--text text--lighten-1",
        },
        user: {
          icon: this.palette.user.main + " accent-2",
          "icon-text": this.palette.user.text + "--text",
          title: this.palette.user.main + "--text text--darken-3",
          subtitle: this.palette.user.main + "--text text--lighten-1",
        },
        event: {
          icon: this.palette.event.main + " accent-2",
          "icon-text": this.palette.event.text + "--text",
          title: this.palette.event.main + "--text text--darken-3",
          subtitle: this.palette.event.main + "--text text--lighten-1",
        },
      };
    },
    propositions() {
      return this.sort
        .map((type) => this.propositionsForType(type))
        .filter((type) => type !== null)
        .flat();
    },
    selectionToAddress() {
      if (this.selection) {
        const address = {
          houseNumber: this.selection.value.houseNumber,
          street: this.selection.value.streetName,
          postalCode: this.selection.value.postalCode,
          addressLocality: this.selection.value.locality,
          region: this.selection.value.region,
          regionCode: this.selection.value.regionCode,
          macroRegion: this.selection.value.macroRegion,
          addressCountry: this.selection.value.country,
          countryCode: this.selection.value.countryCode,
          latitude: this.selection.value.lat.toString(),
          longitude: this.selection.value.lon.toString(),
          name: this.selection.value.name,
          providedBy: this.selection.value.provider,
          distance: this.selection.value.distance,
          type: this.selection.type,
          //'id':this.selection.value.id
        };
        if (this.selection.type == "event") {
          // so nice...
          address.event = {
            id: this.selection.value.id,
            name: this.selection.value.name,
          };
        }
        return address;
      }
      return null;
    },
    addressToSelection() {
      if (this.address) {
        return {
          country: this.address.addressCountry,
          countryCode: this.address.countryCode,
          distance: this.address.distance,
          houseNumber: this.address.houseNumber,
          id: this.address.id,
          lat: this.address.latitude,
          locality: this.address.addressLocality,
          lon: this.address.longitude,
          macroRegion: this.address.macroRegion,
          name: this.address.event
            ? this.address.event.name
            : this.address.name,
          postalCode: this.address.postalCode,
          provider: this.address.providedBy,
          region: this.address.region,
          regionCode: this.address.regionCode,
          streetAddress: this.address.streetAddress,
          streetName: this.address.street,
          type: this.address.type,
        };
      }

      return null;
    },
  },

  watch: {
    address: {
      immediate: true,
      handler() {
        this.setSelection();
      },
    },
    search(val) {
      if (val) {
        this.debouncedSearch();
      } else if (val === "") {
        this.clearPropositions();
      }
    },
  },

  created() {
    this.debouncedSearch = debounce(this.getPropositions, 500);
  },

  methods: {
    propositionsForType(type) {
      const propositions = this.items
        .filter((item) => item.type == type)
        .map((item) => this.createProposition(item));
      if (propositions.length > 0) {
        return [{ divider: true }, { header: this.$t(type) }, ...propositions];
      }
      return null;
    },
    createProposition(item) {
      return {
        text: this.selectionText(item),
        propositionTitle: this.propositionTitle(item),
        propositionText: this.propositionText(item),
        value: item,
        group: this.$t(item.type),
        type: item.type,
        icon: this.getIcon(item.type),
      };
    },
    setSelectionTextForHouseNumber(item, text) {
      const streetName =
        typeof item.streetName !== "undefined" && item.streetName !== null
          ? item.streetName
          : item.streetAddress
          ? item.streetAddress
          : "";
      text += `${item.houseNumber}, ${streetName}, `;
      if (item.postalCode) {
        text += `${item.postalCode}, `;
      }
      return text;
    },
    selectionText(item) {
      let text = "";
      const streetName =
        typeof item.streetName !== "undefined"
          ? item.streetName
          : item.streetAddress
          ? item.streetAddress
          : "";
      if (item.type == "street") {
        text += streetName + ", ";
        if (item.postalCode) text += item.postalCode + ", ";
      }
      if (item.type == "housenumber") {
        text += this.setSelectionTextForHouseNumber(item, text);
      }
      if (item.type == "venue" || item.type == "event") {
        text += item.name + ", ";
        if (item.houseNumber) text += item.houseNumber + ", ";
        if (streetName) text += streetName + ", ";
        if (item.postalCode) text += item.postalCode + ", ";
      }
      if (item.type == "user") {
        if (this.showName) text += item.name + ", ";
        if (item.houseNumber) text += item.houseNumber + ", ";
        if (streetName) text += streetName + ", ";
        if (this.showName && item.postalCode) text += item.postalCode + ", ";
      }
      if (item.type == "relaypoint") {
        if (item.name) text += item.name + ", ";
        if (item.houseNumber) text += item.houseNumber + ", ";
        if (streetName) text += streetName + ", ";
        if (item.postalCode && streetName) text += item.postalCode + ", ";
      }
      if (item.locality) text += item.locality;
      if (item.type == "locality" && item.regionCode !== null)
        text += ", " + item.regionCode;
      if (item.type == "locality" && item.countryCode !== this.country)
        text += ", " + item.country;
      if (item.type == "relaypoint" && text == "") {
        text = this.$t("gps") + " [" + item.lat + ", " + item.lon + "]";
      }
      if (text.slice(text.length - 2) == ", ") {
        text = text.slice(0, -2);
      }
      return text;
    },
    propositionTitle(item) {
      let text = "";
      if (item.type == "street") {
        text += item.streetName + ", ";
        if (item.postalCode) text += item.postalCode + ", ";
      }
      if (item.type == "housenumber") {
        text += this.setSelectionTextForHouseNumber(item, text);
      }
      if (item.type == "venue" || item.type == "event") {
        text += item.name + ", ";
        if (item.houseNumber) text += item.houseNumber + ", ";
        if (item.streetName) text += item.streetName + ", ";
        if (item.postalCode) text += item.postalCode + ", ";
      }
      if (item.type == "user") {
        if (this.showName) text += item.name + ", ";
        if (item.houseNumber) text += item.houseNumber + ", ";
        if (item.streetName) text += item.streetName + ", ";
        if (this.showName && item.postalCode) text += item.postalCode + ", ";
      }
      if (item.type == "relaypoint") {
        if (item.name) text += item.name + ", ";
        if (item.houseNumber) text += item.houseNumber + ", ";
        if (item.streetName) text += item.streetName + ", ";
        if (item.postalCode && item.streetName) text += item.postalCode + ", ";
      }
      if (item.locality) text += item.locality;
      if (item.type == "relaypoint" && text == "") {
        text = this.$t("gps") + " [" + item.lat + ", " + item.lon + "]";
      }
      if (text.slice(text.length - 2) == ", ") {
        text = text.slice(0, -2);
      }
      return text;
    },
    propositionText(item) {
      let text = "";
      if (item.regionCode) text += item.regionCode;
      if (item.region) text += (text != "" ? ", " : "") + item.region;
      if (item.macroRegion) text += (text != "" ? ", " : "") + item.macroRegion;
      if (item.country) text += (text != "" ? ", " : "") + item.country;
      return text;
    },
    getIcon(type) {
      switch (type) {
        case "locality":
          return "mdi-city-variant";
        case "street":
          return "mdi-road-variant";
        case "housenumber":
          return "mdi-home-map-marker";
        case "venue":
          return "mdi-map-marker";
        case "relaypoint":
          return "mdi-parking";
        case "user":
          return "mdi-home-heart";
        case "event":
          return "mdi-stadium-variant";
      }
      return "mdi-earth";
    },
    setSelection() {
      if (!this.address) {
        this.clearSelection();
      } else if (
        !this.selection ||
        !(
          this.selection.id === this.address.id &&
          this.selection.type === this.address.type
        )
      ) {
        this.selection = this.createProposition(this.addressToSelection);
        this.items = [this.selection.value];
      }
    },
    getPropositions() {
      if (
        this.search &&
        (!this.selection ||
          (this.selection &&
            this.selection.text &&
            this.selection.text !== this.search))
      ) {
        this.clearPropositions();
        this.loading = true;
        GeosearchService.getItems(this.search)
          .then((response) => {
            this.setItems(response.items);
          })
          .catch(() => {
            this.clearPropositions();
          })
          .finally(() => {
            this.loading = false;
          });
      }
    },
    clearPropositions() {
      this.items = [];
    },
    clearSelection() {
      this.selection = null;
      this.change();
    },
    setItems(items) {
      if (this.restrict.length == 0) {
        this.items = items;
      } else {
        this.items = items.filter((item) => this.restrict.includes(item.type));
      }
    },
    change(address) {
      this.$emit("address-changed", this.selectionToAddress);
      if (!address) this.clearPropositions();
    },
    iconColor(type) {
      return this.colors[type]["icon"];
    },
    iconTextColor(type) {
      return this.colors[type]["icon-text"];
    },
    titleColor(type) {
      return this.colors[type]["title"];
    },
    subTitleColor(type) {
      return this.colors[type]["subtitle"];
    },
  },
};
</script>
