<template>
  <v-container>
    <v-row align="center">
      <v-col 
        v-if="source !== null"
        cols="4"
      >
        <v-card flat>
          <v-img
            :src="source+'?'+new Date().getTime()"
            max-height="200"
            contain
          />
          <v-card-title class="justify-center text-subtitle-1">
            {{ $t('current') }}
          </v-card-title>
        </v-card>
      </v-col>
      <v-col cols="4">
        <v-card flat>
          <v-file-input
            v-model="newImage"
            :label="label"
            :rules="rules"
            show-size
            chips
            truncate-length="40"
            accept="image/png, image/jpeg"
            prepend-icon="mdi-camera"
            @change="onFileChange"
          />
          <v-img
            v-if="imagePreviewURL"
            :src="imagePreviewURL"
            max-height="200"
            contain
          />
          <v-card-title
            v-if="edit"
            class="justify-center text-subtitle-1"
          >
            {{ $t('new') }}
          </v-card-title>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import {messages_components_en, messages_components_fr} from '@/translations/components/field/ImageField/';

export default {
  i18n: {
    messages: {
      'en': messages_components_en,
      'fr': messages_components_fr
    }
  },
  props: {
    source: {
      type: String,
      default: null
    },
    label: {
      type: String,
      default: null
    },
    edit: {
      type: Boolean,
      default: false
    },
    rules: {
      type: Array,
      default: () => []
    },
    resetField: {
      type: String,
      default: 'resetImage'
    },
    reset: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      newImage: null,
      imagePreviewURL: null
    };
  },
  watch: {
    reset(val) {
      if (val) {
        this.newImage = null;
        this.imagePreviewURL = null;
        this.$emit('reset',this.resetField);
        this.$forceUpdate();
      }
    }
  },
  methods: {
    onFileChange(payload) {
      const file = payload;
      if (file) {
        this.imagePreviewURL = URL.createObjectURL(file);
        URL.revokeObjectURL(file); // free memory
      } else {
        this.imagePreviewURL =  null;
      }
      this.$emit('changed',this.newImage);
    }
  },
};
</script>