<template>
  <div class="select_field">
    <v-select
      :value="value"
      :items="localList"
      clearable
      :menu-props="{ maxHeight: '400' }"
      :label="label"
      autocomplete="044720c7689d"
      @input="input"
      :prepend-icon="icon"
    >
      <template v-slot:selection="data">
        <img
          v-if="data.item.icon"
          class="mr-2"
          width="24"
          height="24"
          :src="data.item.icon"
        >
        {{ data.item.text }}
      </template>
      <template v-slot:item="data">
        <v-list-item-avatar v-if="data.item.icon">
          <v-avatar size="36">
            <v-img
              :src="data.item.icon"
              contain
            />
          </v-avatar>
        </v-list-item-avatar>
        <v-list-item-content v-text="data.item.text" />
      </template>
    </v-select>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: Number,
      default: null
    },
    label: {
      type: String,
      default: ''
    },
    // default list of items
    list: {
      type: Array,
      default: () => []
    },
    // item text field name if resource based list
    itemText: {
      type: String,
      default: 'name'
    },
    // item value field name if resource based list
    itemValue: {
      type: String,
      default: 'id'
    },
    // item icon field name if resource based list
    itemIcon: {
      type: String,
      default: null
    },
    // max results if resource based list
    maxResults: {
      type: Number,
      default: 50
    },
    // ressource alias if resource based list
    resource: {
      type: String,
      default: ''
    },
    icon: {
      type: String,
      default: null
    }
  },
  computed: {
    // we use a local list to replace the default list for resource based list
    localList() {
      if (this.resource !== '') {
        return this.$store.getters[this.resource+'/items'].map(item => ({
          text: item[this.itemText],
          value: item[this.itemValue],
          icon: this.getIcon(item)
        }));  
      } else {
        return this.list;
      }
    }
  },
  mounted() {
    // if resource based list, we get the items when the component is mounted
    if (this.resource !== '') {
      this.getItems();
    }
  },
  methods: {
    getItems() {
      let params = {};
      params['order['+this.itemText+']'] = 'asc';
      params['perPage'] = this.maxResults;
      this.$store.dispatch(this.resource+'/loadItems');
    },
    input(val) {
      if (val !== undefined) {
        this.$emit('input',val);
      } else {
        this.$emit('input',null);
      }
    },
    getIcon(item) {
      if (this.itemIcon) {
        if (this.itemIcon.indexOf('.') !== -1) {
          const fields = this.itemIcon.split('.');
          // for now max depth is 2
          if (item[fields[0]] && item[fields[0]][fields[1]]) {
            return item[fields[0]][fields[1]];
          }
        } else {
          return item[this.itemIcon];
        }
      }
      return null;
    }
  }
};
</script>