<template>
  <div>
    <v-container v-if="item[field] && item[field].length>0">
      <v-hover
        v-for="(proof, index) in item[field]"
        :key="index"
      >
        <template v-slot:default="{ hover }">
          <v-card
            class="mb-4"
            :elevation="hover ? 6 : 0"
          >
            <v-card-text>
              <v-row>            
                <v-col cols="4">
                  <v-text-field
                    v-model="item[field][index].label"
                    :label="$t('label')+' *'"
                    :readonly="readOnly"
                    :hint="!readOnly && !item[field][index].removable ? $t('used') : null"
                    :rules="[ rules ]"
                    :counter="!readOnly ? 255 : null"
                    :color="!readOnly && !item[field][index].removable ? 'warning' : ''"
                  />
                </v-col>
                <v-col cols="4">
                  <v-select
                    v-model="item[field][index].inputType"
                    :items="inputs"
                    :rules="[ rulesInput ]"
                    :label="$t('input.label')+' *'"
                    :readonly="readOnly || !item[field][index].removable"
                  />
                </v-col>
                <v-col cols="4">
                  <v-switch
                    v-model="item[field][index].mandatory"
                    :label="$t('mandatory')"
                    :readonly="readOnly"
                  />
                </v-col>
              </v-row>
              <v-row 
                v-if="showOptions(item[field][index])"
              >
                <v-col cols="4">
                  <v-textarea
                    v-model="item[field][index].options"
                    rows="2"
                    :rules="[ rulesOptions ]"
                    :label="$t('options')+' *'"
                    :hint="!readOnly ? $t('optionsHint') : null"
                    :readonly="readOnly"
                  />
                </v-col>
                <v-col cols="4">
                  <v-textarea
                    v-model="item[field][index].acceptedValues"
                    rows="2"
                    :rules="[ rulesAcceptedValues ]"
                    :label="$t('acceptedValues')+' *'"
                    :hint="!readOnly ? $t('acceptedValuesHint') : null"
                    :readonly="readOnly"
                  />
                </v-col>
              </v-row>
            </v-card-text>
            <v-card-actions
              v-if="readOnly"
            >
              <v-spacer />
              <v-btn
                v-if="!item[field][index].activated"
                color="yellow darken-4"
                :readonly="readOnly"
                text
              >
                {{ $t('disabled') }}
                <v-icon right>
                  mdi-close
                </v-icon>
              </v-btn>
              <v-btn
                v-if="item[field][index].activated"
                color="primary"
                :readonly="readOnly"
                text
              >
                {{ $t('enabled') }}
                <v-icon right>
                  mdi-check
                </v-icon>
              </v-btn>
            </v-card-actions>
            <v-card-actions
              v-if="!readOnly"
            >
              <v-btn
                v-if="!isFirst(item[field][index].position)"
                class="mr-2"
                fab
                dark
                x-small
                color="primary"
                @click="up(item[field][index])"
              >
                <v-icon>
                  mdi-arrow-up
                </v-icon>
              </v-btn>
              <v-btn
                v-if="!isLast(item[field][index].position)"
                class="mr-2"
                fab
                dark
                x-small
                color="primary"
                @click="down(item[field][index])"
              >
                <v-icon>
                  mdi-arrow-down
                </v-icon>
              </v-btn>
              <v-spacer />
              <v-btn
                v-if="!item[field][index].activated"
                color="primary"
                @click="enableStructureProof(index)"
              >
                {{ $t('enable') }}
                <v-icon right>
                  mdi-check
                </v-icon>
              </v-btn>
              <v-btn
                v-if="item[field][index].activated"
                color="yellow darken-4"
                class="white--text"
                @click="disableStructureProof(index)"
              >
                {{ $t('disable') }}
                <v-icon right>
                  mdi-close
                </v-icon>
              </v-btn>
              <v-btn
                color="warning"
                :disabled="!item[field][index].removable"
                @click="remove(index)"
              >
                {{ $t('remove') }}
                <v-icon right>
                  mdi-delete
                </v-icon>
              </v-btn>
            </v-card-actions>
          </v-card>
        </template>
      </v-hover>
    </v-container>
    <v-container>
      <v-row
        v-if="!readOnly"
      >
        <v-col cols="2">
          <v-btn
            color="success"
            @click="add()"
          >
            {{ $t('add') }}
            <v-icon right>
              mdi-plus
            </v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import {messages_components_en, messages_components_fr} from '@/translations/components/field/SolidaryStructureProofsChoice/';

export default {
  i18n: {
    messages: {
      'en': messages_components_en,
      'fr': messages_components_fr
    }
  },
  props: {
    field: {
      type: String,
      default: null
    },
    item: {
      type: Object,
      default: () => {}
    },
    type: {
      type: Number,
      default: 1
    },
    readOnly: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    types() {
      return [
        { text: this.$t('type.requester.label'), value: parseInt(this.$t('type.requester.value'))},
        { text: this.$t('type.volunteer.label'), value: parseInt(this.$t('type.volunteer.value'))}
      ];
    },
    inputs() {
      return [
        { text: this.$t('input.checkbox'), value: 'checkbox'},
        { text: this.$t('input.input'), value: 'input'},
        { text: this.$t('input.selectbox'), value: 'selectbox'},
        { text: this.$t('input.radio'), value: 'radio'},
        { text: this.$t('input.file'), value: 'file'},
      ];
    }
  },
  methods: {
    rules(val) {
      if (val === null || val === undefined || val === '') {
        return this.$t('labelRequired');
      }
      if (val && val.length > 255) {
        return this.$t('labelLimit');
      }
      return true;
    },
    rulesInput(val) {
      if (val === null || val === undefined || val === '') {
        return this.$t('inputRequired');
      }
      return true;
    },
    rulesOptions(val) {
      if (val === null || val === undefined || val === '') {
        return this.$t('optionsRequired');
      }
      return true;
    },
    rulesAcceptedValues(val) {
      if (val === null || val === undefined || val === '') {
        return this.$t('acceptedValuesRequired');
      }
      return true;
    },
    showOptions(item) {
      return item.inputType === 'radio' || item.inputType === 'selectbox';
    },
    add() {
      this.item[this.field].push({
        label: null,
        removable: true,
        type:this.type,
        activated: true,
        position: this.item[this.field].length+1
      });
    },
    isFirst(position) {
      return (this.item[this.field].reduce((min, proof) => proof.position < min ? proof.position : min, this.item[this.field][0].position)) == position;
    },
    isLast(position) {
      return (this.item[this.field].reduce((max, proof) => proof.position > max ? proof.position : max, this.item[this.field][0].position)) == position;
    },
    up(proof) {
      // find upper proofs
      let upperProofs = this.item[this.field].filter( item => item.position < proof.position );
      // find max position in upper proofs
      let upperPosition = upperProofs.reduce((max, item) => item.position > max ? item.position : max, upperProofs[0].position);
      // switch proofs
      this.switch(proof.position,upperPosition);
    },
    down(proof) {
      // find lower proofs
      let lowerProofs = this.item[this.field].filter( item => item.position > proof.position );
      // find min position in lower proofs
      let lowerPosition = lowerProofs.reduce((min, item) => item.position < min ? item.position : min, lowerProofs[0].position);
      // switch proofs
      this.switch(proof.position,lowerPosition);
    },
    switch(pos1,pos2) {
      let pos1Key = Object.keys(this.item[this.field]).find(key => this.item[this.field][key].position === pos1);
      let pos2Key = Object.keys(this.item[this.field]).find(key => this.item[this.field][key].position === pos2);
      this.item[this.field][pos1Key].position = pos2;
      this.item[this.field][pos2Key].position = pos1;
      // sort proofs
      this.item[this.field].sort((a,b) => (a.position > b.position) ? 1 : ((b.position > a.position) ? -1 : 0));
    },
    remove(id) {
      const position = this.item[this.field][id].position;
      this.item[this.field].splice(id,1);
      // remove 1 position to each lower proofs
      this.item[this.field].forEach(element => {
        if (element.position>position) {
          element.position--;
        }
      });
    },
    enableStructureProof(id) {
      this.item[this.field][id].activated = true;
      const position = 1;
      this.item[this.field].forEach(element => {
        if (element.position>=position) {
          element.position++;
        }
      });
      this.item[this.field][id].position = 1;
    },
    disableStructureProof(id) {
      const position = this.item[this.field][id].position;
      this.item[this.field][id].activated = false;
      this.item[this.field][id].position = 999;
      this.item[this.field].forEach(element => {
        if (element.position>position) {
          element.position--;
        }
      });
    }
  }
};
</script>