<template>
  <div class="switch_field">
    <v-switch
      :input-value="value"
      :label="label"
      :messages="messages"
      @change="change"
    >
      <template v-slot:label>
        {{ label }}
        <v-tooltip
          v-if="isTooltipDisplayed"
          top
        >
          <template v-slot:activator="{ on, attrs }">
            <v-icon
              class="ml-2"
              v-bind="attrs"
              v-on="on"
            >
              mdi-help-circle
            </v-icon>
          </template>
          <span>{{ tooltip }}</span>
        </v-tooltip>
      </template>
    </v-switch>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: Boolean,
      default: null
    },
    label: {
      type: String,
      default: ''
    },
    tooltip: {
      type: String,
      default: null
    },
    tooltipConditionned: {
      type: Boolean,
      default: false
    },
    messages: {
      type: String,
      default: null
    }
  },
  computed: {
    getValue() {
      return this.value;
    },
    isTooltipDisplayed() {
      return this.tooltip && (!this.tooltipConditionned || this.value);
    }
  },
  methods: {
    change(val) {
      this.$emit('input', val);
    }
  }
};
</script>
<style>
.v-messages__message {
  margin-left: 45px;
  color: #1976D2;
}
</style>