<template>
  <div class="autocomplete_field">
    <v-autocomplete
      :value="value"
      :readonly="readOnly"
      multiple
      chips
      deletable-chips
      hide-no-data
      cache-items
      :items="items"
      :loading="loading"
      :search-input.sync="search"
      class="ml-1"
      item-text="name"
      item-value="id"
      :label="label"
      prepend-icon="mdi-map"
      autocomplete="faevf72487f0d"
      @input="$emit('input', $event)"
    />
  </div>
</template>

<script>
import debounce from 'lodash/debounce';
import TerritoryService from '@/services/territory.service';

export default {
  props: {
    value: {
      type: Array,
      default: () => []
    },
    label: {
      type: String,
      default: ''
    },
    maxResults: {
      type: Number,
      default: 15
    },
    readOnly: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      loading: false,
      search: null,
      items: [],
      result: null
    };
  },
  watch: {
    search(val) {
      if (val !== null && this.search !== this.result) {
        this.debouncedSearch();
      }
    }
  },
  created() {
    this.debouncedSearch = debounce(this.getItems, 500);
    this.getInitItems();
  },
  methods: {
    getInitItems() {
      if (this.value?.length>0 && this.search === null) {
        this.loading = true;
        let params = {
          sortBy: ['name'],
          sortDesc: [false],
          page: 1,
          perPage: this.value.length,
          filter: { id: this.value}
        };
        TerritoryService.getItems(params.sortBy, params.sortDesc, params.page, params.perPage, params.filter).then(response => {
          this.items = response.items;
          this.loading = false;
        }).catch( () => {
          this.loading = false;
        });
      }
    },
    getItems() {
      if (this.search !== null) {
        this.loading = true;
        let params = {
          sortBy: ['name'],
          sortDesc: [false],
          page: 1,
          perPage: this.maxResults,
          filter: {}
        };
        params.filter.name = this.search;
        TerritoryService.getItems(params.sortBy, params.sortDesc, params.page, params.perPage, params.filter).then(response => {
          this.items = response.items;
          this.loading = false;
        }).catch( () => {
          this.loading = false;
        });
      }
    }
  }  
};
</script>