<template>
  <div class="time_range_field">
    <v-range-slider
      v-model="value"
      :label="field.label+(field.required ? ' *' : '')"
      thumb-label="always"
      thumb-size="36"
      min="0"
      :max="times.length-1"
      :readonly="readOnly"
      :rules="[ rules ]"
      @change="change"
    >
      <template v-slot:thumb-label="props">
        {{ timeValue(props.value) }}
      </template>
    </v-range-slider>
  </div>
</template>

<script>
import DateFormatMixin from '@/mixins/DateFormat';
import moment from 'moment-timezone';

import {messages_dates_en, messages_dates_fr} from '@/translations/views/Dates/';
let messages_en = { dates: {...messages_dates_en } };
let messages_fr = { dates: {...messages_dates_fr } };

export default {
  components: {
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  mixins: [
    DateFormatMixin
  ],
  props: {
    resource: {
      type: String,
      default: null
    },
    field: {
      type: Object,
      default: () => {}
    },
    readOnly: {
      type: Boolean,
      default: false
    },
    timePrecision: {
      type: Number,
      default: 15
    }
  },
  data() {
    return {
      // init value, before loading is ended
      value: [0, 0]
    };
  },
  computed: {
    item() {
      return this.$store.getters[this.resource+'/editedItem'];
    },
    times() {
      let times = [];
      let minTime = moment('1970-01-01').set('hour',0).set('minute',0);
      let maxTime = moment('1970-01-01').set('hour',24).set('minute',0);
      do {
        times.push(this.asHourMinute(minTime));
        minTime.add(this.timePrecision, 'minutes');
      } while (minTime.isSameOrBefore(maxTime));
      return times;
    }
  },
  watch: {
    item: {
      immediate: true,
      handler() {
        this.value = [this.times.findIndex((element) => element === this.item[this.field.minField]),this.times.findIndex((element) => element === this.item[this.field.maxField])];
      }
    }
  },
  methods: {
    timeValue (val) {
      return this.times[val];
    },
    rules(val) {
      if (this.field.validation && this.field.validation.rule !== undefined) {
        switch (this.field.validation.rule) {
        case 'range':
          if (val[0] == val[1]) {
            return false;
          }
          break;
        }
      }
      return true;
    },
    change(val) {
      this.item[this.field.minField] = this.timeValue(val[0]);
      this.item[this.field.maxField] = this.timeValue(val[1]);
    }
  }
};
</script>