<template>
  <div class="user_email_field">
    <v-text-field :label="label" :hint="hint" :persistent-hint="persistentHint" :rules="rules" :value="internalValue" prepend-icon="mdi-email"
      @input="updateInternalValue" @update:error="updateError" />
    <!-- existing user dialog -->
    <v-dialog v-model="dialog" persistent max-width="400">
      <v-card>
        <v-card-title class="text-h5">
          {{ $t('userAlreadyExists') }}
        </v-card-title>
        <v-card-text>{{ $t('editExistingUser') }}</v-card-text>
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn text @click="dialog = false">
            {{ $t('cancel') }}
          </v-btn>
          <v-btn color="warning" text @click="edit()">
            {{ $t('valid') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import debounce from 'lodash/debounce';
import { messages_components_en, messages_components_fr } from '@/translations/components/field/UserEmailField/';
import UserService from '@/services/user.service';

export default {
  i18n: {
    messages: {
      'en': messages_components_en,
      'fr': messages_components_fr
    }
  },
  props: {
    value: {
      type: String,
      default: ''
    },
    label: {
      type: String,
      default: ''
    },
    hint: {
      type: String,
      default: ''
    },
    persistentHint: {
      type: Boolean,
      default: false
    },
    rules: {
      type: Array,
      default: () => []
    },
    dialogText: {
      type: String,
      default: ''
    },
    redirectTo: {
      type: String,
      default: ''
    },
    itemId: {
      type: String,
      default: "id"
    }
  },
  data() {
    return {
      internalValue: this.value,
      touched: false,
      valid: false,
      dialog: false,
      user: null
    };
  },
  watch: {
    value(value) {
      if (!this.touched) this.internalValue = value;
    },
  },
  methods: {
    updateInternalValue(value) {
      this.touched = true;
      this.updateValue(value);
    },
    updateValue: debounce(function (value) {
      this.touched = false;
      this.$emit('input', value);
      if (this.valid) {
        UserService.getItemByEmail(value).then( user => {
          this.user = user;
          this.dialog = true;
          this.valid = false;
        } );
      }
    }, 1000),
    updateError(val) {
      this.valid = !val;
    },
    edit() {
      this.dialog = false;
      this.$router.replace(this.$router.options.routes.find(route => route.name === this.redirectTo).path.replace(':' + this.itemId, this.user.id))
        .then(route => this.$emit('hard-refresh'));
    }
  }
};
</script>