<template>
  <v-card
    outlined
    :loading="loading"
    loader-height="8"
  >
    <v-toolbar flat>
      <!-- title -->
      <v-toolbar-title>
        <h2>{{ $t('editorial_list') }}</h2>
      </v-toolbar-title>
      <v-spacer />

      <!-- buttons -->
      <v-toolbar-items>
        <!-- add item -->
        <v-btn
          text
          color="green"
          :to="addItem()"
          :disabled="loading"
        >
          {{ $t('add') }}
          <v-icon right>
            mdi-plus
          </v-icon>
        </v-btn>

        <!-- refresh -->
        <v-btn
          text
          color="green"
          :loading="loading"
          @click="getItems()"
        >
          {{ $t('refresh') }}
          <v-icon right>
            mdi-table-refresh
          </v-icon>
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>

    <!-- data table -->
    <v-data-table
      v-model="selected"
      class="row-pointer"
      :headers="headers()"
      :items="items"
      :show-select="canExport"
      multi-sort
      :options.sync="options"
      :server-items-length="total"
      :footer-props="footerProps"
      @click:row="pushTo"
    >
      <template v-slot:top>
        <!-- filters -->
        <v-container>
          <v-row>
            <v-col
              v-for="onFilter in alwaysOnFilters()"
              :key="onFilter.name"
              :cols="onFilter.cols"
              :sm="onFilter.cols"
              :md="onFilter.cols"
            >
              <filter-choice
                :filter="filter"
                :on-filter="onFilter"
              />
            </v-col>
            <v-col
              v-if="optionalFilters().length>0"
              cols="4"
              sm="4"
              md="4"
            >
              <filter-list 
                v-model="selectedOptionalFilters"
                :list="optionalFilters()"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col
              v-for="onFilter in displayedOptionalFilters()"
              :key="onFilter.name"
              :cols="onFilter.cols"
              :sm="onFilter.cols"
              :md="onFilter.cols"
            >
              <filter-choice
                :filter="filter"
                :on-filter="onFilter"
              />
            </v-col>
          </v-row>
        </v-container>
        <!-- end filters -->
      </template>

      <!-- overload the columns data format -->
      <template v-slot:[`item.avatar`]="{ item }">
        <v-img 
          v-if="item.avatar"
          :src="item.avatar"
          aspect-ratio="1"
          max-height="125"
          contain
        />
      </template>
      <template v-slot:[`item.createdDate`]="{ item }">
        <span>{{ asSimpleDate(item.createdDate) }}</span>
      </template>
      <template v-slot:[`item.updatedDate`]="{ item }">
        <span>{{ asSimpleDate(item.updatedDate) }}</span>
      </template>
      <template v-slot:[`item.status`]="{ item }">
        <span>{{ getStatus(item.status) }}</span>
      </template>
      <!-- end column overload -->

      <!-- action column -->
      <template v-slot:[`item.actions`]="{ item }">
        <v-btn
          class="ma-2"
          color="primary"
          text
          :to="editItem(item)"
        >
          {{ $t('edit') }}
          <v-icon
            right
          >
            mdi-pencil
          </v-icon>
        </v-btn>
      </template>
      <!-- end action column -->
    </v-data-table>
  </v-card>
</template>

<script>
import ResourceListMixin from '@/mixins/ResourceList';
import PageTitleMixin from '@/mixins/PageTitle';
import DateFormatMixin from '@/mixins/DateFormat';
import FilterList from '@/components/filter/FilterList.vue';
import FilterChoice from '@/components/filter/FilterChoice.vue';

// import the translations
import {messages_routes_en, messages_routes_fr} from '@/translations/routes/'; 
import {messages_views_en, messages_views_fr} from '@/translations/views/Editorials/';
import {messages_dates_en, messages_dates_fr} from '@/translations/views/Dates/';
import {messages_models_en, messages_models_fr} from '@/translations/models/Editorial/';

let messages_en = { ...messages_views_en, dates: {...messages_dates_en }, routes: {...messages_routes_en }, editorial: { ...messages_models_en }};
let messages_fr = { ...messages_views_fr, dates: {...messages_dates_fr }, routes: {...messages_routes_fr }, editorial: { ...messages_models_fr }};

export default {
  components: {
    FilterList,
    FilterChoice
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  mixins: [
    ResourceListMixin,
    PageTitleMixin,
    DateFormatMixin
  ],
  data: () => ({
    // define the store module used
    resource: 'ed'
  }),
  methods: {
    // define the fields (used for guessing headers and filters)
    fields() {
      return [
        { label: this.$t('editorial.id'), name: 'id', filter: { type: 'number', cols: '2', alwaysOn: true} },
        { label: this.$t('editorial.image'), name: 'avatar', sortable: false },
        { label: this.$t('editorial.title'), name: 'title', filter: { type: 'text', cols: '2', alwaysOn: true} },
        { 
          label: this.$t('editorial.status.label'), name: 'status', filter: { 
            type: 'selectMultiple', 
            values: [ 
              { text: this.$t('editorial.status.items.pending.name'), value: this.$t('editorial.status.items.pending.value') }, 
              { text: this.$t('editorial.status.items.active.name'), value: this.$t('editorial.status.items.active.value') }
            ], cols: '2', alwaysOn: true} 
        },
        { label: this.$t('editorial.createdDate'), name: 'createdDate' },
        { label: this.$t('editorial.updatedDate'), name: 'updatedDate' },
        { label: this.$t('actions'), name: 'actions', sortable: false },
      ];
    },
    getStatus(val) {
      return this.fields()
        .filter(function(field) {
          if (field.name == 'status') {
            return true;
          }
          return false;
        })[0].filter.values.filter(function(value) {
          if (value.value == val) {
            return true;
          }
          return false;
        })[0].text;
    },
  }
};
</script>

<style> 
  @import "../../styles/ResourceList.scss";
</style>