<template>
  <div class="solidaryvolunteer">
    <!-- the 'if' in the v-card is used to be sure the item is loaded before continue -->
    <v-card
      outlined
      :loading="loading"
      loader-height="8"
    >
      <v-toolbar flat>
        <!-- back button -->
        <v-btn 
          v-if="editedItem"
          icon
          color="primary"
          @click="$router.push(parentComponentPath)"
        >
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>

        <!-- title -->
        <v-toolbar-title
          v-if="editedItem"
        >
          <h2>
            {{ $t('solidaryvolunteer_edit') }} 
            <v-chip
              class="ma-2"
              outlined
              :color="edited ? 'warning' : 'primary'"
              label
            >
              <v-avatar left>
                <v-img 
                  v-if="editedItem.avatar"
                  :src="editedItem.avatar"
                />
                <v-icon
                  v-else
                >
                  mdi-account-circle-outline
                </v-icon>
              </v-avatar>
              {{ editedItem.givenName }} {{ editedItem.familyName }}
            </v-chip>
          </h2>
        </v-toolbar-title>
        <v-spacer />

        <!-- buttons -->
        <v-toolbar-items>
          <v-btn
            text
            color="green"
            :loading="loading"
            @click="refresh()"
          >
            {{ $t('refresh') }}
            <v-icon>
              mdi-refresh
            </v-icon>
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>

      <!-- detail -->
      <v-card
        v-if="editedItem"
        flat
      >
        <v-form 
          ref="form"
          v-model="valid"
        >
          <!-- tabs list -->
          <v-tabs
            v-if="tabs.length>0"
            v-model="mtab"
          >
            <v-tab
              v-for="tab in tabs"
              :key="tab.label"
            >
              {{ tab.label }}
            </v-tab>
          </v-tabs>
          <v-divider />

          <!-- tabs content -->
          <v-tabs-items 
            v-model="mtab"
          >
            <v-tab-item
              v-for="tab in tabs"
              :key="tab.label"
            >
              <component 
                :is="tab.component"
                :field="tab.name"
                :item="editedItem"
                :edit="true"
              />
            </v-tab-item>
          </v-tabs-items>
        </v-form>
      </v-card>
      <v-card>
        <v-card-actions
          v-if="mtab==0 && editedItem"
        >
          <!-- save item -->
          <v-btn
            color="primary"
            :disabled="!edited || !valid || loading"
            @click="save()"
          >
            {{ $t('save') }}
            <v-icon right>
              mdi-content-save
            </v-icon>
          </v-btn>
          <v-spacer />
        </v-card-actions>
      </v-card>       
    </v-card>
    <!-- confirm action dialog -->
    <v-dialog
      v-model="dialog"
      persistent
      max-width="400"
    >
      <v-card>
        <v-card-title
          class="text-h5"
        >
          {{ dialogTitle }}
        </v-card-title>
        <v-card-text>{{ dialogText }}</v-card-text>
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn
            text
            @click="dialog = false"
          >
            {{ $t('cancel') }}
          </v-btn>
          <v-btn
            :color="dialogColor"
            text
            @click="launchAction()"
          >
            {{ $t('valid') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import ResourceEditMixin from '@/mixins/ResourceEdit';
import PageTitleMixin from '@/mixins/PageTitle';
import SolidaryVolunteerProofs from '@/components/solidary/solidaryVolunteer/SolidaryVolunteerProofs.vue';

// import the translations
import {messages_routes_en, messages_routes_fr} from '@/translations/routes/'; 
import {messages_views_en, messages_views_fr} from '@/translations/views/Solidary/SolidaryVolunteers/';
import {messages_models_en, messages_models_fr} from '@/translations/models/Solidary/SolidaryVolunteer/';
import SolidaryVolunteerAvailability from '@/components/field/SolidaryVolunteerAvailability.vue';

let messages_en = { ...messages_views_en, routes: {...messages_routes_en }, s: { ...messages_models_en } };
let messages_fr = { ...messages_views_fr, routes: {...messages_routes_fr }, s: { ...messages_models_fr } };

export default {
  components: {
    SolidaryVolunteerProofs,
    SolidaryVolunteerAvailability
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  mixins: [
    ResourceEditMixin,
    PageTitleMixin
  ],
  data() {
    return {
      // define the store module used
      resource: 'sld_v'
    };
  },
  computed: {
    tabs() {
      return [
        // Availabilities tab
        {
          label: this.$t('s.tab.availability'), id: 1, 
          component: 'SolidaryVolunteerAvailability',
          name: 'availabilities'
        },
        // eligibility tab
        {
          label: this.$t('s.tab.eligibility'), id: 2, 
          component: 'SolidaryVolunteerProofs'
        }
      ];
    }
  }
};
</script>