<template>
  <div>
    <v-alert
      class="mt-4"
      outlined
      type="warning"
    >
      En cours de développement
    </v-alert>
  </div>
</template>

<script>

// import the translations
import {messages_views_en, messages_views_fr} from '@/translations/views/Solidary/SolidaryVolunteers/';
import {messages_models_en, messages_models_fr} from '@/translations/models/Solidary/SolidaryVolunteer/';


let messages_en = { ...messages_views_en, s: { ...messages_models_en }};
let messages_fr = { ...messages_views_fr, s: { ...messages_models_fr }};

export default {
  components: { 
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  props: {
    
  },
  data() {
    return {
      
    };
  },
  computed: {
    item() {
      return this.$store.getters['sld_v/item'];
    },
  },
  methods: {
    
  }
};
</script>