<template>
  <v-card
    outlined
    :loading="loading"
    loader-height="8"
  >
    <v-toolbar flat>
      <!-- title -->
      <v-toolbar-title>
        <h2>{{ $t('solidaryvolunteer_list') }}</h2>
      </v-toolbar-title>
      <v-spacer />

      <!-- buttons -->
      <v-toolbar-items>
        <!-- refresh -->
        <v-btn
          text
          color="green"
          :loading="loading"
          @click="getItems()"
        >
          {{ $t('refresh') }}
          <v-icon right>
            mdi-table-refresh
          </v-icon>
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>

    <!-- data table -->
    <v-data-table
      class="row-pointer"
      :headers="headers()"
      :items="items"
      multi-sort
      :options.sync="options"
      :server-items-length="total"
      :footer-props="footerProps"
      @click:row="pushTo"
    >
      <template v-slot:top>
        <!-- filters -->
        <v-container>
          <v-row>
            <v-col
              v-for="onFilter in alwaysOnFilters()"
              :key="onFilter.name"
              :cols="onFilter.cols"
              :sm="onFilter.cols"
              :md="onFilter.cols"
            >
              <filter-choice
                :filter="filter"
                :on-filter="onFilter"
              />
            </v-col>
            <v-col
              v-if="optionalFilters().length>0"
              cols="4"
              sm="4"
              md="4"
            >
              <filter-list 
                v-model="selectedOptionalFilters"
                :list="optionalFilters()"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col
              v-for="onFilter in displayedOptionalFilters()"
              :key="onFilter.name"
              :cols="onFilter.cols"
              :sm="onFilter.cols"
              :md="onFilter.cols"
            >
              <filter-choice
                :filter="filter"
                :on-filter="onFilter"
              />
            </v-col>
          </v-row>
        </v-container>
        <!-- end filters -->
      </template>
      
      <template v-slot:[`item.homeAddress`]="{ item }">
        <span class="text-overline">{{ item.homeAddress.displayLabel[0] }}</span>
      </template>

      <template v-slot:[`item.status`]="{ item }">
        <v-chip
          v-for="structure in item.structures"
          :key="structure.name"
          :color="structure.status == 0 ? 'warning' : (structure.status == 1 ? 'success' : 'error')"
          outlined
          label
          class="mr-2"
        >
          {{ structure.name }}
          <v-icon
            v-if="structure.status == 0"
            right
          >
            mdi-timer-sand
          </v-icon>
          <v-icon
            v-else-if="structure.status == 1"
            right
          >
            mdi-check
          </v-icon>
          <v-icon
            v-else-if="structure.status == 2"
            right
          >
            mdi-close
          </v-icon>
        </v-chip>
      </template>

      <template v-slot:[`item.mon`]="{ item }">
        <v-chip
          outlined
          label
          small
          class="mt-1"
          :color="item.mMon ? 'success' : 'error'"
        >
          {{ asHourMinute(item.mMinTime, true) }} - {{ asHourMinute(item.mMaxTime, true) }}
        </v-chip><br>
        <v-chip
          outlined
          label
          small
          class="mt-1"
          :color="item.aMon ? 'success' : 'error'"
        >
          {{ asHourMinute(item.aMinTime, true) }} - {{ asHourMinute(item.aMaxTime, true) }}
        </v-chip><br>
        <v-chip
          outlined
          label
          small
          class="mt-1 mb-1"
          :color="item.eMon ? 'success' : 'error'"
        >
          {{ asHourMinute(item.eMinTime, true) }} - {{ asHourMinute(item.eMaxTime, true) }}
        </v-chip>
      </template>

      <template v-slot:[`item.tue`]="{ item }">
        <v-chip
          outlined
          label
          small
          class="mt-1"
          :color="item.mTue ? 'success' : 'error'"
        >
          {{ asHourMinute(item.mMinTime, true) }} - {{ asHourMinute(item.mMaxTime, true) }}
        </v-chip><br>
        <v-chip
          outlined
          label
          small
          class="mt-1"
          :color="item.aTue ? 'success' : 'error'"
        >
          {{ asHourMinute(item.aMinTime, true) }} - {{ asHourMinute(item.aMaxTime, true) }}
        </v-chip><br>
        <v-chip
          outlined
          label
          small
          class="mt-1 mb-1"
          :color="item.eTue ? 'success' : 'error'"
        >
          {{ asHourMinute(item.eMinTime, true) }} - {{ asHourMinute(item.eMaxTime, true) }}
        </v-chip>
      </template>

      <template v-slot:[`item.wed`]="{ item }">
        <v-chip
          outlined
          label
          small
          class="mt-1"
          :color="item.mWed ? 'success' : 'error'"
        >
          {{ asHourMinute(item.mMinTime, true) }} - {{ asHourMinute(item.mMaxTime, true) }}
        </v-chip><br>
        <v-chip
          outlined
          label
          small
          class="mt-1"
          :color="item.aWed ? 'success' : 'error'"
        >
          {{ asHourMinute(item.aMinTime, true) }} - {{ asHourMinute(item.aMaxTime, true) }}
        </v-chip><br>
        <v-chip
          outlined
          label
          small
          class="mt-1 mb-1"
          :color="item.eWed ? 'success' : 'error'"
        >
          {{ asHourMinute(item.eMinTime, true) }} - {{ asHourMinute(item.eMaxTime, true) }}
        </v-chip>
      </template>

      <template v-slot:[`item.thu`]="{ item }">
        <v-chip
          outlined
          label
          small
          class="mt-1"
          :color="item.mThu ? 'success' : 'error'"
        >
          {{ asHourMinute(item.mMinTime, true) }} - {{ asHourMinute(item.mMaxTime, true) }}
        </v-chip><br>
        <v-chip
          outlined
          label
          small
          class="mt-1"
          :color="item.aThu ? 'success' : 'error'"
        >
          {{ asHourMinute(item.aMinTime, true) }} - {{ asHourMinute(item.aMaxTime, true) }}
        </v-chip><br>
        <v-chip
          outlined
          label
          small
          class="mt-1 mb-1"
          :color="item.eThu ? 'success' : 'error'"
        >
          {{ asHourMinute(item.eMinTime, true) }} - {{ asHourMinute(item.eMaxTime, true) }}
        </v-chip>
      </template>

      <template v-slot:[`item.fri`]="{ item }">
        <v-chip
          outlined
          label
          small
          class="mt-1"
          :color="item.mFri ? 'success' : 'error'"
        >
          {{ asHourMinute(item.mMinTime, true) }} - {{ asHourMinute(item.mMaxTime, true) }}
        </v-chip><br>
        <v-chip
          outlined
          label
          small
          class="mt-1"
          :color="item.aFri ? 'success' : 'error'"
        >
          {{ asHourMinute(item.aMinTime, true) }} - {{ asHourMinute(item.aMaxTime, true) }}
        </v-chip><br>
        <v-chip
          outlined
          label
          small
          class="mt-1 mb-1"
          :color="item.eFri ? 'success' : 'error'"
        >
          {{ asHourMinute(item.eMinTime, true) }} - {{ asHourMinute(item.eMaxTime, true) }}
        </v-chip>
      </template>

      <template v-slot:[`item.sat`]="{ item }">
        <v-chip
          outlined
          label
          small
          class="mt-1"
          :color="item.mSat ? 'success' : 'error'"
        >
          {{ asHourMinute(item.mMinTime, true) }} - {{ asHourMinute(item.mMaxTime, true) }}
        </v-chip><br>
        <v-chip
          outlined
          label
          small
          class="mt-1"
          :color="item.aSat ? 'success' : 'error'"
        >
          {{ asHourMinute(item.aMinTime, true) }} - {{ asHourMinute(item.aMaxTime, true) }}
        </v-chip><br>
        <v-chip
          outlined
          label
          small
          class="mt-1 mb-1"
          :color="item.eSat ? 'success' : 'error'"
        >
          {{ asHourMinute(item.eMinTime, true) }} - {{ asHourMinute(item.eMaxTime, true) }}
        </v-chip>
      </template>

      <template v-slot:[`item.sun`]="{ item }">
        <v-chip
          outlined
          label
          small
          class="mt-1"
          :color="item.mSun ? 'success' : 'error'"
        >
          {{ asHourMinute(item.mMinTime, true) }} - {{ asHourMinute(item.mMaxTime, true) }}
        </v-chip><br>
        <v-chip
          outlined
          label
          small
          class="mt-1"
          :color="item.aSun ? 'success' : 'error'"
        >
          {{ asHourMinute(item.aMinTime, true) }} - {{ asHourMinute(item.aMaxTime, true) }}
        </v-chip><br>
        <v-chip
          outlined
          label
          small
          class="mt-1 mb-1"
          :color="item.eSun ? 'success' : 'error'"
        >
          {{ asHourMinute(item.eMinTime, true) }} - {{ asHourMinute(item.eMaxTime, true) }}
        </v-chip>
      </template>

      <!-- action column -->
      <template v-slot:[`item.actions`]="{ item }">
        <v-btn
          v-if="$store.getters['auth/authorized']('solidary_volunteer_update')"
          class="ma-2"
          color="primary"
          text
          :to="editItem(item)"
        >
          {{ $t('edit') }}
          <v-icon
            right
          >
            mdi-pencil
          </v-icon>
        </v-btn>
      </template>
      <!-- end action column -->
    </v-data-table>
  </v-card>
</template>

<script>
import ResourceListMixin from '@/mixins/ResourceList';
import PageTitleMixin from '@/mixins/PageTitle';
import DateFormatMixin from '@/mixins/DateFormat';
import FilterList from '@/components/filter/FilterList.vue';
import FilterChoice from '@/components/filter/FilterChoice.vue';

// import the translations
import {messages_routes_en, messages_routes_fr} from '@/translations/routes/'; 
import {messages_dates_en, messages_dates_fr} from '@/translations/views/Dates/';
import {messages_views_en, messages_views_fr} from '@/translations/views/Solidary/SolidaryVolunteers/';
import {messages_models_en, messages_models_fr} from '@/translations/models/Solidary/SolidaryVolunteer/';

let messages_en = { ...messages_views_en, dates: {...messages_dates_en }, routes: {...messages_routes_en }, sv: { ...messages_models_en } };
let messages_fr = { ...messages_views_fr, dates: {...messages_dates_fr }, routes: {...messages_routes_fr }, sv: { ...messages_models_fr } };

export default {
  components: {
    FilterList,
    FilterChoice
  },
  // keep the translations (or change it if needed)
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  // keep the mixins
  mixins: [
    ResourceListMixin,
    PageTitleMixin,
    DateFormatMixin
  ],
  data: () => ({
    // define the store module used
    resource: 'sld_v',
  }),
  methods: {
    // define the fields (used for guessing headers and filters)
    fields() {
      return [
        { label: this.$t('sv.id'), name: 'id', filter: { type: 'number', cols: '2', alwaysOn: true} },
        { label: this.$t('sv.givenName'), name: 'givenName', filter: { type: 'text', cols: '2', alwaysOn: true} },
        { label: this.$t('sv.familyName'), name: 'familyName', filter: { type: 'text', cols: '2', alwaysOn: true} },
        { label: this.$t('sv.homeAddress'), name: 'homeAddress', sortable: false },
        { label: this.$t('sv.status'), name: 'status', sortable: false },
        { label: this.$t('mon'), name: 'mon', sortable: false },
        { label: this.$t('tue'), name: 'tue', sortable: false },
        { label: this.$t('wed'), name: 'wed', sortable: false },
        { label: this.$t('thu'), name: 'thu', sortable: false },
        { label: this.$t('fri'), name: 'fri', sortable: false },
        { label: this.$t('sat'), name: 'sat', sortable: false },
        { label: this.$t('sun'), name: 'sun', sortable: false },
        { label: this.$t('actions'), name: 'actions', sortable: false },
      ];
    },
  }
};
</script>

<style> 
  @import "../../../styles/ResourceList.scss";
</style>