<template>
  <div class="user">
    <!-- the 'if' in the v-card is used to be sure the item is loaded before continue -->
    <v-card
      outlined
      :loading="loading"
      loader-height="8"
    >
      <v-toolbar flat>
        <!-- back button -->
        <v-btn
          v-if="editedItem"  
          icon
          color="primary"
          @click="$router.push(parentComponentPath)"
        >
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>

        <!-- title -->
        <v-toolbar-title 
          v-if="editedItem"
        >
          <h2>
            {{ edit ? $t('hitch_hiker_edit') : $t('hitch_hiker_add') }} 
            <v-chip
              class="ma-2"
              outlined
              :color="edited ? 'warning' : 'primary'"
              label
            >
              <v-avatar left>
                <v-img 
                  v-if="editedItem.avatar"
                  :src="editedItem.avatar"
                />
                <v-icon
                  v-else
                >
                  mdi-account-circle-outline
                </v-icon>
              </v-avatar>
              {{ editedItem.givenName }} {{ editedItem.familyName }}
            </v-chip>
          </h2>
        </v-toolbar-title>
        <v-spacer />

        <!-- buttons -->
        <v-toolbar-items>
          <v-btn
            text
            color="green"
            :loading="loading"
            @click="edit ? refresh() : restart()"
          >
            {{ edit ? $t('refresh') : $t('restart') }}
            <v-icon
              v-if="edit"
            >
              mdi-refresh
            </v-icon>
            <v-icon
              v-else
            >
              mdi-restart
            </v-icon>
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>

      <!-- detail -->
      <v-card
        v-if="editedItem"
        flat
      >
        <v-form 
          ref="form"
          v-model="valid"
        >
          <!-- tabs list -->
          <v-tabs
            v-if="tabs.length>=1"
            v-model="mtab"
          >
            <v-tab
              v-for="tab in tabs"
              :key="tab.label"
            >
              {{ tab.label }}
            </v-tab>
          </v-tabs>
          <v-divider />

          <!-- tabs content -->
          <v-tabs-items 
            v-model="mtab"
          >
            <v-tab-item
              v-for="tab in tabs"
              :key="tab.label"
            >
              <!-- container for regular fields -->
              <v-container
                v-if="tab.rows"
              >
                <v-row 
                  v-for="row in tab.rows"
                  :key="row.id"
                >
                  <v-col
                    v-for="field in row.fields"
                    :key="field.name"
                    :cols="field.cols"
                    :sm="field.cols"
                    :md="field.cols"
                  >
                    <!-- all fields are handled by a v-model, except some components (geocomplete, image...), this is why there are event handlers -->
                    <field-choice
                      :resource="resource"
                      :field="field"
                      @address-changed="addressChanged"
                      @hard-refresh="hardRefresh()"
                    />
                  </v-col>
                </v-row>
                <v-alert
                  v-if="addressIncomplete && eecAvailable"
                  type="info"
                >
                  {{ $t('warningHomeAddressIncomplete') }}
                </v-alert>                
              </v-container>
              <!-- special fields, handled by their dedicated component -->
              <component 
                :is="tab.component"
                v-else-if="tab.component"
                :proofs="item.identityProofs"
                :edit="true"
                :user-id="editedItem.id"
                @validated="hardRefresh()"
              />
            </v-tab-item>
          </v-tabs-items>
        </v-form>
      </v-card>  
      <!-- edit buttons -->
      <v-card-actions
        v-if="editedItem"
      >
        <!-- save item -->
        <v-btn
          color="primary"
          :disabled="!edited || !valid || loading"
          @click="save()"
        >
          {{ $t('save') }}
          <v-icon right>
            mdi-content-save
          </v-icon>
        </v-btn>  
      </v-card-actions>
    </v-card>

    <!-- confirm action dialog -->
    <v-dialog
      v-model="dialog"
      persistent
      max-width="400"
    >
      <v-card>
        <v-card-title
          class="text-h5"
        >
          {{ dialogTitle }}
        </v-card-title>
        <v-card-text>{{ dialogText }}</v-card-text>
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn
            text
            @click="dialog = false"
          >
            {{ $t('cancel') }}
          </v-btn>
          <v-btn
            :color="dialogColor"
            text
            @click="launchAction()"
          >
            {{ $t('valid') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import FieldChoice from '@/components/field/FieldChoice.vue';
import ResourceEditMixin from '@/mixins/ResourceEdit';
import PageTitleMixin from '@/mixins/PageTitle';
import HitchHikerIdentityProofs from '@/components/hitchHiker/HitchHikerIdentityProofs.vue';
import moment from 'moment';

// import the translations
import {messages_routes_en, messages_routes_fr} from '@/translations/routes/'; 
import {messages_views_en, messages_views_fr} from '@/translations/views/Users/';
import {messages_models_en, messages_models_fr} from '@/translations/models/User/';

let messages_en = { ...messages_views_en, routes: {...messages_routes_en }, user: { ...messages_models_en }};
let messages_fr = { ...messages_views_fr, routes: {...messages_routes_fr }, user: { ...messages_models_fr }};

export default {
  components: {
    FieldChoice, 
    HitchHikerIdentityProofs
  },
  i18n: {
    messages: {
      'en': messages_en,
      'fr': messages_fr
    }
  },
  mixins: [
    ResourceEditMixin,
    PageTitleMixin
  ],
  data() {
    return {
      // define the store module used
      resource: 'h'
    };
  },
  computed: {
    manualIdentityValidation() {
      if (!this.edit) return false;
      if (this.editedItem?.identityProofs?.length > 0) {
        if (this.editedItem.identityProofs.filter( proof => proof.status == 1 ).length > 0) return false;
      }
      return true;
    },
    hitchHiker() {
      return this.editedItem;
    },
    hitchHikerEmail() {
      return this.hitchHiker?.email;
    },
    emailHint() {
      return this.$t('user.emailHint');
    },
    telephoneRequired() {
      return !this.hitchHikerEmail;
    },
    telephoneHint() {
      return this.telephoneRequired ? this.$t('user.telephoneHint') : null;
    },
    tabs() {
      let ltabs = [];
      let birthDate_row = [
        { label: this.$t('user.newsSubscription'), name: 'newsSubscription', type: 'switch', cols: '4' },
        { label: this.$t('user.birthDate'), name: 'birthDate', type: 'date', cols: '4', nullable: false },
      ]
      let identity_rows = [
        {
          id: 1,
          fields: [
            { label: this.$t('user.email'), name: 'email', type: 'useremail', hint: this.emailHint, persistentHint: !!this.emailHint, cols:'4',redirectTo: 'hitchhiker_edit', required: false, nullable: true, icon: 'mdi-email', validation: { required: this.$t('user.emailRequired'), valid: this.$t('user.emailValid'), rule: 'email' } },
            { label: this.$t('user.telephone'), name: 'telephone', type: 'text', cols:'4', hint: this.telephoneHint, persistentHint: !!this.telephoneHint, required: this.telephoneRequired, nullable: !this.telephoneRequired, icon: 'mdi-phone', validation: { required: this.$t('user.telephoneRequired') } }
          ]
        },
        {
          id: 2,
          fields:
            [
              
              { label: this.$t('user.id'), name: 'id', type: 'text', cols: '1', disabled: true },
              
              { label: '', name: 'spacer', type: 'spacer', cols: '3' },
              {
              label: this.$t('user.gender.label'), name: 'gender', type: 'select',
              values: [
                { text: this.$t('user.gender.items.other.name'), value: parseInt(this.$t('user.gender.items.other.value')) },
                { text: this.$t('user.gender.items.female.name'), value: parseInt(this.$t('user.gender.items.female.value')) },
                { text: this.$t('user.gender.items.male.name'), value: parseInt(this.$t('user.gender.items.male.value')) }
              ], cols: '4', required: true, nullable: false, validation: { required: this.$t('user.genderRequired') }
              },
            ]
        },
        {
          id: 3,
          fields: [
            { label: this.$t('user.givenName'), name: 'givenName', type: 'text', cols: '4', required: true, nullable: false, validation: { required: this.$t('user.givenNameRequired'), rule: 'limit', counter: 255, valid: this.$t('user.givenNameLimit') } },
            { label: this.$t('user.familyName'), name: 'familyName', type: 'text', cols: '4', required: true, nullable: false, validation: { required: this.$t('user.familyNameRequired'), rule: 'limit', counter: 255, valid: this.$t('event.familyNameLimit') } }
          ]
        },
        {
          id: 4,
          fields: birthDate_row
        },
        {
          id: 5,
          fields: [
            { label: this.$t('user.homeAddress'), name: 'homeAddress', type: 'geocomplete', cols: '8', nullable: true, icon: 'mdi-home-map-marker' },
          ]
        },
        {
          id: 6,
          fields: [
            { label: this.$t('user.hitchHikerPassenger'), name: 'hitchHikePassenger', type: 'switch', cols: '4' },
            { label: this.$t('user.hitchHikerDriver'), name: 'hitchHikeDriver', type: 'switch', cols: '4' },
          ]
        },
        {
          id: 7,
          fields: [
            { label: this.$t('user.rezoKit.label'), name: 'rezoKit', type: 'switch', cols: '4' },
            { label: this.$t('user.cardLetter.label'), name: 'cardLetter', type: 'switch', cols: '4' }
          ]
        }
      ];
      ltabs.push(
        {
          label: this.$t('user.tab.identity'), id: 1, 
          rows: identity_rows
        }
      );
      if (this.$store.getters['auth/authorized']('identity_proofs_manage') && this.editedItem?.identityProofs?.length >= 0) {
        ltabs.push({
          label: this.$t('user.tab.identityProof'), id: 2,
          component: 'HitchHikerIdentityProofs'
        });
      };
      if (this.editedItem && this.checkIfUnder18(this.editedItem)) {
        birthDate_row.push(
          { label: this.$t('user.legalGuardianEmail.label'), name: 'legalGuardianEmail', type: 'useremail', cols:'4',required: true, nullable: false, validation: { required: this.$t('user.legalGuardianEmail.required'), valid: this.$t('user.emailValid'), rule: 'email' }},
        )
      }
        
      return ltabs;
    },
    addressIncomplete() {
      if(this.editedItem.homeAddress && this.editedItem.homeAddress.addressLocality && !this.editedItem.homeAddress.street && !this.editedItem.homeAddress.streetAddress){
        return true;
      }
      
      return false;
    },
    eecAvailable() {
      return localStorage.getItem('eecAvailable') == 'true';
    }
  },
  watch: {
    valid() {
      this.$emit('valid',this.valid);
    },
    telephoneRequired() {
      this.$refs.form.resetValidation();
      this.$refs.form.validate(); 
    }
  },
  methods: {
    // handler for geocomplete
    addressChanged(address) {
      this.editedItem[address.field] = address.address;
    },
    checkIfUnder18(user) {
      if (moment().diff(user.birthDate, 'year') < 18) {
        console.log('under18');
        return true;
      } 
      user.legalGuardianEmail = null;
      return false;
    }
  }
};
</script>